Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

remove irrelevant commits
  tools/mcp-server/internal/resources/alias_test.go
  tools/mcp-server/internal/resources/resources.go
  tools/mcp-server/internal/resources/tags.go
  tools/mcp-server/internal/resources/tags_test.go
  tools/mcp-server/internal/resources/testhelper_test.go
  tools/mcp-server/internal/resources/uri.go
Due: ./tools/cli/precommit.sh

fix: update kin-openapi dependency for mcp server
  tools/mcp-server/go.mod
  tools/mcp-server/internal/resources/alias.go
  tools/mcp-server/internal/resources/specs_test.go
  tools/mcp-server/internal/resources/testhelper_test.go
Due: ./tools/cli/precommit.sh

revert the irrelevant change
  tools/mcp-server/go.mod
Due: none

fix
  tools/mcp-server/internal/resources/alias_test.go
  tools/mcp-server/internal/resources/tags.go
  tools/mcp-server/internal/resources/testhelper_test.go
  tools/mcp-server/internal/resources/uri.go
Due: ./tools/cli/precommit.sh

fix
  tools/mcp-server/internal/resources/tags_test.go
Due: ./tools/cli/precommit.sh

feat(ipa): New rule for IPA 117 - requests/responses must be well defined
  tools/spectral/ipa/__tests__/IPA117RequestResponseBodiesMustBeWellDefined.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117RequestResponseBodiesMustBeWellDefined.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: address review
  tools/spectral/ipa/__tests__/IPA117RequestResponseBodiesMustBeWellDefined.test.js
  tools/spectral/ipa/__tests__/utils/componentUtils.test.js
  tools/spectral/ipa/rulesets/functions/IPA117RequestResponseBodiesMustBeWellDefined.js
  tools/spectral/ipa/rulesets/functions/utils/componentUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat: add operations resource to mcp server
  tools/cli/pkg/apiversion/apiversion.go
  tools/mcp-server/internal/resources/alias_test.go
  tools/mcp-server/internal/resources/operations.go
  tools/mcp-server/internal/resources/operations_helpers.go
  tools/mcp-server/internal/resources/operations_test.go
  tools/mcp-server/internal/resources/resources.go
  tools/mcp-server/internal/resources/tags_test.go
  tools/mcp-server/internal/resources/testhelper_test.go
  tools/mcp-server/internal/resources/uri.go
  tools/mcp-server/internal/resources/uri_test.go
Due: ./tools/cli/precommit.sh

simplify comments
  tools/cli/pkg/apiversion/apiversion.go
  tools/mcp-server/internal/resources/operations_helpers.go
Due: ./tools/cli/precommit.sh

feat: add schemas resource to mcp server
  tools/mcp-server/internal/resources/alias_test.go
  tools/mcp-server/internal/resources/resources.go
  tools/mcp-server/internal/resources/schemas.go
  tools/mcp-server/internal/resources/schemas_helpers.go
  tools/mcp-server/internal/resources/schemas_test.go
  tools/mcp-server/internal/resources/testhelper_test.go
  tools/mcp-server/internal/resources/uri.go
  tools/mcp-server/internal/resources/uri_test.go
Due: ./tools/cli/precommit.sh

fix: make check for schema property only
  tools/spectral/ipa/__tests__/IPA117RequestResponseBodiesMustBeWellDefined.test.js
  tools/spectral/ipa/__tests__/utils/componentUtils.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/functions/IPA117RequestResponseBodiesMustBeWellDefined.js
  tools/spectral/ipa/rulesets/functions/utils/componentUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: import and docs
  tools/spectral/ipa/__tests__/utils/componentUtils.test.js
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests

ci(ipa): release new version 10.1.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

fix: resolve stack overflow with circular schema references
  tools/cli/internal/cli/slice/slice.go
  tools/cli/internal/cli/split/split.go
  tools/cli/internal/openapi/filter/extension.go
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/versioning.go
Due: ./tools/cli/precommit.sh

feat: add to and from flags to FOASCLI sunset diff command
  tools/cli/internal/cli/sunset/diff.go
  tools/cli/internal/cli/sunset/diff_test.go
  tools/cli/test/e2e/cli/sunset_test.go
Due: ./tools/cli/precommit.sh

fix: lint
  tools/cli/internal/cli/sunset/diff_test.go
Due: ./tools/cli/precommit.sh

fix: use path.join
  tools/cli/test/e2e/cli/sunset_test.go
Due: ./tools/cli/precommit.sh

fix: allow only one flag of to/from and add test
  tools/cli/internal/cli/sunset/diff_test.go
  tools/cli/internal/cli/sunset/list.go
Due: ./tools/cli/precommit.sh

revert: undo previous circular-ref fix attempt
  tools/cli/internal/cli/slice/slice.go
  tools/cli/internal/cli/split/split.go
  tools/cli/internal/openapi/filter/extension.go
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/versioning.go
Due: ./tools/cli/precommit.sh

fix: address comments
  tools/cli/internal/cli/sunset/diff.go
  tools/cli/internal/cli/sunset/diff_test.go
  tools/cli/internal/cli/sunset/list.go
Due: ./tools/cli/precommit.sh

feat(openapi): add Duplicate helper for independent spec copies
  tools/cli/internal/openapi/oasutil/oasutil.go
  tools/cli/internal/openapi/oasutil/oasutil_test.go
Due: ./tools/cli/precommit.sh

refactor(filter): use oasutil.Duplicate instead of private helper
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/filter_test.go
Due: ./tools/cli/precommit.sh

chore(split): drop warning-only post-filter Validate call
  tools/cli/internal/cli/split/split.go
Due: ./tools/cli/precommit.sh

fix(slice): drop post-slice Validate call that crashes on circular refs
  tools/cli/internal/cli/slice/slice.go
Due: ./tools/cli/precommit.sh

test(slice): add regression guard for input-file mutation
  tools/cli/internal/cli/slice/slice_test.go
Due: ./tools/cli/precommit.sh

refactor(slice): operate on a duplicate instead of mutating in place
  tools/cli/internal/cli/slice/slice.go
Due: ./tools/cli/precommit.sh

ci: fix FOASCLI goreleaser
  tools/cli/.goreleaser.yml
Due: none

ci: fix FOASCLI goreleaser
  tools/go.work
  tools/mcp-server/go.mod
Due: none

ci: disable workspace mode
  .github/workflows/release-cli.yml
Due: none

Revert "ci: fix FOASCLI goreleaser (#1245)"
  tools/cli/.goreleaser.yml
Due: none

address the comments
  tools/mcp-server/go.mod
  tools/mcp-server/go.sum
  tools/mcp-server/internal/resources/alias.go
  tools/mcp-server/internal/resources/operations.go
Due: ./tools/cli/precommit.sh

ci: declare contents:read on api-versions-reminder workflow
  .github/workflows/api-versions-reminder.yml
Due: none

ci: declare contents:read on changelog-report workflow
  .github/workflows/changelog-report.yml
Due: none

ci: declare contents:read on ipa-changelog workflow
  .github/workflows/ipa-changelog.yml
Due: none

ci: declare contents:read on semantic-commit workflow
  .github/workflows/semantic-commit.yml
Due: none

ci(shellcheck): cap GITHUB_TOKEN to contents: read
  .github/workflows/shellcheck.yml
Due: none

CLOUDP-407644: add actions to the warning violation jira ticket
  .github/scripts/handle_warning_violations.sh
Due: none

feat: add cleanup process for sunsetted postman collections
  .github/workflows/release-postman.yml
  tools/postman/Makefile
  tools/postman/scripts/delete-sunsetted-collections.sh
Due: none
