Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

CLOUDP-328960: Added tests for custom method rule
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA109ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328960: Fixed tests to match error messages
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328960: Missing test error correction
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328960: Graceful return for custom method edge case
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP 328960: OperationID Validation function for :action custom methods (#815)
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA109ValidOperationID.test.js
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-330237: Removed OperationID Validation yamls and updated docs
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier
  tools/spectral/ipa/rulesets/IPA-107.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-330237: Silenced OperationID validation tests
  package.json
Due: prettier --write

CLOUDP-330237: Removed OperationID Validation yamls and tests (#816)
  package.json
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Test extension detection
  tools/spectral/ipa/rulesets/functions/utils/extensions.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: update action to use the correct script
  .github/workflows/api-versions-reminder.yml
Due: none

fix: fix script to use correct date format
  .github/scripts/get_sunset_apis.sh
Due: none

CLOUDP-306294: Get/List extension implementation
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/extensions.js
  tools/spectral/ipa/rulesets/functions/utils/methodLogic.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306294: Final get/list logic
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306294: Final create, update, delete logic
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306294: Draft custom method extension handling
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306294: Uncommented extension utilities
  tools/spectral/ipa/rulesets/functions/utils/extensions.js
  tools/spectral/ipa/rulesets/functions/utils/methodLogic.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306294: updated utilities to handle get/list edge cases
  tools/spectral/ipa/rulesets/functions/utils/methodLogic.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Edit to logic to handle outliers
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Edit logic to handle outliers
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306294: Refactored and commented opID related utilities
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/extensions.js
  tools/spectral/ipa/rulesets/functions/utils/methodLogic.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fixed flawed test
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Added tests for extension utilities
  tools/spectral/ipa/__tests__/utils/extensions.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306294: silenced opIdgeneration tests + prettier
  package.json
  tools/spectral/ipa/__tests__/utils/extensions.test.js
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/extensions.js
  tools/spectral/ipa/rulesets/functions/utils/methodLogic.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix lint errors
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/methodLogic.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Update tools/spectral/ipa/rulesets/functions/utils/extensions.js
  tools/spectral/ipa/rulesets/functions/utils/extensions.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Apply refactor suggestions from code review
  tools/spectral/ipa/rulesets/functions/utils/extensions.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

cleaned up hasMethodWithVerbOverride logic
  tools/spectral/ipa/rulesets/functions/utils/extensions.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Apply suggestions from code review
  tools/spectral/ipa/__tests__/utils/extensions.test.js
  tools/spectral/ipa/rulesets/functions/utils/methodLogic.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

renamed utils and enabled opID unit tests
  package.json
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/methodLogic.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306294: Refactored IPA109 Validation function + prettier
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/extensions.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Simplify utility logic
  tools/spectral/ipa/rulesets/functions/utils/methodLogic.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

remove import
  tools/spectral/ipa/rulesets/functions/utils/methodLogic.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP 306294: Add x-xgen-method-verb-override extension logic (#817)
  package.json
  tools/spectral/ipa/__tests__/utils/extensions.test.js
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/extensions.js
  tools/spectral/ipa/rulesets/functions/utils/methodLogic.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-329982: Added link to IPAs in readme
  README.md
Due: prettier --write

CLOUDP-329982: Added IPA mentions + link
  tools/README.md
  tools/spectral/README.md
Due: prettier --write

CLOUDP-329982: Changed to external friendly IPA reference
  tools/spectral/ipa/README.md
Due: prettier --write

CLOUDP-329982: Changed comment links
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/IPA-118.yaml
  tools/spectral/ipa/rulesets/IPA-119.yaml
  tools/spectral/ipa/rulesets/IPA-121.yaml
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/IPA-124.yaml
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/IPA-126.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-329982: Changed doc script to generated external IPA link
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/scripts/generateRulesetReadme.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP 329982: Documentation changes to public IPA links (#818)
  README.md
  tools/README.md
  tools/spectral/README.md
  tools/spectral/ipa/README.md
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/IPA-118.yaml
  tools/spectral/ipa/rulesets/IPA-119.yaml
  tools/spectral/ipa/rulesets/IPA-121.yaml
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/IPA-124.yaml
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/IPA-126.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/scripts/generateRulesetReadme.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js
