Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

fix: uncomment workflow
  .github/workflows/ipa-release.yml
Due: none

fix
  .github/workflows/ipa-release.yml
Due: none

ci(ipa): fix IPA release tag creation (#892)
  .github/workflows/ipa-release.yml
Due: none

feat(ipa): new IPA rule xgen-IPA-125-oneOf-must-accompany-oneOf-anyOf-allOf
  tools/spectral/ipa/__tests__/IPA125DiscriminatorMustAccompanyOneOfAnyOfAllOf.test.js
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA125DiscriminatorMustAccompanyOneOfAnyOfAllOf.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: README
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

fix: exception level
  tools/spectral/ipa/__tests__/IPA125DiscriminatorMustAccompanyOneOfAnyOfAllOf.test.js
  tools/spectral/ipa/rulesets/functions/IPA125DiscriminatorMustAccompanyOneOfAnyOfAllOf.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: address metric level
  tools/spectral/ipa/__tests__/IPA125OneOfSchemaPropertySameType.test.js
  tools/spectral/ipa/rulesets/functions/IPA125OneOfSchemaPropertySameType.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat(ipa): New rule xgen-IPA-125-oneOf-schema-property-same-type (#873)
  tools/spectral/ipa/__tests__/IPA125OneOfSchemaPropertySameType.test.js
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA125OneOfSchemaPropertySameType.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): release new version 1.1.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 1.1.0 (#894)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

fix: naming
  tools/spectral/ipa/__tests__/IPA125DiscriminatorMustAccompanyOneOfAnyOfAllOf.test.js
  tools/spectral/ipa/rulesets/IPA-125.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: ipa docs
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

fix: format
  tools/spectral/ipa/rulesets/IPA-125.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix
  tools/spectral/ipa/__tests__/IPA125DiscriminatorMustAccompanyOneOfAnyOfAllOf.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix(ipa): include schema descriptions in IPA117 rules
  tools/spectral/ipa/__tests__/IPA117DescriptionEndsWithPeriod.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionMustNotUseHtml.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseLinks.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseTables.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionStartsWithUpperCase.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-117.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

docs: update docs
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: update comments to new ticket
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: prettier
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: metric path
  tools/spectral/ipa/__tests__/IPA125DiscriminatorMustAccompanyOneOfAnyOfAllOf.test.js
  tools/spectral/ipa/rulesets/functions/IPA125DiscriminatorMustAccompanyOneOfAnyOfAllOf.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix(ipa): include schema descriptions in IPA117 rules (#895)
  tools/spectral/ipa/__tests__/IPA117DescriptionEndsWithPeriod.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionMustNotUseHtml.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseLinks.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseTables.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionStartsWithUpperCase.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa):child path identifiers inherit parent path exceptions
  tools/spectral/ipa/__tests__/IPA102CollectionIdentifierCamelCase.test.js
  tools/spectral/ipa/__tests__/IPA102CollectionIdentifierPattern.test.js
  tools/spectral/ipa/__tests__/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.test.js
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierCamelCase.js
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierPattern.js
  tools/spectral/ipa/rulesets/functions/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.js
  tools/spectral/ipa/rulesets/functions/utils/exceptions.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier fix
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierCamelCase.js
  tools/spectral/ipa/rulesets/functions/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.js
  tools/spectral/ipa/rulesets/functions/utils/exceptions.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat(ipa): new IPA rule xgen-IPA-125-discriminator-must-accompany-oneOf-anyOf-allOf (#893)
  tools/spectral/ipa/__tests__/IPA125DiscriminatorMustAccompanyOneOfAnyOfAllOf.test.js
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA125DiscriminatorMustAccompanyOneOfAnyOfAllOf.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/__tests__/IPA102CollectionIdentifierCamelCase.test.js
  tools/spectral/ipa/__tests__/IPA102CollectionIdentifierPattern.test.js
  tools/spectral/ipa/__tests__/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.test.js
  tools/spectral/ipa/__tests__/utils/collectionUtils.test.js
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierCamelCase.js
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierPattern.js
  tools/spectral/ipa/rulesets/functions/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.js
  tools/spectral/ipa/rulesets/functions/utils/collectionUtils.js
  tools/spectral/ipa/rulesets/functions/utils/exceptions.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

address the comments
  tools/spectral/ipa/rulesets/functions/utils/collectionUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

address the comments
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierCamelCase.js
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierPattern.js
  tools/spectral/ipa/rulesets/functions/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

address the comments
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): new rule xgen-IPA-117-operation-summary-format
  tools/spectral/ipa/__tests__/IPA117OperationSummaryFormat.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117OperationSummaryFormat.js
  tools/spectral/ipa/rulesets/functions/IPA126TagNamesShouldUseTitleCase.js
  tools/spectral/ipa/rulesets/functions/utils/casing.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): release new version 2.0.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

fix: refactor
  tools/spectral/ipa/rulesets/functions/IPA117OperationSummaryFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

ci fixes
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierCamelCase.js
  tools/spectral/ipa/rulesets/functions/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): release new version 2.0.0 (#898)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci fixes
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci fixes
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/package.json
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci fixes
  tools/spectral/ipa/package.json
Due: prettier --write

fix(ipa): child path identifiers inherit parent path exceptions (#896)
  tools/spectral/ipa/__tests__/IPA102CollectionIdentifierCamelCase.test.js
  tools/spectral/ipa/__tests__/IPA102CollectionIdentifierPattern.test.js
  tools/spectral/ipa/__tests__/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.test.js
  tools/spectral/ipa/__tests__/utils/collectionUtils.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierCamelCase.js
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierPattern.js
  tools/spectral/ipa/rulesets/functions/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.js
  tools/spectral/ipa/rulesets/functions/utils/collectionUtils.js
  tools/spectral/ipa/rulesets/functions/utils/exceptions.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): new rule xgen-IPA-117-operation-summary-format (#897)
  tools/spectral/ipa/__tests__/IPA117OperationSummaryFormat.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117OperationSummaryFormat.js
  tools/spectral/ipa/rulesets/functions/IPA126TagNamesShouldUseTitleCase.js
  tools/spectral/ipa/rulesets/functions/utils/casing.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js
