Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

Fix on IPA-112 rule implementation (#594)
  tools/spectral/ipa/__tests__/IPA112BooleanFieldNamesAvoidIsPrefix.test.js
  tools/spectral/ipa/__tests__/IPA112FieldNamesAreCamelCase.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
  tools/spectral/ipa/rulesets/functions/IPA112BooleanFieldNamesAvoidIsPrefix.js
  tools/spectral/ipa/rulesets/functions/IPA112FieldNamesAreCamelCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-297946: removes the `x-sunset=9999-12-31` from the openapi spec
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/sunset.go
  tools/cli/internal/openapi/filter/sunset_test.go
Due: ./tools/cli/precommit.sh

lint
  tools/cli/internal/openapi/filter/sunset.go
  tools/cli/internal/openapi/filter/sunset_test.go
Due: ./tools/cli/precommit.sh

fix
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/filter_test.go
Due: ./tools/cli/precommit.sh

Test
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/functions/IPA112FieldNamesAreCamelCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Test
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA112FieldNamesAreCamelCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Test
  tools/spectral/ipa/rulesets/functions/IPA112FieldNamesAreCamelCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

IPA-112 fix for incorrect paths in the error messages
  tools/spectral/ipa/rulesets/IPA-112.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-112 fix for incorrect paths in the error messages (#599)
  tools/spectral/ipa/rulesets/IPA-112.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: format
  tools/postman/scripts/transform-postman.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-298233: Postman SA support
  .github/workflows/release-postman.yml
  tools/postman/collection-description.md
  tools/postman/scripts/transform-for-api.sh
  tools/postman/scripts/transform-postman.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-308303: size of postman file
  .github/workflows/release-postman.yml
  tools/postman/scripts/transform-postman.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-271998: IPA-110: Pagination: APIs returning collections should provide pagination (Part 1)
  tools/spectral/ipa/__tests__/IPA104GetMethodReturnsSingleResource.test.js
  tools/spectral/ipa/__tests__/IPA105ListMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsUsePaginatedSchema.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsUsePaginatedSchema.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

docs change
  tools/spectral/ipa/__tests__/IPA110CollectionsUsePaginatedSchema.test.js
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fixes
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/schemas.go
  tools/cli/internal/openapi/openapi.go
  tools/cli/internal/openapi/openapi3.go
Due: ./tools/cli/precommit.sh

fixed linting
  tools/cli/internal/openapi/filter/filter_test.go
  tools/cli/internal/openapi/filter/schemas.go
Due: ./tools/cli/precommit.sh

fix: reduce size to 4mb
  tools/postman/scripts/transform-postman.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

updated unit test
  tools/cli/internal/openapi/filter/filter_test.go
  tools/cli/internal/openapi/filter/schemas.go
Due: ./tools/cli/precommit.sh

CLOUDP-297946: removes the `x-sunset=9999-12-31` from the openapi spec (#596)
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/filter_test.go
  tools/cli/internal/openapi/filter/sunset.go
  tools/cli/internal/openapi/filter/sunset_test.go
Due: ./tools/cli/precommit.sh

fixes
  tools/cli/internal/openapi/filter/schemas.go
Due: ./tools/cli/precommit.sh

fix: remove whitespaces from the collection
  tools/postman/scripts/transform-for-api.sh
Due: none

CLOUDP-308422: addressing follow up comments
  tools/cli/internal/openapi/filter/sunset.go
  tools/cli/internal/openapi/filter/sunset_test.go
Due: ./tools/cli/precommit.sh

CLOUDP-308422: addressing follow up comments
  tools/cli/internal/openapi/filter/sunset.go
Due: ./tools/cli/precommit.sh

Update filter_test.go
  tools/cli/internal/openapi/filter/filter_test.go
Due: ./tools/cli/precommit.sh

Update sunset.go
  tools/cli/internal/openapi/filter/sunset.go
Due: ./tools/cli/precommit.sh

CLOUDP-308422: Addressed follow up comments (#602)
  tools/cli/internal/openapi/filter/sunset.go
  tools/cli/internal/openapi/filter/sunset_test.go
Due: ./tools/cli/precommit.sh

CLOUDP-308303: remove whitespaces to reduce collection size
  tools/postman/scripts/transform-for-api.sh
  tools/postman/scripts/transform-postman.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

address the comments
  tools/spectral/ipa/__tests__/IPA110CollectionsUsePaginatedSchema.test.js
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsUsePaginatedSchema.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fixes
  tools/cli/internal/openapi/filter/schemas.go
  tools/cli/internal/openapi/openapi.go
Due: ./tools/cli/precommit.sh

Update versioning.go
  tools/cli/internal/openapi/filter/versioning.go
Due: ./tools/cli/precommit.sh

split it into two guidelines
  tools/spectral/ipa/__tests__/IPA104GetMethodReturnsSingleResource.test.js
  tools/spectral/ipa/__tests__/IPA105ListMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsResponseDefineResultsArray.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsUsePaginatedPrefix.test.js
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsResponseDefineResultsArray.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsUsePaginatedPrefix.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Update openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
Due: prettier --write

error message fix
  tools/spectral/ipa/__tests__/IPA110CollectionsResponseDefineResultsArray.test.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsResponseDefineResultsArray.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306570: Rule xgen-IPA-117-description-must-not-use-html
  tools/spectral/ipa/__tests__/IPA117DescriptionEndsWithPeriod.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionMustNotUseHtml.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionStartsWithUpperCase.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionMustNotUseHtml.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-308303: remove whitespaces to reduce collection size (#603)
  tools/postman/scripts/transform-for-api.sh
  tools/postman/scripts/transform-postman.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Update schemas.go
  tools/cli/internal/openapi/filter/schemas.go
Due: ./tools/cli/precommit.sh

updated tests
  tools/cli/internal/openapi/filter/schemas.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

CLOUDP-271998: IPA-110: Pagination (Validate Paginated prefix and results array field) (#601)
  tools/spectral/ipa/__tests__/IPA110CollectionsResponseDefineResultsArray.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsUsePaginatedPrefix.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsResponseDefineResultsArray.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsUsePaginatedPrefix.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306570: Rule xgen-IPA-117-description-must-not-use-html (#604)
  tools/spectral/ipa/__tests__/IPA117DescriptionEndsWithPeriod.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionMustNotUseHtml.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionStartsWithUpperCase.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionMustNotUseHtml.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Create schemas_test.go
  tools/cli/internal/openapi/filter/schemas_test.go
Due: ./tools/cli/precommit.sh
