Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

CLOUDP-328283: Added tests for Operation ID generation
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: ping brace-expansion to latest version
  package.json
Due: prettier --write

fix: ping brace-expansion to latest version (#799)
  package.json
Due: prettier --write

CLOUDP-328283: Switched to ember-inflector package, enabled new tests
  babel.config.json
  package-lock.json
  package.json
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328283: revert change to jest transformation config
  package.json
Due: prettier --write

CLOUDP-328283: Fixed dependency conflict
  package-lock.json
  package.json
Due: prettier --write

CLOUDP-328283: Prettier
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328985: Fix for removePrefix
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328283: Apply suggestions from code review
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328283: Amend deriveActionVerb, remove casing checks
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328283: Add new tests, debug for multiple word method names
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328985: Added exceptions to /controlPlaneIPAddresses endpoint
  openapi/.raw/v2.yaml
Due: none

CLOUDP-328985: Remove exceptions
  openapi/.raw/v2.yaml
Due: none

CLOUDP-328985: Temporarily silenced errors for /controlPlaneIPAddresses endpoint
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP 328985: Debug removePrefix (#802)
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328985: Add comment for removal of overrides
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328985: Add comment for removal of /controlPlaneIPAddresses overrides (#803)
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328283: Implemented Operation ID Generation utility (#801)
  babel.config.json
  package-lock.json
  package.json
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

inizial fix
  tools/cli/internal/cli/sunset/list.go
  tools/cli/internal/cli/sunset/list_test.go
  tools/cli/internal/openapi/sunset/sunset.go
Due: ./tools/cli/precommit.sh

CLOUDP-328955: Attempt to test hack version of new rule w/ ember-inflector
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328955: Switched from ember-inflector to inflection
  package-lock.json
  package.json
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328959: Added helper method for stripping custom method names
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328959: Implemented basic Operation ID Validation for create operations
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328959: Implemented basic Operation ID Validation for delete operations
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328959: Implemented basic Operation ID Validation for update operations
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat: add codegen to `tools`
  tools/codegen/codegen.yaml
  tools/codegen/codespec/api_spec.go
  tools/codegen/codespec/api_spec_schema.go
  tools/codegen/codespec/api_to_provider_spec_mapper.go
  tools/codegen/codespec/api_to_provider_spec_mapper_test.go
  tools/codegen/codespec/attribute.go
  tools/codegen/codespec/computability.go
  tools/codegen/codespec/config.go
  tools/codegen/codespec/constants.go
  tools/codegen/codespec/element_type.go
  tools/codegen/codespec/merge_attributes.go
  tools/codegen/codespec/model.go
  tools/codegen/codespec/testdata/api-spec.yml
  tools/codegen/codespec/testdata/config-nested-schema-overrides.yml
  tools/codegen/codespec/testdata/config.yml
  tools/codegen/config.yml
  tools/codegen/config/config_model.go
  tools/codegen/config/parser.go
  tools/codegen/go.mod
  tools/codegen/go.sum
  tools/codegen/main.go
  tools/codegen/open-api-spec.yml
  tools/codegen/openapi/parser.go
  tools/codegen/stringcase/string_case.go
Due: ./tools/cli/precommit.sh

go mod
  tools/codegen/go.mod
  tools/codegen/go.sum
Due: none

add openapi-schema
  tools/codegen/codegen.yaml
  tools/codegen/codespec/api_to_provider_spec_mapper.go
  tools/codegen/codespec/model.go
Due: ./tools/cli/precommit.sh

fix
  tools/codegen/codegen.yaml
  tools/codegen/codespec/api_to_provider_spec_mapper.go
Due: ./tools/cli/precommit.sh

Update api_to_provider_spec_mapper.go
  tools/codegen/codespec/api_to_provider_spec_mapper.go
Due: ./tools/cli/precommit.sh

Update list_test.go
  tools/cli/internal/cli/sunset/list_test.go
Due: ./tools/cli/precommit.sh

Update sunset.go
  tools/cli/internal/openapi/sunset/sunset.go
Due: ./tools/cli/precommit.sh

fixes
  tools/cli/internal/cli/sunset/list.go
  tools/cli/internal/cli/sunset/list_test.go
Due: ./tools/cli/precommit.sh

add comments
  tools/cli/internal/openapi/sunset/sunset.go
Due: ./tools/cli/precommit.sh

Update tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-293819: Update the GH action to send sunset reminder for endpoints approaching sunset in 1 month and 1 week
  .github/scripts/get_sunset_apis.sh
  .github/workflows/api-versions-reminder.yml
Due: none

Update get_sunset_apis.sh
  .github/scripts/get_sunset_apis.sh
Due: none

fix: Fix `foascli sunset list` to print sunset endpoints with deterministic order (#804)
  tools/cli/internal/cli/sunset/list.go
  tools/cli/internal/cli/sunset/list_test.go
  tools/cli/internal/openapi/sunset/sunset.go
Due: ./tools/cli/precommit.sh

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
