Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

fix: IPA-105
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-106
  tools/spectral/ipa/rulesets/IPA-106.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-108
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-108
  tools/spectral/ipa/rulesets/IPA-108.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-123
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-109
  tools/spectral/ipa/rulesets/IPA-109.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-113
  tools/spectral/ipa/rulesets/IPA-113.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: minor clarification for 113
  tools/spectral/ipa/rulesets/IPA-113.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: lint and regenerate docs
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: IPA-108
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: allow to use custom openapi file
  tools/spectral/ipa/scripts/filter-ipa-violations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: include full path
  tools/spectral/ipa/scripts/filter-ipa-violations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Update GH action SHAs
  .github/workflows/generate-bump-pages.yml
Due: none

CLOUDP-304929: exceptions on the each path
  tools/spectral/ipa/__tests__/IPA102CollectionIdentifierCamelCase.test.js
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierCamelCase.js
  tools/spectral/ipa/rulesets/functions/utils/exceptions.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Remove automated triggers
  .github/workflows/generate-bump-pages.yml
Due: none

update gh action to use new raw spec
  .github/workflows/api-versions-reminder.yml
Due: none

CLOUDP-306812: update gh action to use new raw spec (#551)
  .github/workflows/api-versions-reminder.yml
Due: none

CLOUDP-305830: stop filtering x-xgen-changelog from versioned files (#540)
  tools/cli/internal/cli/filter/filter_test.go
  tools/cli/internal/openapi/filter/README.md
  tools/cli/internal/openapi/filter/operations.go
  tools/cli/test/data/split/dev/openapi-mms.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2.json
  tools/cli/test/data/split/dev/openapi-v2.yaml
  tools/cli/test/data/split/prod/openapi-v2.json
  tools/cli/test/data/split/prod/openapi-v2.yaml
Due: prettier --write, ./tools/cli/precommit.sh

Lovisa comments
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: format
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

fix: allow to use custom openapi file (#549)
  tools/spectral/ipa/scripts/filter-ipa-violations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Update tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: regenerate documentation
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

CLOUDP-305862 - Add missing rule Technical Specifications (#546)
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

chore: separate code health gh action per tools to run only when specific paths are changed
  .github/workflows/code-health-foascli.yml
  .github/workflows/code-health-tools.yml
Due: none

added paths
  .github/workflows/code-health-foascli.yml
  .github/workflows/code-health-tools.yml
Due: none

CLOUDP-305862: change plural form in docs (#547)
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/scripts/generateRulesetReadme.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

added node as it is needed for actionlint
  .github/workflows/code-health-foascli.yml
Due: none

chore: separate code health gh action per tools to run only when specific paths are changed (#552)
  .github/workflows/code-health-foascli.yml
  .github/workflows/code-health-tools.yml
Due: none

CLOUDP-306347: isSingleResourceIdentifier for delete operations
  tools/spectral/ipa/__tests__/IPA108DeleteMethod204Response.test.js
  tools/spectral/ipa/__tests__/IPA108DeleteMethod404Response.test.js
  tools/spectral/ipa/__tests__/IPA108DeleteMethodNoRequestBody.test.js
  tools/spectral/ipa/__tests__/IPA108DeleteMethodResponseShouldNotHaveSchema.test.js
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethod204Response.js
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethod404Response.js
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethodNoRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethodResponseShouldNotHaveSchema.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: docs updates
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

fix: remove standard javascript boundary checks
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethod204Response.js
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethod404Response.js
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethodNoRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethodResponseShouldNotHaveSchema.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-304945: Add xgen-IPA-107-update-method-response-is-get-method-response
  tools/spectral/ipa/__tests__/IPA107UpdateMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/utils/methodUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304948: IPA 109: Custom Methods : The HTTP URI must use a colon(:) character followed by the custom method name
  tools/spectral/ipa/__tests__/IPA109CustomMethodIdentifierFormat.test.js
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA109CustomMethodIdentifierFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304945: Add xgen-IPA-107-update-method-response-is-get-method-response (#554)
  tools/spectral/ipa/__tests__/IPA107UpdateMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/utils/methodUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304944: Adds xgen-IPA-107-update-method-request-has-no-readonly-fields
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestHasNoReadonlyFields.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304944: Adds tests and refactoring
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/utils/schemaUtils.test.js
  tools/spectral/ipa/__tests__/utils/validations.test.js
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodResponseHasNoInputFields.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
  tools/spectral/ipa/rulesets/functions/utils/validations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

poc: merge allOf for oneOf operations
  tools/cli/Makefile
  tools/cli/internal/openapi/filter/README.md
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/merge_oneof.go
Due: prettier --write, ./tools/cli/precommit.sh

PoC: AssumeRole approach for IPA Metric Collection
  .github/workflows/release-IPA-metrics.yml
  tools/spectral/ipa/metrics/metricS3Upload.js
  tools/spectral/ipa/metrics/utils/dataDumpUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306347: isSingleResourceIdentifier for delete operations (#553)
  tools/spectral/ipa/__tests__/IPA108DeleteMethod204Response.test.js
  tools/spectral/ipa/__tests__/IPA108DeleteMethod404Response.test.js
  tools/spectral/ipa/__tests__/IPA108DeleteMethodNoRequestBody.test.js
  tools/spectral/ipa/__tests__/IPA108DeleteMethodResponseShouldNotHaveSchema.test.js
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethod204Response.js
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethod404Response.js
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethodNoRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethodResponseShouldNotHaveSchema.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js
