Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

CLOUDP-310535: Enable IPA validation on all env FOASes (#729)
  .github/workflows/optional-spec-validations.yml
Due: none

CLOUDP-295480: Migrate to Assume-Role for IPA Metric Collection
  .github/workflows/release-IPA-metrics.yml
  tools/spectral/ipa/metrics/utils/dataDumpUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-314000: Clarify IPA-124 maxItems rule description
  tools/spectral/ipa/rulesets/IPA-124.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA124ArrayMaxItems.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-295480: Migrate to Assume-Role for IPA Metric Collection (#730)
  .github/workflows/release-IPA-metrics.yml
  tools/spectral/ipa/metrics/utils/dataDumpUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-314000: Clarify IPA-124 maxItems rule description (#731)
  tools/spectral/ipa/rulesets/IPA-124.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA124ArrayMaxItems.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-321939: Fix curl examples for POST/PU/PATCH
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

CLOUDP-321939: Fix curl examples for POST/PU/PATCH (#735)
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

CLOUDP-311380: release clenup
  .github/scripts/get_list_files_to_delete.sh
  .github/workflows/release-cleanup.yml
  .github/workflows/release-spec.yml
Due: none

CLOUDP-322242: Add Service account curl example to OAS
  .github/scripts/split_spec.sh
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

Addressed Gustavo's comments
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

rename env variables
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

Rename `curl (Service Account Access Token)` to `curl (Service Account - oauth2)`
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

Addressed Stephen's feedback
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

fix unit tests
  tools/cli/internal/openapi/filter/code_sample_test.go
Due: ./tools/cli/precommit.sh

CLOUDP-322242: Add Service account curl example to OAS (#742)
  .github/scripts/split_spec.sh
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

fix: fix the changelog release
  tools/cli/internal/cli/changelog/metadata/create.go
  tools/cli/internal/cli/changelog/metadata/create_test.go
Due: ./tools/cli/precommit.sh

Update create_test.go
  tools/cli/internal/cli/changelog/metadata/create_test.go
Due: ./tools/cli/precommit.sh

Addressed Gustavo's comments
  tools/cli/internal/cli/changelog/metadata/create_test.go
Due: ./tools/cli/precommit.sh

fix: fix the changelog release (#744)
  tools/cli/internal/cli/changelog/metadata/create.go
  tools/cli/internal/cli/changelog/metadata/create_test.go
Due: ./tools/cli/precommit.sh

Revert "fix: fix the changelog release (#744)"
  tools/cli/internal/cli/changelog/metadata/create.go
  tools/cli/internal/cli/changelog/metadata/create_test.go
Due: ./tools/cli/precommit.sh

Update split_spec.sh
  .github/scripts/split_spec.sh
Due: none

CLOUD-322276: Revert `upcoming` changes (#745)
  .github/scripts/split_spec.sh
  tools/cli/internal/cli/changelog/metadata/create.go
  tools/cli/internal/cli/changelog/metadata/create_test.go
Due: ./tools/cli/precommit.sh

fix: remove upcoming from version.json
  openapi/v2/versions.json
Due: prettier --write

Update release-cleanup.yml
  .github/workflows/release-cleanup.yml
Due: none

fixes
  .github/scripts/get_list_files_to_delete.sh
  .github/workflows/release-cleanup.yml
Due: none

CLOUDP-311380: update the foas release process to include `upcoming` API in `versions.json`
  .github/scripts/generate_changelog.sh
  .github/scripts/split_spec.sh
Due: none

Update generate_changelog.sh
  .github/scripts/generate_changelog.sh
Due: none

CLOUDP-311380: update the foas release process to include `upcoming` API in `versions.json` (#747)
  .github/scripts/generate_changelog.sh
  .github/scripts/split_spec.sh
Due: none

Addressed Melanija's comment
  .github/scripts/get_list_files_to_delete.sh
Due: none

CLOUDP-311380: release cleanup (#741)
  .github/scripts/get_list_files_to_delete.sh
  .github/workflows/release-cleanup.yml
  .github/workflows/release-spec.yml
Due: none

CLOUDP-311382: Update `foas changelog metadata` command to support `upcoming`
  tools/cli/internal/changelog/changelog.go
  tools/cli/internal/cli/changelog/metadata/create.go
  tools/cli/internal/cli/changelog/metadata/create_test.go
Due: ./tools/cli/precommit.sh

Update changelog.go
  tools/cli/internal/changelog/changelog.go
Due: ./tools/cli/precommit.sh

addressed PR comments
  tools/cli/internal/cli/changelog/metadata/create.go
Due: ./tools/cli/precommit.sh

CLOUDP-311382: Update `foas changelog metadata` command to support `upcoming` (#748)
  tools/cli/internal/changelog/changelog.go
  tools/cli/internal/cli/changelog/metadata/create.go
  tools/cli/internal/cli/changelog/metadata/create_test.go
Due: ./tools/cli/precommit.sh

CLOUDP-311382: Enable `upcoming` for changelog
  .github/scripts/generate_changelog.sh
Due: none

CLOUDP-311382: Enable `upcoming` for changelog (#749)
  .github/scripts/generate_changelog.sh
Due: none

CLOUDP-311382: fix changelog release (#751)
  tools/cli/internal/changelog/changelog.go
Due: ./tools/cli/precommit.sh

CLOUDP-323790: Update foas release process to support bump.sh deployment for all the envs
  .github/scripts/generateSpecMapping.js
  .github/workflows/generate-bump-pages.yml
  .github/workflows/release-spec-runner.yml
  .github/workflows/release-spec.yml
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Update generate-bump-pages.yml
  .github/workflows/generate-bump-pages.yml
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
