Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

fix license
  tools/spectral/package-lock.json
Due: prettier --write

Update with prod proxy url
  .github/scripts/branded_preview.sh
Due: none

DOP-5830: Update previews to use Bump (#824)
  .github/scripts/branded_preview.sh
Due: none

Fix package with ruleset exporT
  tools/spectral/package-lock.json
  tools/spectral/package.json
Due: prettier --write

Change token name
  .github/workflows/spectral-publish.yml
Due: none

fix: error
  .github/scripts/branded_preview.sh
Due: none

Move package into ipa directory
  tools/spectral/README.md
  tools/spectral/ipa/README.md
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
  tools/spectral/package-lock.json
  tools/spectral/package.json
Due: prettier --write

fix: error `URL_COUNT: unbound variable` (#839)
  .github/scripts/branded_preview.sh
Due: none

Move package logic into ipa
  .gitignore
  package-lock.json
  package.json
  tools/spectral/CHANGELOG.md
  tools/spectral/babel.config.json
  tools/spectral/ipa/CHANGELOG.md
Due: prettier --write

Updates to publish workflow
  .github/workflows/spectral-publish.yml
Due: none

Attempt manual workflow trigger
  .github/workflows/spectral-publish.yml
Due: none

Test update .github/workflows/spectral-publish.yml
  .github/workflows/spectral-publish.yml
Due: none

CLOUDP-331821: Add op ID override validation
  tools/spectral/ipa/__tests__/utils/extensions.test.js
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/__tests__/utils/validations/validateOperationIdAndReturnErrors.test.js
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/extensions.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-331821: Address review comment
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-329185: Remove IPA spectral overrides
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-329185: Remove IPA spectral overrides (#842)
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-331821: Address review comment
  tools/spectral/ipa/__tests__/utils/validations/validateOperationIdAndReturnErrors.test.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-331821: Add op ID override validation (#841)
  tools/spectral/ipa/__tests__/utils/extensions.test.js
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/__tests__/utils/validations/validateOperationIdAndReturnErrors.test.js
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/extensions.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

IPA directory package
  tools/spectral/README.md
  tools/spectral/ipa/README.md
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

remove unused dependency
  package.json
Due: prettier --write

Added dependencies and updated gitignores
  .gitignore
  tools/spectral/ipa/.gitignore
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

CLOUDP-333549: --output is required when downloading logs, but this is not documented
  tools/cli/internal/openapi/filter/code_sample.go
Due: ./tools/cli/precommit.sh

updates e2e test files
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write

fix e2e tests
  .github/workflows/code-health-foascli.yml
  tools/cli/Makefile
Due: none

Update Makefile
  tools/cli/Makefile
Due: none

fixes
  .gitignore
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

Update .gitignore
  .gitignore
Due: none

added unit test
  tools/cli/Makefile
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

update oasdiff
  tools/cli/go.sum
  tools/cli/internal/changelog/changelog.go
  tools/cli/internal/changelog/manual_entry.go
  tools/cli/internal/changelog/merge.go
  tools/cli/internal/changelog/outputfilter/operationconfig.go
  tools/cli/internal/changelog/outputfilter/operationconfig_test.go
  tools/cli/internal/changelog/outputfilter/outputfilter.go
  tools/cli/internal/changelog/sunset.go
  tools/cli/internal/cli/filter/filter_test.go
  tools/cli/internal/cli/split/split_test.go
  tools/cli/internal/openapi/errors/merge_conflict_error.go
  tools/cli/internal/openapi/mock_oasdiff_result.go
  tools/cli/internal/openapi/mock_openapi.go
  tools/cli/internal/openapi/oasdiff.go
  tools/cli/internal/openapi/oasdiff_result.go
  tools/cli/internal/openapi/oasdiff_result_test.go
  tools/cli/internal/openapi/oasdiff_test.go
  tools/cli/internal/openapi/openapi.go
  tools/cli/internal/openapi/openapi3.go
  tools/cli/internal/openapi/sunset/sunset.go
  tools/cli/internal/openapi/sunset/sunset_test.go
  tools/cli/test/e2e/cli/split_test.go
Due: ./tools/cli/precommit.sh

regenerate e2e tests files
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-05-30_2025-09-22.upcoming.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-08-05_2025-09-22.upcoming.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-10-23_2025-09-22.upcoming.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-11-13_2025-09-22.upcoming.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2025-02-19_2025-09-22.upcoming.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2025-03-12_2025-09-22.upcoming.json
Due: prettier --write

Update go.mod
  tools/cli/go.mod
Due: none

feat: add apix 1 as owner of tools/cli
  .github/CODEOWNERS
Due: none

feat: add apix 1 as owner of tools/cli (#845)
  .github/CODEOWNERS
Due: none

CLOUDP-333549: --output is required when downloading logs, but this is not documented (#843)
  .github/workflows/code-health-foascli.yml
  .gitignore
  tools/cli/Makefile
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

More granular dependencies
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

Add note about package based installation
  tools/spectral/ipa/README.md
Due: prettier --write

Remove devDependencies, add dependabot check for ipa directory
  .github/dependabot.yml
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
