Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

added unit tests
  tools/cli/internal/openapi/filter/schemas_test.go
Due: ./tools/cli/precommit.sh

Update schemas.go
  tools/cli/internal/openapi/filter/schemas.go
Due: ./tools/cli/precommit.sh

CLOUDP-304968: IPA rule xgen-IPA-117-description-should-not-use-inline-tables
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseTables.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionShouldNotUseTables.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304968: Fix
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseTables.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-304968: IPA rule xgen-IPA-117-description-should-not-use-inline-tables (#605)
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseTables.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionShouldNotUseTables.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Fix on xgen-IPA-110-collections-response-define-results-array
  tools/spectral/ipa/__tests__/IPA110CollectionsResponseDefineResultsArray.test.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsResponseDefineResultsArray.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Fix on xgen-IPA-110-collections-response-define-results-array (#615)
  tools/spectral/ipa/__tests__/IPA110CollectionsResponseDefineResultsArray.test.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsResponseDefineResultsArray.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-261180: Add filter to remove unused views (#350)
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/filter_test.go
  tools/cli/internal/openapi/filter/hidden_envs.go
  tools/cli/internal/openapi/filter/operations_test.go
  tools/cli/internal/openapi/filter/schemas.go
  tools/cli/internal/openapi/filter/schemas_test.go
  tools/cli/internal/openapi/filter/tags_test.go
  tools/cli/internal/openapi/openapi.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

chore: upgrade golangci/golangci-lint-action from 6.5.2 to 7.0.0
  tools/cli/.golangci.bck.yml
  tools/cli/.golangci.yml
  tools/cli/Makefile
  tools/cli/internal/breakingchanges/exemptions_test.go
  tools/cli/internal/openapi/filter/schemas_test.go
  tools/cli/internal/openapi/filter/sunset_test.go
  tools/cli/internal/openapi/oasdiff_test.go
  tools/cli/test/e2e/cli/changelog_test.go
Due: ./tools/cli/precommit.sh

Update code-health-foascli.yml
  .github/workflows/code-health-foascli.yml
Due: none

fixes
  tools/cli/internal/openapi/oasdiff_test.go
  tools/cli/test/data/exemptions/exemptions.txt
  tools/cli/test/e2e/cli/changelog_test.go
Due: ./tools/cli/precommit.sh

fix
  tools/cli/test/data/exemptions/exemptions.txt
Due: none

IPA-110: Pagination (itemsPerPage and pageNum query params)
  tools/spectral/ipa/__tests__/IPA110CollectionsRequestHasItemsPerPageQueryParam.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsRequestHasPageNumQueryParam.test.js
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasItemsPerPageQueryParam.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasPageNumQueryParam.js
  tools/spectral/ipa/rulesets/functions/utils/validations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

chore: Upgrade golangci-lint to v2 (#616)
  .github/workflows/code-health-foascli.yml
  tools/cli/.golangci.bck.yml
  tools/cli/.golangci.yml
  tools/cli/Makefile
  tools/cli/internal/breakingchanges/exemptions_test.go
  tools/cli/internal/openapi/filter/schemas_test.go
  tools/cli/internal/openapi/filter/sunset_test.go
  tools/cli/internal/openapi/oasdiff_test.go
  tools/cli/test/e2e/cli/changelog_test.go
Due: ./tools/cli/precommit.sh

CLOUDP-273196: update `mongodb/openapi' with readme
  README.md
  tools/cli/README.md
Due: prettier --write

CLOUDP-273196: update `mongodb/openapi` with readme (#618)
  README.md
  tools/cli/README.md
Due: prettier --write

chore: addressed followup comment
  tools/cli/README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

IPA-110: Pagination (itemsPerPage and pageNum query params) (#617)
  tools/spectral/ipa/__tests__/IPA110CollectionsRequestHasItemsPerPageQueryParam.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsRequestHasPageNumQueryParam.test.js
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasItemsPerPageQueryParam.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasPageNumQueryParam.js
  tools/spectral/ipa/rulesets/functions/utils/validations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fixes
  tools/cli/internal/openapi/filter/sunset.go
  tools/cli/internal/openapi/filter/sunset_test.go
Due: ./tools/cli/precommit.sh

fixing linting errors
  tools/cli/internal/openapi/filter/sunset.go
  tools/cli/internal/openapi/filter/sunset_test.go
Due: ./tools/cli/precommit.sh

fix: update the sunset filter to remove the `9999-12-01` also from the operation extension. (#620)
  tools/cli/internal/openapi/filter/sunset.go
  tools/cli/internal/openapi/filter/sunset_test.go
Due: ./tools/cli/precommit.sh

CLOUDP-306571: Add rule xgen-IPA-117-description-should-not-use-inline-links
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseLinks.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionShouldNotUseLinks.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306571: Fix
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-110: Pagination (links array and includeCount not required)
  tools/spectral/ipa/__tests__/IPA110CollectionsRequestIncludeCountNotRequired.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsResponseDefineLinksArray.test.js
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestIncludeCountNotRequired.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsResponseDefineLinksArray.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306571: Fix
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionShouldNotUseLinks.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306571: Add rule xgen-IPA-117-description-should-not-use-inline-links (#621)
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseLinks.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionShouldNotUseLinks.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-302419: Add version rename test
  tools/cli/test/data/changelog/rename-api-version/base/changelog.json
  tools/cli/test/data/changelog/rename-api-version/base/metadata.json
  tools/cli/test/data/changelog/rename-api-version/base/openapi-2023-01-01.json
  tools/cli/test/data/changelog/rename-api-version/base/openapi-2023-02-01.json
  tools/cli/test/data/changelog/rename-api-version/base/openapi-2023-10-01.json
  tools/cli/test/data/changelog/rename-api-version/base/openapi-2023-11-15.json
  tools/cli/test/data/changelog/rename-api-version/base/openapi-2024-05-30.json
  tools/cli/test/data/changelog/rename-api-version/base/openapi-2043-01-01.json
  tools/cli/test/data/changelog/rename-api-version/exemptions.yaml
  tools/cli/test/data/changelog/rename-api-version/output/2023-01-01_2023-02-01.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-01-01_2023-10-01.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-01-01_2023-11-15.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-01-01_2024-05-30.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-01-01_2024-08-05.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-02-01_2023-10-01.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-02-01_2023-11-15.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-02-01_2024-05-30.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-02-01_2024-08-05.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-10-01_2023-11-15.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-10-01_2024-05-30.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-10-01_2024-08-05.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-11-15_2024-05-30.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-11-15_2024-08-05.json
  tools/cli/test/data/changelog/rename-api-version/output/2024-05-30_2024-08-05.json
  tools/cli/test/data/changelog/rename-api-version/output/changelog-all.json
  tools/cli/test/data/changelog/rename-api-version/output/changelog.json
  tools/cli/test/data/changelog/rename-api-version/revision/exemptions.yaml
  tools/cli/test/data/changelog/rename-api-version/revision/metadata.json
  tools/cli/test/data/changelog/rename-api-version/revision/openapi-2023-01-01.json
  tools/cli/test/data/changelog/rename-api-version/revision/openapi-2023-02-01.json
  tools/cli/test/data/changelog/rename-api-version/revision/openapi-2023-10-01.json
  tools/cli/test/data/changelog/rename-api-version/revision/openapi-2023-11-15.json
  tools/cli/test/data/changelog/rename-api-version/revision/openapi-2024-05-30.json
  tools/cli/test/data/changelog/rename-api-version/revision/openapi-2024-08-05.json
  tools/cli/test/e2e/cli/changelog_test.go
  tools/cli/test/e2e/cli/cli.go
Due: prettier --write, ./tools/cli/precommit.sh

lint
  tools/cli/test/e2e/cli/changelog_test.go
Due: ./tools/cli/precommit.sh

address the comments
  eslint.config.mjs
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestIncludeCountNotRequired.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsResponseDefineLinksArray.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

address the comments
  eslint.config.mjs
Due: none

Fix: List method checks
  tools/spectral/ipa/rulesets/functions/IPA105ListMethodHasNoRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA105ListMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/IPA105ListResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasItemsPerPageQueryParam.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasPageNumQueryParam.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsResponseDefineResultsArray.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsUsePaginatedPrefix.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

IPA-110: Pagination (links array and includeCount not required) (#622)
  eslint.config.mjs
  tools/spectral/ipa/__tests__/IPA110CollectionsRequestIncludeCountNotRequired.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsResponseDefineLinksArray.test.js
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestIncludeCountNotRequired.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsResponseDefineLinksArray.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

no-mixed-operators eslint config
  eslint.config.mjs
Due: none

prettier fix
  eslint.config.mjs
Due: none

CLOUDP-309109: Third rollout for IPA validations
  tools/spectral/ipa/__tests__/IPA102CollectionIdentifierCamelCase.test.js
  tools/spectral/ipa/__tests__/IPA102CollectionIdentifierPattern.test.js
  tools/spectral/ipa/__tests__/IPA106CreateMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/IPA106CreateMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodMustNotHaveQueryParams.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestBodyIsUpdateRequestSuffixedObject.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/__tests__/IPA108DeleteMethod204Response.test.js
  tools/spectral/ipa/__tests__/IPA108DeleteMethod404Response.test.js
  tools/spectral/ipa/__tests__/IPA108DeleteMethodNoRequestBody.test.js
  tools/spectral/ipa/__tests__/IPA108DeleteMethodResponseShouldNotHaveSchema.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasNoDeleteMethod.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasNoId.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasUpdateMethod.test.js
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ipa spectral overrides
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

Fix: List method checks (#624)
  eslint.config.mjs
  tools/spectral/ipa/rulesets/functions/IPA105ListMethodHasNoRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA105ListMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/IPA105ListResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasItemsPerPageQueryParam.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasPageNumQueryParam.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsResponseDefineResultsArray.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsUsePaginatedPrefix.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests
