Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

fix
  .github/workflows/optional-spec-validations.yml
Due: none

CLOUDP-306579: IPA-124: Repeated Fields (fix)
  tools/spectral/ipa/__tests__/IPA124ArrayMaxItems.test.js
  tools/spectral/ipa/rulesets/IPA-124.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306579: IPA-124: Repeated Fields (fix) (#665)
  tools/spectral/ipa/__tests__/IPA124ArrayMaxItems.test.js
  tools/spectral/ipa/rulesets/IPA-124.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  .github/workflows/optional-spec-validations.yml
Due: none

CLOUDP-311043: Prevent Duplicate Issues for optional-spec-validations (#663)
  .github/workflows/optional-spec-validations.yml
  .github/workflows/task-failure-handler.yml
Due: none

fix: gh actions
  .github/workflows/optional-spec-validations.yml
Due: none

drive-by fix
  .github/workflows/optional-spec-validations.yml
Due: none

CLOUDP-306579: IPA-124: Repeated Fields (fix) (#667)
  .github/workflows/optional-spec-validations.yml
  tools/spectral/ipa/__tests__/IPA124ArrayMaxItems.test.js
  tools/spectral/ipa/rulesets/IPA-124.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306582: IPA-126: Top-Level API Names
  tools/spectral/ipa/__tests__/IPA126TagNamesShouldUseTitleCase.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-126.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA126TagNamesShouldUseTitleCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/rulesets/IPA-126.yaml
  tools/spectral/ipa/rulesets/functions/IPA126TagNamesShouldUseTitleCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/__tests__/IPA126TagNamesShouldUseTitleCase.test.js
  tools/spectral/ipa/rulesets/IPA-126.yaml
  tools/spectral/ipa/rulesets/functions/IPA126TagNamesShouldUseTitleCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/rulesets/IPA-126.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA126TagNamesShouldUseTitleCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/__tests__/IPA126TagNamesShouldUseTitleCase.test.js
  tools/spectral/ipa/rulesets/functions/IPA126TagNamesShouldUseTitleCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

address the comments
  tools/spectral/ipa/__tests__/IPA126TagNamesShouldUseTitleCase.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306582: IPA-126: Top-Level API Names (#668)
  tools/spectral/ipa/__tests__/IPA126TagNamesShouldUseTitleCase.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-126.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA126TagNamesShouldUseTitleCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-126: Top-Level API Names (fix)
  tools/spectral/ipa/rulesets/IPA-126.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-310538: Remove duplicate legacy rules
  tools/spectral/.spectral.yaml
Due: none

IPA-126: Top-Level API Names (fix) (#670)
  tools/spectral/ipa/rulesets/IPA-126.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

Remove overrides
  tools/spectral/.spectral.yaml
Due: none

Fix spectral action
  .github/workflows/spectral-lint.yml
Due: none

revert changes
  .github/workflows/spectral-lint.yml
  tools/spectral/.spectral.yaml
Due: none

CLOUDP-310538: Remove duplicate legacy rules (#669)
  tools/spectral/.spectral.yaml
Due: none

CLOUDP-305821: IPA Validation Repo Documentation
  tools/spectral/ipa/CONTRIBUTING.md
  tools/spectral/ipa/README.md
Due: prettier --write

fix
  tools/spectral/ipa/CONTRIBUTING.md
Due: prettier --write

fix
  tools/spectral/CONTRIBUTING.md
  tools/spectral/README.md
  tools/spectral/ipa/CONTRIBUTING.md
Due: prettier --write

address the comments
  tools/spectral/CONTRIBUTING.md
  tools/spectral/ipa/README.md
Due: prettier --write

address the comments
  tools/spectral/CONTRIBUTING.md
Due: prettier --write

CLOUDP-311374: Update foascli version to list 'upcoming' apis
  tools/cli/internal/apiversion/stabilitylevel.go
  tools/cli/internal/apiversion/version.go
  tools/cli/internal/cli/versions/versions.go
  tools/cli/internal/openapi/filter/info.go
  tools/cli/internal/openapi/versions.go
  tools/cli/internal/openapi/versions_test.go
Due: ./tools/cli/precommit.sh

added unit tests
  tools/cli/internal/cli/versions/versions_test.go
  tools/cli/test/data/openapi_with_upcoming.json
Due: prettier --write, ./tools/cli/precommit.sh

added unit tests
  tools/cli/internal/openapi/filter/info.go
Due: ./tools/cli/precommit.sh

updates
  tools/cli/internal/apiversion/stabilitylevel.go
  tools/cli/internal/cli/usage/usage.go
Due: ./tools/cli/precommit.sh

Update version.go
  tools/cli/internal/apiversion/version.go
Due: ./tools/cli/precommit.sh

CLOUDP-311374: Update `foascli version` to list `upcoming` apis (#672)
  tools/cli/internal/apiversion/stabilitylevel.go
  tools/cli/internal/apiversion/version.go
  tools/cli/internal/cli/usage/usage.go
  tools/cli/internal/cli/versions/versions.go
  tools/cli/internal/cli/versions/versions_test.go
  tools/cli/internal/openapi/filter/info.go
  tools/cli/internal/openapi/versions.go
  tools/cli/internal/openapi/versions_test.go
  tools/cli/test/data/openapi_with_upcoming.json
Due: prettier --write, ./tools/cli/precommit.sh

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
