Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

feat(cli): add x-xgen-long-running-operation tagging at merge time
  tools/cli/internal/cli/merge/merge.go
  tools/cli/internal/cli/merge/merge_test.go
Due: ./tools/cli/precommit.sh

feat(cli): tag long-running operations, marking legacy 202s as legacy
  tools/cli/internal/cli/merge/merge.go
  tools/cli/internal/cli/merge/merge_test.go
Due: ./tools/cli/precommit.sh

feat(cli): tag legacy 202 operations as legacy instead of skipping them
  tools/cli/internal/cli/merge/merge.go
  tools/cli/internal/cli/merge/merge_test.go
Due: ./tools/cli/precommit.sh

feat(cli): tag long-running operations at merge time
  tools/cli/internal/cli/merge/long_running_operation.go
  tools/cli/internal/cli/merge/long_running_operation_test.go
  tools/cli/internal/cli/merge/merge.go
  tools/foas/openapi/filter/long_running_operation_test.go
Due: ./tools/cli/precommit.sh

test(cli): fold long-running operation filter cases into filter_test.go
  tools/foas/openapi/filter/filter_test.go
  tools/foas/openapi/filter/long_running_operation_test.go
Due: ./tools/cli/precommit.sh

feat: tag long-running operations with x-xgen-long-running-operation (#1434)
  tools/cli/internal/cli/merge/long_running_operation.go
  tools/cli/internal/cli/merge/long_running_operation_test.go
  tools/cli/internal/cli/merge/merge.go
  tools/foas/openapi/filter/filter_test.go
Due: ./tools/cli/precommit.sh

feat(ipa): implement IPA-132 ruleset and base Operations resource rules
  tools/spectral/ipa/__tests__/IPA132OperationMustBeAReadOnlyResource.test.js
  tools/spectral/ipa/__tests__/IPA132OperationsEndpointMustBeALeafResource.test.js
  tools/spectral/ipa/__tests__/IPA132OperationsEndpointMustNotBeGlobal.test.js
  tools/spectral/ipa/__tests__/utils/longRunningOperations.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationMustBeAReadOnlyResource.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsEndpointMustBeALeafResource.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsEndpointMustNotBeGlobal.js
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): address IPA-132 review feedback
  tools/spectral/ipa/__tests__/IPA132OperationMustBeAReadOnlyResource.test.js
  tools/spectral/ipa/__tests__/IPA132OperationsEndpointMustBeALeafResource.test.js
  tools/spectral/ipa/__tests__/IPA132OperationsEndpointMustNotBeGlobal.test.js
  tools/spectral/ipa/__tests__/utils/longRunningOperations.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationMustBeAReadOnlyResource.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsEndpointMustNotBeGlobal.js
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): keep custom method paths out of IPA-132 scope
  tools/spectral/ipa/__tests__/utils/longRunningOperations.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): apply IPA-132 review suggestions for util reuse
  tools/spectral/ipa/__tests__/IPA132OperationMustBeAReadOnlyResource.test.js
  tools/spectral/ipa/__tests__/utils/longRunningOperations.test.js
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationMustBeAReadOnlyResource.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsEndpointMustNotBeGlobal.js
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): allow only get on Operations endpoints and harden the IPA-132 rules
  tools/spectral/ipa/__tests__/IPA132OperationMustBeAReadOnlyResource.test.js
  tools/spectral/ipa/__tests__/IPA132OperationsEndpointMustBeALeafResource.test.js
  tools/spectral/ipa/__tests__/IPA132OperationsEndpointMustNotBeGlobal.test.js
  tools/spectral/ipa/__tests__/utils/longRunningOperations.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationMustBeAReadOnlyResource.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsEndpointMustBeALeafResource.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsEndpointMustNotBeGlobal.js
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): check the readOnly Operation schema on the single Operation endpoint
  tools/spectral/ipa/__tests__/IPA132OperationMustBeAReadOnlyResource.test.js
  tools/spectral/ipa/__tests__/IPA132OperationsEndpointMustNotBeGlobal.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationMustBeAReadOnlyResource.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): validate Operations endpoint methods from the defined path item keys
  tools/spectral/ipa/__tests__/utils/longRunningOperations.test.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationMustBeAReadOnlyResource.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsEndpointMustBeALeafResource.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsEndpointMustNotBeGlobal.js
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat(ipa): implement IPA-132 ruleset and base Operations resource rules (#1435)
  tools/spectral/ipa/__tests__/IPA132OperationMustBeAReadOnlyResource.test.js
  tools/spectral/ipa/__tests__/IPA132OperationsEndpointMustBeALeafResource.test.js
  tools/spectral/ipa/__tests__/IPA132OperationsEndpointMustNotBeGlobal.test.js
  tools/spectral/ipa/__tests__/utils/longRunningOperations.test.js
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationMustBeAReadOnlyResource.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsEndpointMustBeALeafResource.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsEndpointMustNotBeGlobal.js
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): add IPA-132 OperationResponse schema rules
  tools/spectral/ipa/__tests__/IPA132OperationEndpointsMustReturnOperationResponse.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustIncludeCoreMetadata.test.js
  tools/spectral/ipa/__tests__/IPA132OperationStatusMustUseTheStandardStatusEnum.test.js
  tools/spectral/ipa/__tests__/utils/longRunningOperations.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationEndpointsMustReturnOperationResponse.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustIncludeCoreMetadata.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationStatusMustUseTheStandardStatusEnum.js
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

test(ipa): define shared operation examples once in the IPA-132 tests
  tools/spectral/ipa/__tests__/IPA132OperationEndpointsMustReturnOperationResponse.test.js
  tools/spectral/ipa/__tests__/IPA132OperationStatusMustUseTheStandardStatusEnum.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix(ipa): handle allOf composition in the OperationResponse rules
  tools/spectral/ipa/__tests__/IPA132OperationEndpointsMustReturnOperationResponse.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustIncludeCoreMetadata.test.js
  tools/spectral/ipa/__tests__/IPA132OperationStatusMustUseTheStandardStatusEnum.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationEndpointsMustReturnOperationResponse.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustIncludeCoreMetadata.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationStatusMustUseTheStandardStatusEnum.js
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): require the status property on OperationResponse
  tools/spectral/ipa/__tests__/IPA132OperationStatusMustUseTheStandardStatusEnum.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationStatusMustUseTheStandardStatusEnum.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): reuse an OperationResponseSchema alias in the IPA-132 ruleset
  tools/spectral/ipa/rulesets/IPA-132.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

refactor(ipa): restructure OperationResponse validation into check-type rules
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustDefineNestedObjectStructure.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustDefineOptionalFields.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustDefineRequiredFields.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustUseStandardEnumValues.test.js
  tools/spectral/ipa/__tests__/IPA132OperationStatusMustUseTheStandardStatusEnum.test.js
  tools/spectral/ipa/__tests__/IPA132OperationsShouldExposeStatusFields.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineNestedObjectStructure.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineOptionalFields.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineRequiredFields.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustIncludeCoreMetadata.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustUseStandardEnumValues.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationStatusMustUseTheStandardStatusEnum.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsShouldExposeStatusFields.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): address deep-review findings in the IPA-132 schema rules
  tools/spectral/ipa/__tests__/IPA132OperationEndpointsMustReturnOperationResponse.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustDefineRequiredFields.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustUseStandardEnumValues.test.js
  tools/spectral/ipa/__tests__/IPA132OperationsShouldExposeStatusFields.test.js
  tools/spectral/ipa/__tests__/utils/longRunningOperations.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationEndpointsMustReturnOperationResponse.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineNestedObjectStructure.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineOptionalFields.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineRequiredFields.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustUseStandardEnumValues.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsShouldExposeStatusFields.js
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): require the expiresAt field on OperationResponse
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustDefineRequiredFields.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

docs(ipa): apply review feedback to the IPA-132 rule descriptions
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): require a flat OperationResponse schema without composition
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustDefineNestedObjectStructure.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustDefineOptionalFields.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustDefineRequiredFields.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustUseStandardEnumValues.test.js
  tools/spectral/ipa/__tests__/IPA132OperationsShouldExposeStatusFields.test.js
  tools/spectral/ipa/__tests__/utils/longRunningOperations.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineNestedObjectStructure.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineOptionalFields.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineRequiredFields.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustUseStandardEnumValues.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsShouldExposeStatusFields.js
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): remove unreachable shared-response handling from the endpoint rule
  tools/spectral/ipa/__tests__/IPA132OperationEndpointsMustReturnOperationResponse.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationEndpointsMustReturnOperationResponse.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): extract the composition ban into its own IPA-132 rule
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustDefineNestedObjectStructure.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustDefineOptionalFields.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustDefineRequiredFields.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustNotUseComposition.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustUseStandardEnumValues.test.js
  tools/spectral/ipa/__tests__/IPA132OperationsShouldExposeStatusFields.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineNestedObjectStructure.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineOptionalFields.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineRequiredFields.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustNotUseComposition.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustUseStandardEnumValues.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsShouldExposeStatusFields.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): add IPA-132 OperationResponse schema rules (#1437)
  tools/spectral/ipa/__tests__/IPA132OperationEndpointsMustReturnOperationResponse.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustDefineNestedObjectStructure.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustDefineOptionalFields.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustDefineRequiredFields.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustNotUseComposition.test.js
  tools/spectral/ipa/__tests__/IPA132OperationResponseMustUseStandardEnumValues.test.js
  tools/spectral/ipa/__tests__/IPA132OperationsShouldExposeStatusFields.test.js
  tools/spectral/ipa/__tests__/utils/longRunningOperations.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationEndpointsMustReturnOperationResponse.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineNestedObjectStructure.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineOptionalFields.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustDefineRequiredFields.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustNotUseComposition.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationResponseMustUseStandardEnumValues.js
  tools/spectral/ipa/rulesets/functions/IPA132OperationsShouldExposeStatusFields.js
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): add IPA-132 LRO classification rules
  tools/spectral/ipa/__tests__/IPA132GetMethodMustNotBeLro.test.js
  tools/spectral/ipa/__tests__/IPA132ListMethodMustNotBeLro.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132GetMethodMustNotBeLro.js
  tools/spectral/ipa/rulesets/functions/IPA132ListMethodMustNotBeLro.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): reuse a GetOperationObject alias and cover unnecessary exceptions
  tools/spectral/ipa/__tests__/IPA132GetMethodMustNotBeLro.test.js
  tools/spectral/ipa/__tests__/IPA132ListMethodMustNotBeLro.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): add IPA-132 LRO classification rules (#1444)
  tools/spectral/ipa/__tests__/IPA132GetMethodMustNotBeLro.test.js
  tools/spectral/ipa/__tests__/IPA132ListMethodMustNotBeLro.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132GetMethodMustNotBeLro.js
  tools/spectral/ipa/rulesets/functions/IPA132ListMethodMustNotBeLro.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-437777: Fix openapi release retry and failure handlers
  .github/workflows/optional-spec-validations.yml
  .github/workflows/release-spec-runner.yml
  .github/workflows/release-spec-v1.yml
  .github/workflows/release-spec.yml
Due: none

ci: Fix openapi release retry and failure handlers (#1445)
  .github/workflows/optional-spec-validations.yml
  .github/workflows/release-spec-runner.yml
  .github/workflows/release-spec-v1.yml
  .github/workflows/release-spec.yml
Due: none

feat(ipa): forbid custom methods on Operations endpoints
  tools/spectral/ipa/__tests__/IPA132OperationsEndpointMustNotDefineCustomMethods.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationsEndpointMustNotDefineCustomMethods.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): forbid custom methods on Operations endpoints (#1446)
  tools/spectral/ipa/__tests__/IPA132OperationsEndpointMustNotDefineCustomMethods.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationsEndpointMustNotDefineCustomMethods.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

refactor(ipa): single-source the legacy long-running operation list
  tools/cli/internal/cli/merge/gen/main.go
  tools/cli/internal/cli/merge/legacy_long_running_operations.go
  tools/cli/internal/cli/merge/legacy_long_running_operations_test.go
  tools/cli/internal/cli/merge/long_running_operation.go
  tools/spectral/ipa/rulesets/functions/utils/legacyLongRunningOperations.json
Due: prettier --write, ./tools/cli/precommit.sh

docs: document the go generate step for the legacy operation list
  CONTRIBUTING.md
Due: prettier --write

refactor(ipa): single-source the legacy long-running operation list (#1447)
  CONTRIBUTING.md
  tools/cli/internal/cli/merge/gen/main.go
  tools/cli/internal/cli/merge/legacy_long_running_operations.go
  tools/cli/internal/cli/merge/legacy_long_running_operations_test.go
  tools/cli/internal/cli/merge/long_running_operation.go
  tools/spectral/ipa/rulesets/functions/utils/legacyLongRunningOperations.json
Due: prettier --write, ./tools/cli/precommit.sh

feat(ipa): add IPA-132 long-running operation initiation rules
  CONTRIBUTING.md
  tools/cli/internal/cli/merge/gen/main.go
  tools/cli/internal/cli/merge/legacy_long_running_operations.go
  tools/cli/internal/cli/merge/legacy_long_running_operations_test.go
  tools/spectral/ipa/__tests__/IPA132Lro202ResponseMustNotIncludeContent.test.js
  tools/spectral/ipa/__tests__/IPA132LroInitiationMustReturn202AcceptedWithLocation.test.js
  tools/spectral/ipa/__tests__/IPA132LroMustNotReturnSuccessStatusCodeOtherThan202.test.js
  tools/spectral/ipa/__tests__/utils/longRunningOperations.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132Lro202ResponseMustNotIncludeContent.js
  tools/spectral/ipa/rulesets/functions/IPA132LroInitiationMustReturn202AcceptedWithLocation.js
  tools/spectral/ipa/rulesets/functions/IPA132LroMustNotReturnSuccessStatusCodeOtherThan202.js
  tools/spectral/ipa/rulesets/functions/utils/legacyLongRunningOperations.json
  tools/spectral/ipa/rulesets/functions/utils/legacyLroOperationIds.js
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

fix(ipa): correct parent-resource check in resourceBelongsToSingleParent
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix(ipa): correct parent-resource check in resourceBelongsToSingleParent (#1449)
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
