Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

fix(ipa): keep read-only schema evaluation generic
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: Default force_bump to false for scheduled release runs
  .github/workflows/release-spec-runner.yml
Due: none

fix: Default force_bump to false for scheduled release runs (#1506)
  .github/workflows/release-spec-runner.yml
Due: none

fix(ipa): ignore list responses for read-only resources
  tools/spectral/ipa/__tests__/IPA113ResetMethodNotOnReadonlySingleton.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasUpdateMethod.test.js
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix(ipa): handle read-only dictionaries and composed schemas
  tools/spectral/ipa/__tests__/ReadOnlySchemaTraversal.test.js
  tools/spectral/ipa/__tests__/__helpers__/readOnlySchemaCases.js
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): scope read-only annotations to response fields
  tools/spectral/ipa/__tests__/__helpers__/readOnlySchemaCases.js
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci: bump GitHub workflows to Node 24.x
  .github/workflows/code-health-foascli.yml
  .github/workflows/code-health-tools.yml
  .github/workflows/generate-bump-pages.yml
  .github/workflows/ipa-release.yml
  .github/workflows/optional-spec-validations.yml
  .github/workflows/release-IPA-metrics.yml
  .github/workflows/release-postman.yml
  .github/workflows/required-spec-validations.yml
  .github/workflows/spectral-lint.yml
Due: none

ci: bump GitHub workflows to Node 24.x (#1511)
  .github/workflows/code-health-foascli.yml
  .github/workflows/code-health-tools.yml
  .github/workflows/generate-bump-pages.yml
  .github/workflows/ipa-release.yml
  .github/workflows/optional-spec-validations.yml
  .github/workflows/release-IPA-metrics.yml
  .github/workflows/release-postman.yml
  .github/workflows/required-spec-validations.yml
  .github/workflows/spectral-lint.yml
Due: none

ci: pin required-spec-validations to Node 22 with npm upgrade
  .github/workflows/required-spec-validations.yml
Due: none

ci: pin required-spec-validations to Node 22 with npm upgrade (#1516)
  .github/workflows/required-spec-validations.yml
Due: none

feat(ipa): CLOUDP-397829 - Disallow nullable booleans
  tools/spectral/ipa/__tests__/IPA111BooleanFieldsNotNullable.test.js
  tools/spectral/ipa/rulesets/IPA-111.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA111BooleanFieldsNotNullable.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): CLOUDP-397829: Disallow nullable booleans (#1517)
  tools/spectral/ipa/__tests__/IPA111BooleanFieldsNotNullable.test.js
  tools/spectral/ipa/rulesets/IPA-111.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA111BooleanFieldsNotNullable.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: CLOUDP-452520 validate upcoming version and changelog paths
  tools/cli/internal/cli/changelog/changelog_test.go
  tools/cli/internal/cli/changelog/create.go
  tools/foas/apiversion/stabilitylevel.go
  tools/foas/apiversion/stabilitylevel_test.go
  tools/foas/apiversion/version.go
  tools/foas/apiversion/version_test.go
  tools/foas/changelog/changelog.go
  tools/foas/changelog/changelog_test.go
Due: ./tools/cli/precommit.sh

fix: CLOUDP-452520 validate upcoming version and changelog paths (#1524)
  tools/cli/internal/cli/changelog/changelog_test.go
  tools/cli/internal/cli/changelog/create.go
  tools/foas/apiversion/stabilitylevel.go
  tools/foas/apiversion/stabilitylevel_test.go
  tools/foas/apiversion/version.go
  tools/foas/apiversion/version_test.go
  tools/foas/changelog/changelog.go
  tools/foas/changelog/changelog_test.go
Due: ./tools/cli/precommit.sh

CLOUDP-451316: fix sunset reminder consider preview api
  tools/cli/internal/cli/sunset/list.go
  tools/foas/apiversion/stabilitylevel.go
Due: ./tools/cli/precommit.sh

CLOUDP-451316: add test
  tools/cli/internal/cli/sunset/list_test.go
Due: ./tools/cli/precommit.sh

fix: fix sunset reminder consider preview api (#1525)
  tools/cli/internal/cli/sunset/list.go
  tools/cli/internal/cli/sunset/list_test.go
  tools/foas/apiversion/stabilitylevel.go
Due: ./tools/cli/precommit.sh

Update description for IPA violations
  .github/scripts/handle_warning_violations.sh
Due: none

Apply suggestion from @wtrocki
  .github/scripts/handle_warning_violations.sh
Due: none

feat: update description for IPA violations (#1526)
  .github/scripts/handle_warning_violations.sh
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
