Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

update guidelines
  .github/ai-agent-instructions.md
Due: prettier --write

refine the instructions
  .github/ai-agent-instructions.md
Due: prettier --write

update
  .github/ai-agent-instructions.md
Due: prettier --write

remove wrong IPA definition
  .github/ai-agent-instructions.md
Due: prettier --write

chore: run workflows when updating dependencies
  .github/workflows/code-health-foascli.yml
  .github/workflows/code-health-tools.yml
Due: none

updates
  .github/workflows/code-health-tools.yml
Due: none

comment out the AI reviewer prompts
  .github/ai-agent-instructions.md
Due: prettier --write

remove the AI reviewer prompts
  .github/ai-agent-instructions.md
Due: prettier --write

chore: run foascli code-health workflow when updating dependencies (#719)
  .github/workflows/code-health-foascli.yml
Due: none

updates golanci
  .github/workflows/code-health-foascli.yml
Due: none

updates golanci
  tools/cli/Makefile
Due: none

chore: updates `golangci-lint-action` (#720)
  .github/workflows/code-health-foascli.yml
  tools/cli/Makefile
Due: none

Added unit tests for new check + added .tool-versions for asdf
  tools/spectral/.tool-versions
  tools/spectral/__tests__/acceptHeaderUpcomingVersionLimit.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

ran prettier
  tools/spectral/__tests__/acceptHeaderUpcomingVersionLimit.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix eslint
  eslint.config.mjs
Due: none

second attempt to fix linting
  eslint.config.mjs
Due: none

third attempt at fixing eslint
  eslint.config.mjs
Due: none

undo linting changes, renamed test to end with .test.js
  eslint.config.mjs
  tools/spectral/functions/acceptHeaderUpcomingVersionLimit.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

undo rename
  tools/spectral/functions/acceptHeaderUpcomingVersionLimit.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

files are provided using cli, we don't need this config that overrides the ignores
  eslint.config.mjs
Due: none

fix ignores
  eslint.config.mjs
Due: none

fixed package.json
  eslint.config.mjs
  package.json
Due: prettier --write

CLOUDP-313321: Add a new Spectral lint rule that validates that at any time, an endpoint can only have one API version marked as “upcoming” (#697)
  eslint.config.mjs
  package.json
  tools/spectral/.spectral.yaml
  tools/spectral/.tool-versions
  tools/spectral/__tests__/acceptHeaderUpcomingVersionLimit.test.js
  tools/spectral/functions/acceptHeaderUpcomingVersionLimit.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

added sample
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/filter_test.go
Due: ./tools/cli/precommit.sh

add sample in openapi
  openapi/v2/openapi-2025-02-19.json
  openapi/v2/openapi-2025-02-19.yaml
  openapi/v2/openapi-2025-03-12.json
  openapi/v2/openapi-2025-03-12.yaml
Due: prettier --write

added sample
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
Due: ./tools/cli/precommit.sh

Revert "add sample in openapi"
  openapi/v2/openapi-2025-02-19.json
  openapi/v2/openapi-2025-02-19.yaml
  openapi/v2/openapi-2025-03-12.json
  openapi/v2/openapi-2025-03-12.yaml
Due: prettier --write

fixes e2e tests by regenerating files to include samples
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

Update split_test.go
  tools/cli/test/e2e/cli/split_test.go
Due: ./tools/cli/precommit.sh

Revert "Update split_test.go"
  tools/cli/test/e2e/cli/split_test.go
Due: ./tools/cli/precommit.sh

Update code_sample_test.go
  tools/cli/internal/openapi/filter/code_sample_test.go
Due: ./tools/cli/precommit.sh

Update code_sample.go
  tools/cli/internal/openapi/filter/code_sample.go
Due: ./tools/cli/precommit.sh

CLOUDP-319370: Add curl and atlascli samples to the OAS (#722)
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/filter_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

fix: addressed follow up comments
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

fix: addressed follow up comments in #722 (#723)
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

fix: add `https://cloud.mongodb.com` to curl examples
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

fix: add `cloud.mongodb.com` to code samples (#728)
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

CLOUDP-310535: Enable IPA validation on all env FOASes
  .github/workflows/optional-spec-validations.yml
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
