Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

CLOUDP-305821: IPA Validation Repo Documentation (#671)
  tools/spectral/CONTRIBUTING.md
  tools/spectral/README.md
  tools/spectral/ipa/README.md
Due: prettier --write

CLOUDP-311375: Update foascli split command to support upcoming apis
  tools/cli/internal/apiversion/version.go
  tools/cli/internal/openapi/filter/extension.go
  tools/cli/internal/openapi/filter/hidden_envs.go
  tools/cli/internal/openapi/filter/info.go
  tools/cli/internal/openapi/filter/operations.go
  tools/cli/internal/openapi/filter/tags.go
  tools/cli/internal/openapi/filter/versioning.go
  tools/cli/internal/openapi/filter/versioning_extension.go
Due: ./tools/cli/precommit.sh

Update split_test.go
  tools/cli/internal/cli/split/split_test.go
Due: ./tools/cli/precommit.sh

CLOUDP-311375: Update `foascli split` command to support `upcoming` apis (#673)
  tools/cli/internal/apiversion/version.go
  tools/cli/internal/cli/split/split_test.go
  tools/cli/internal/openapi/filter/extension.go
  tools/cli/internal/openapi/filter/hidden_envs.go
  tools/cli/internal/openapi/filter/info.go
  tools/cli/internal/openapi/filter/operations.go
  tools/cli/internal/openapi/filter/tags.go
  tools/cli/internal/openapi/filter/versioning.go
  tools/cli/internal/openapi/filter/versioning_extension.go
Due: ./tools/cli/precommit.sh

fix: addresed PR comment
  tools/cli/internal/cli/split/split_test.go
Due: ./tools/cli/precommit.sh

fix: addressed follow up comment (#678)
  tools/cli/internal/cli/split/split_test.go
Due: ./tools/cli/precommit.sh

CLOUDP-311390: Fifth (Last) Rollout for IPA validations
  tools/spectral/ipa/__tests__/IPA114ApiErrorHasBadRequestDetail.test.js
  tools/spectral/ipa/__tests__/IPA114AuthenticatedEndpointsHaveAuthErrors.test.js
  tools/spectral/ipa/__tests__/IPA114ErrorResponsesReferToApiError.test.js
  tools/spectral/ipa/__tests__/IPA114ParameterizedPathsHave404NotFound.test.js
  tools/spectral/ipa/__tests__/IPA117ObjectsMustBeWellDefined.test.js
  tools/spectral/ipa/__tests__/IPA117ParameterHasExamplesOrSchema.test.js
  tools/spectral/ipa/__tests__/IPA117PlaintextResponseMustHaveExample.test.js
  tools/spectral/ipa/__tests__/IPA118NoAdditionalPropertiesFalse.test.js
  tools/spectral/ipa/__tests__/IPA119NoDefaultForCloudProviders.test.js
  tools/spectral/ipa/__tests__/IPA121DateTimeFieldsMentionISO8601.test.js
  tools/spectral/ipa/__tests__/IPA123EnumValuesShouldNotExceed20.test.js
  tools/spectral/ipa/__tests__/IPA124ArrayMaxItems.test.js
  tools/spectral/ipa/__tests__/IPA126TagNamesShouldUseTitleCase.test.js
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/IPA-118.yaml
  tools/spectral/ipa/rulesets/IPA-119.yaml
  tools/spectral/ipa/rulesets/IPA-121.yaml
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/IPA-124.yaml
  tools/spectral/ipa/rulesets/IPA-126.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Sync IPA spectral overrides with MMS
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: `foascli versions` returns multiple upcoming when `stability-level` flag is used
  tools/cli/internal/cli/versions/versions.go
Due: ./tools/cli/precommit.sh

fix: fix foascli release to run the correct tests
  .github/workflows/release-cli.yml
Due: none

CLOUDP-311390: Fifth (Last) Rollout for IPA validations (#679)
  tools/spectral/ipa/__tests__/IPA114ApiErrorHasBadRequestDetail.test.js
  tools/spectral/ipa/__tests__/IPA114AuthenticatedEndpointsHaveAuthErrors.test.js
  tools/spectral/ipa/__tests__/IPA114ErrorResponsesReferToApiError.test.js
  tools/spectral/ipa/__tests__/IPA114ParameterizedPathsHave404NotFound.test.js
  tools/spectral/ipa/__tests__/IPA117ObjectsMustBeWellDefined.test.js
  tools/spectral/ipa/__tests__/IPA117ParameterHasExamplesOrSchema.test.js
  tools/spectral/ipa/__tests__/IPA117PlaintextResponseMustHaveExample.test.js
  tools/spectral/ipa/__tests__/IPA118NoAdditionalPropertiesFalse.test.js
  tools/spectral/ipa/__tests__/IPA119NoDefaultForCloudProviders.test.js
  tools/spectral/ipa/__tests__/IPA121DateTimeFieldsMentionISO8601.test.js
  tools/spectral/ipa/__tests__/IPA123EnumValuesShouldNotExceed20.test.js
  tools/spectral/ipa/__tests__/IPA124ArrayMaxItems.test.js
  tools/spectral/ipa/__tests__/IPA126TagNamesShouldUseTitleCase.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/IPA-118.yaml
  tools/spectral/ipa/rulesets/IPA-119.yaml
  tools/spectral/ipa/rulesets/IPA-121.yaml
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/IPA-124.yaml
  tools/spectral/ipa/rulesets/IPA-126.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-311390: Remove duplicate legacy Spectral rule
  tools/spectral/.spectral.yaml
Due: none

CLOUDP-311390: Remove duplicate legacy Spectral rule (#680)
  tools/spectral/.spectral.yaml
Due: none

CLOUDP-311381: Add a new filter to foascli to support bump.sh fields
  tools/cli/internal/apiversion/version.go
  tools/cli/internal/openapi/filter/bump.go
  tools/cli/internal/openapi/filter/bump_test.go
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/filter_test.go
Due: ./tools/cli/precommit.sh

fixes
  tools/cli/internal/openapi/filter/bump.go
  tools/cli/internal/openapi/filter/bump_test.go
Due: ./tools/cli/precommit.sh

CLOUDP-311381: Add a new filter to foascli to support bump.sh fields (#681)
  tools/cli/internal/apiversion/version.go
  tools/cli/internal/openapi/filter/bump.go
  tools/cli/internal/openapi/filter/bump_test.go
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/filter_test.go
Due: ./tools/cli/precommit.sh

CLOUDP-306499: Prevent generation of duplicate Postman collection versions
  .gitignore
  tools/postman/scripts/upload-collection.sh
Due: none

CLOUDP-306499: Prevent generation of duplicate Postman collection versions (#682)
  .gitignore
  tools/postman/scripts/upload-collection.sh
Due: none

Correct IPA 005 rule name
  tools/spectral/ipa/__tests__/IPA005ExceptionExtensionFormat.test.js
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/functions/IPA005ExceptionExtensionFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Correct IPA 005 rule file name (#683)
  tools/spectral/ipa/__tests__/IPA005ExceptionExtensionFormat.test.js
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/functions/IPA005ExceptionExtensionFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-313088: Doc feedback for preview API
  tools/cli/internal/openapi/filter/bump.go
  tools/cli/internal/openapi/filter/bump_test.go
  tools/cli/test/data/exemptions/exemptions.txt
Due: ./tools/cli/precommit.sh

Update bump_test.go
  tools/cli/internal/openapi/filter/bump_test.go
Due: ./tools/cli/precommit.sh

Create exemptions.txt
  tools/cli/test/data/exemptions/exemptions.txt
Due: none

Update exemptions.txt
  tools/cli/test/data/exemptions/exemptions.txt
Due: none

CLOUDP-313088: Doc feedback for preview API (#684)
  tools/cli/internal/openapi/filter/bump.go
  tools/cli/internal/openapi/filter/bump_test.go
Due: ./tools/cli/precommit.sh

fix: preview doc
  tools/cli/internal/openapi/filter/bump.go
  tools/cli/internal/openapi/filter/bump_test.go
Due: ./tools/cli/precommit.sh

Add Aliases to IPA Validation Rulesets
  tools/spectral/ipa/__tests__/__helpers__/testRule.js
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/IPA-119.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: preview doc
  tools/cli/internal/openapi/filter/bump.go
Due: ./tools/cli/precommit.sh

Add Aliases to IPA Validation Rulesets (#688)
  tools/spectral/ipa/__tests__/__helpers__/testRule.js
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/IPA-119.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Implemented spectral lint rule that validates that at any time, an endpoint can only have one API version marked as 'upcoming'
  tools/spectral/.spectral.yaml
  tools/spectral/functions/acceptHeaderUpcomingVersionLimit.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

ran prettier
  tools/spectral/functions/acceptHeaderUpcomingVersionLimit.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-315586: Add verbose debug logging to Postman collection upload
  tools/postman/scripts/upload-collection.sh
Due: none

CLOUDP-315586: Add verbose debug logging to Postman collection upload (#698)
  tools/postman/scripts/upload-collection.sh
Due: none

CLOUDP-315586: Postman API retry on any error code
  tools/postman/scripts/upload-collection.sh
Due: none

[Skunkworks] Non-lintable and partially-lintable IPAs (AI Agent Guidelines)
  .github/ai-agent-instructions.md
Due: prettier --write

Remove the extra whitelines
  .github/ai-agent-instructions.md
Due: prettier --write
