Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

ci(ipa): release new version 2.1.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

feat(ipa): new rule xgen-IPA-117-get-operation-summary-starts-with
  tools/spectral/ipa/__tests__/IPA117OperationSummaryGetStartsWith.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117OperationSummaryGetStartsWith.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): release new version 2.1.0 (#899)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

Add ignore list and refactor logic into singularize method
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

PATCH version bump
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

update changelog
  tools/spectral/ipa/CHANGELOG.md
Due: prettier --write

Update comment
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat(ipa): new rule xgen-IPA-117-get-operation-summary-starts-with (#900)
  tools/spectral/ipa/__tests__/IPA117OperationSummaryGetStartsWith.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117OperationSummaryGetStartsWith.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): new rules for operation summaries starting with specific words
  tools/spectral/ipa/__tests__/IPA117OperationSummaryCreateStartsWith.test.js
  tools/spectral/ipa/__tests__/IPA117OperationSummaryDeleteStartsWith.test.js
  tools/spectral/ipa/__tests__/IPA117OperationSummaryUpdateStartsWith.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/functions/IPA117OperationSummaryStartsWith.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

docs: gen ipa docs
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

fix: remove ogs
  tools/spectral/ipa/rulesets/functions/IPA117OperationSummaryStartsWith.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: update docs
  tools/spectral/ipa/rulesets/functions/IPA117OperationSummaryStartsWith.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

ci: Update teams for Jira ticket assignment
  .github/workflows/api-versions-reminder.yml
  .github/workflows/release-cli.yml
  .github/workflows/release-spec.yml
Due: none

ci: Update teams for Jira ticket assignment (#904)
  .github/workflows/api-versions-reminder.yml
  .github/workflows/release-cli.yml
  .github/workflows/release-spec.yml
Due: none

Move ignore list to functionOptions
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Add tests for ignoreList
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA109ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Revert "PATCH version bump"
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): automatic warning-level violation detection
  .github/scripts/handle_warning_violations.sh
  .github/workflows/release-IPA-metrics.yml
  tools/spectral/ipa/__tests__/metrics/data/collector-results.log
  tools/spectral/ipa/__tests__/metrics/data/expected-metric-results.json
  tools/spectral/ipa/__tests__/metrics/metricCollection.test.js
  tools/spectral/ipa/metrics/metricCollection.js
  tools/spectral/ipa/metrics/scripts/runMetricCollection.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Alter name to 'ignorePluralizationList' and add documentation
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): Add ignore list for nouns in OperationID Validation (#901)
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA109ValidOperationID.test.js
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Update changelog
  tools/spectral/ipa/CHANGELOG.md
Due: prettier --write

Switch to 2.2.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release IPA package version 2.2.0 (#902)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

ci: Update on-call person for Slack channel message
  .github/workflows/api-versions-reminder.yml
Due: none

ci: Update teams and on-call person for Git workflows
  .github/workflows/api-versions-reminder.yml
  .github/workflows/optional-spec-validations.yml
  .github/workflows/release-IPA-metrics.yml
  .github/workflows/release-cli.yml
  .github/workflows/release-spec.yml
Due: none

ci: Update team and on-call person for Git workflows (#911)
  .github/workflows/api-versions-reminder.yml
  .github/workflows/optional-spec-validations.yml
  .github/workflows/release-IPA-metrics.yml
  .github/workflows/release-cli.yml
  .github/workflows/release-spec.yml
Due: none

update slack channel and jira team
  .github/workflows/release-IPA-metrics.yml
Due: none

fix
  tools/spectral/ipa/__tests__/metrics/data/expected-metric-results.json
  tools/spectral/ipa/__tests__/metrics/metricCollection.test.js
  tools/spectral/ipa/metrics/metricCollection.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix
  tools/spectral/ipa/__tests__/metrics/data/expected-metric-results.json
  tools/spectral/ipa/__tests__/metrics/metricCollection.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier fix
  tools/spectral/ipa/metrics/metricCollection.js
  tools/spectral/ipa/metrics/scripts/runMetricCollection.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

shellcheck fixes
  .github/scripts/handle_warning_violations.sh
  .github/workflows/release-IPA-metrics.yml
  tools/spectral/ipa/__tests__/metrics/metricCollection.test.js
  tools/spectral/ipa/metrics/outputs/warning-violations.json
Due: prettier --write, jest --findRelatedTests --passWithNoTests

tag the oncall person to the slack message
  .github/scripts/handle_warning_violations.sh
  .github/workflows/release-IPA-metrics.yml
Due: none

tag the oncall person to the slack message
  .github/scripts/handle_warning_violations.sh
Due: none

remove unneeded fields
  tools/spectral/ipa/__tests__/metrics/metricCollection.test.js
  tools/spectral/ipa/metrics/metricCollection.js
  tools/spectral/ipa/metrics/outputs/warning-violations.json
Due: prettier --write, jest --findRelatedTests --passWithNoTests

lint-js fix
  tools/spectral/ipa/rulesets/functions/IPA114ApiErrorHasBadRequestDetail.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier fix
  tools/spectral/ipa/rulesets/functions/IPA114ApiErrorHasBadRequestDetail.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat(ipa): new rules for operation summaries starting with specific words (#903)
  tools/spectral/ipa/__tests__/IPA117OperationSummaryCreateStartsWith.test.js
  tools/spectral/ipa/__tests__/IPA117OperationSummaryDeleteStartsWith.test.js
  tools/spectral/ipa/__tests__/IPA117OperationSummaryUpdateStartsWith.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117OperationSummaryStartsWith.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
