Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"]
}

CLOUDP-271992: Docs
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

task: add optional commit hook (#502)
  .husky/pre-commit
  .lintstagedrc.json
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write

task: add golang precommit hooks
  .lintstagedrc.json
  CONTRIBUTING.md
  tools/hooks/golang-precommit.sh
Due: prettier --write

driveby: adding ipa regeneration on yaml changes
  .lintstagedrc.json
Due: prettier --write

CLOUDP-304930: IPA-102 pattern test (#498)
  tools/spectral/ipa/__tests__/collectionIdentifierPattern.test.js
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/collectionIdentifierPattern.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-305172: Refactor the rule implementations (#500)
  tools/spectral/ipa/__tests__/createMethodShouldNotHaveQueryParameters.test.js
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsRequestSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/createMethodShouldNotHaveQueryParameters.js
  tools/spectral/ipa/rulesets/functions/deleteMethod204Response.js
  tools/spectral/ipa/rulesets/functions/deleteMethodResponseShouldNotHaveSchema.js
  tools/spectral/ipa/rulesets/functions/eachCustomMethodMustBeGetOrPost.js
  tools/spectral/ipa/rulesets/functions/eachCustomMethodMustUseCamelCase.js
  tools/spectral/ipa/rulesets/functions/eachEnumValueMustBeUpperSnakeCase.js
  tools/spectral/ipa/rulesets/functions/eachPathAlternatesBetweenResourceNameAndPathParam.js
  tools/spectral/ipa/rulesets/functions/eachResourceHasGetMethod.js
  tools/spectral/ipa/rulesets/functions/exceptionExtensionFormat.js
  tools/spectral/ipa/rulesets/functions/getMethodReturnsResponseSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/getMethodReturnsSingleResource.js
  tools/spectral/ipa/rulesets/functions/getResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/singletonHasNoId.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-271992: Add rule xgen-IPA-105-list-method-response-code-is-200 (#501)
  tools/spectral/ipa/__tests__/listResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/listResponseCodeShouldBe200OK.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-271993: Add rule xgen-IPA-105-list-method-no-request-body
  tools/spectral/ipa/__tests__/listMethodHasNoRequestBody.test.js
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/listMethodHasNoRequestBody.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-271993: Add line to contributing
  CONTRIBUTING.md
Due: prettier --write

CLOUDP-271993: Fix
  .husky/pre-commit
Due: none

CLOUDP-305831: Fix IPA validation failed on OAS release
  tools/spectral/ipa/__tests__/getMethodReturnsResponseSuffixedObject.test.js
  tools/spectral/ipa/rulesets/functions/deleteMethod204Response.js
  tools/spectral/ipa/rulesets/functions/getMethodResponseHasNoInputFields.js
  tools/spectral/ipa/rulesets/functions/getMethodReturnsResponseSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/getMethodReturnsSingleResource.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-305831: Fix IPA validation failed on OAS release (#509)
  tools/spectral/ipa/__tests__/getMethodReturnsResponseSuffixedObject.test.js
  tools/spectral/ipa/rulesets/functions/deleteMethod204Response.js
  tools/spectral/ipa/rulesets/functions/getMethodResponseHasNoInputFields.js
  tools/spectral/ipa/rulesets/functions/getMethodReturnsResponseSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/getMethodReturnsSingleResource.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-271993: Add rule xgen-IPA-105-list-method-no-request-body (#504)
  .husky/pre-commit
  CONTRIBUTING.md
  tools/spectral/ipa/__tests__/listMethodHasNoRequestBody.test.js
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/listMethodHasNoRequestBody.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

chore: update spectral dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: integrate with make
  .lintstagedrc.json
  tools/cli/Makefile
  tools/cli/precommit.sh
  tools/hooks/golang-precommit.sh
Due: prettier --write

chore: update spectral dependencies
  package-lock.json
Due: prettier --write

chore: update spectral dependencies (#514)
  package-lock.json
  package.json
Due: prettier --write

task: Adding golang precommit hooks (#503)
  .lintstagedrc.json
  CONTRIBUTING.md
  tools/cli/Makefile
  tools/cli/precommit.sh
Due: prettier --write

CLOUDP-304931: Adds xgen-IPA-105-resource-has-list
  tools/spectral/ipa/__tests__/eachResourceHasListMethod.test.js
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/eachResourceHasListMethod.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix branded_preview to avoid listing v2.json/v2.yaml files
  .github/scripts/branded_preview.sh
Due: none

Update
  package.json
Due: prettier --write

CLOUDP-304931: Adds xgen-IPA-105-resource-has-list (#515)
  tools/spectral/ipa/__tests__/eachResourceHasListMethod.test.js
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/eachResourceHasListMethod.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-302671: Update v2 to filtered OAS (#497)
  .github/scripts/split_spec.sh
  .github/workflows/generate-openapi.yml
  .github/workflows/release-IPA-metrics.yml
  .github/workflows/spectral-lint.yml
  openapi/.raw/README.md
  openapi/.raw/v2.json
  openapi/.raw/v2.yaml
  package.json
  tools/spectral/Makefile
  tools/spectral/ipa/README.md
  tools/spectral/ipa/metrics/config.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: create folder if it does not exist
  .github/scripts/split_spec.sh
Due: none

CLOUDP-304053: IPA-106:Create - The resource must be the request body (implement deepObjectComparison without third party dependencies)
  package-lock.json
  package.json
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/utils/compareUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: create folder if it does not exist (#519)
  .github/scripts/split_spec.sh
Due: none

ipa docs fix
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

ipa docs fix
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

address the comments
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/utils/compareUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: spectral lint changes job
  .github/workflows/spectral-lint.yml
  package.json
Due: prettier --write

CLOUDP-304929: camel case
  tools/spectral/ipa/__tests__/collectionIdentifierCamelCase.test.js
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/collectionIdentifierCamelCase.js
  tools/spectral/ipa/rulesets/functions/utils/componentUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: reuse method
  tools/spectral/ipa/__tests__/collectionIdentifierCamelCase.test.js
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/functions/collectionIdentifierCamelCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: remove function
  tools/spectral/ipa/rulesets/functions/utils/componentUtils.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

address the comments
  tools/spectral/ipa/rulesets/functions/utils/compareUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

IPA 106: Create : The response status code must be 201 Created
  tools/spectral/ipa/__tests__/createResponseCodeShouldBe201Created.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/functions/createResponseCodeShouldBe201Created.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: review comments
  tools/spectral/ipa/__tests__/collectionIdentifierCamelCase.test.js
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/functions/collectionIdentifierCamelCase.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: example description
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

task: add ipa validation to run during CI/CD process (#516)
  .github/workflows/spectral-lint.yml
  package.json
Due: prettier --write
