Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

CLOUDP-272001: Disallow usages of project in the api (fix) (#571)
  tools/spectral/ipa/__tests__/IPA112AvoidProjectFieldNames.test.js
  tools/spectral/ipa/__tests__/utils/schemaUtils.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306580: IPA 125 - Each oneOf property must be accompanied by a “discriminator” property defining when the exact type will be used.
  tools/spectral/ipa/__tests__/IPA125OneOfMustHaveDiscriminator.test.js
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/functions/IPA125OneOfMustHaveDiscriminator.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

driveby: better formatting of errors
  tools/spectral/ipa/__tests__/__helpers__/testRule.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Second Rollout for IPA validations
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

docs fix
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

metric collection test fix
  tools/spectral/ipa/__tests__/metrics/data/expected-metric-results.json
Due: prettier --write

CLOUDP-307341: Include singleton in IPA 107 rules (#570)
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodResponseIsGetMethodResponse.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

spectral-lint job fix
  .github/workflows/spectral-lint.yml
Due: none

Second Rollout for IPA validations (#574)
  .github/workflows/spectral-lint.yml
  tools/spectral/ipa/__tests__/metrics/data/expected-metric-results.json
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: more specific errors
  tools/spectral/ipa/__tests__/IPA125OneOfMustHaveDiscriminator.test.js
  tools/spectral/ipa/rulesets/functions/IPA125OneOfMustHaveDiscriminator.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: more specific errors
  tools/spectral/ipa/rulesets/functions/IPA125OneOfMustHaveDiscriminator.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Remove optional IPA validations check from non-dev environments
  .github/workflows/optional-spec-validations.yml
Due: none

Remove optional IPA validations check from non-dev environments (#578)
  .github/workflows/optional-spec-validations.yml
Due: none

CLOUDP-306580: IPA 125 - Each oneOf property must be accompanied with discriminator (#572)
  tools/spectral/ipa/__tests__/IPA125OneOfMustHaveDiscriminator.test.js
  tools/spectral/ipa/__tests__/__helpers__/testRule.js
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/functions/IPA125OneOfMustHaveDiscriminator.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306581: base types oneof
  tools/spectral/ipa/__tests__/IPA125OneOfNoBaseTypes.test.js
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/functions/IPA125OneOfNoBaseTypes.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: renerated documentation
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: refactor to support exceptions and standard ipa functions
  tools/spectral/ipa/__tests__/IPA125OneOfMustHaveDiscriminator.test.js
  tools/spectral/ipa/__tests__/IPA125OneOfNoBaseTypes.test.js
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/functions/IPA125OneOfMustHaveDiscriminator.js
  tools/spectral/ipa/rulesets/functions/IPA125OneOfNoBaseTypes.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304958: IPA rule singleton must not have delete
  tools/spectral/ipa/__tests__/IPA113SingletonHasNoDeleteMethod.test.js
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA113SingletonHasNoDeleteMethod.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306580: base types oneof (#573)
  tools/spectral/ipa/__tests__/IPA125OneOfMustHaveDiscriminator.test.js
  tools/spectral/ipa/__tests__/IPA125OneOfNoBaseTypes.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA125OneOfMustHaveDiscriminator.js
  tools/spectral/ipa/rulesets/functions/IPA125OneOfNoBaseTypes.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304958: IPA rule singleton should have update
  tools/spectral/ipa/__tests__/IPA113SingletonHasUpdateMethod.test.js
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA113SingletonHasUpdateMethod.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Fix: Degrade severity level for IPA-125 rules
  tools/spectral/ipa/rulesets/IPA-125.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

ipa docs fix
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

poc: flatten
  tools/cli/Makefile
  tools/cli/internal/cli/flatten/flatten.go
  tools/cli/internal/cli/root/openapi/builder.go
  tools/cli/internal/openapi/openapi.go
  tools/postman/scripts/upload-collection.sh
Due: ./tools/cli/precommit.sh

CLOUDP-271999: Field names must use camelCase
  tools/spectral/ipa/__tests__/IPA112FieldNamesAreCamelCase.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA112FieldNamesAreCamelCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Fix: Degrade severity level for IPA-125 rules (#581)
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

workflow fix
  .github/workflows/spectral-lint.yml
Due: none

test
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Include severity in IPA rule test
  tools/spectral/ipa/__tests__/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.test.js
  tools/spectral/ipa/__tests__/IPA104EachResourceHasGetMethod.test.js
  tools/spectral/ipa/__tests__/IPA104GetMethodHasNoRequestBody.test.js
  tools/spectral/ipa/__tests__/IPA104GetMethodResponseHasNoInputFields.test.js
  tools/spectral/ipa/__tests__/IPA104GetMethodReturnsResponseSuffixedObject.test.js
  tools/spectral/ipa/__tests__/IPA104GetMethodReturnsSingleResource.test.js
  tools/spectral/ipa/__tests__/IPA104GetResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/__tests__/IPA105EachResourceHasListMethod.test.js
  tools/spectral/ipa/__tests__/IPA105ListMethodHasNoRequestBody.test.js
  tools/spectral/ipa/__tests__/IPA105ListMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/__tests__/IPA105ListResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/__tests__/IPA105exceptionExtensionFormat.test.js
  tools/spectral/ipa/__tests__/IPA106CreateMethodRequestBodyIsRequestSuffixedObject.test.js
  tools/spectral/ipa/__tests__/IPA106CreateMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/IPA106CreateMethodResponseCodeIs201Created.test.js
  tools/spectral/ipa/__tests__/IPA106CreateMethodShouldNotHaveQueryParameters.test.js
  tools/spectral/ipa/__tests__/IPA109EachCustomMethodMustBeGetOrPost.test.js
  tools/spectral/ipa/__tests__/IPA109EachCustomMethodMustUseCamelCase.test.js
  tools/spectral/ipa/__tests__/IPA123EachEnumValueMustBeUpperSnakeCase.test.js
  tools/spectral/ipa/__tests__/__helpers__/testRule.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

test
  .github/workflows/spectral-lint.yml
Due: none

Fix
  tools/spectral/ipa/__tests__/IPA125OneOfMustHaveDiscriminator.test.js
  tools/spectral/ipa/__tests__/IPA125OneOfNoBaseTypes.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

test
  .github/workflows/spectral-lint.yml
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Test
  .github/workflows/spectral-lint.yml
Due: none

Fix: Remove permissions from Spectral Lint workflow
  .github/workflows/spectral-lint.yml
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
