Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

CLOUDP-309109: Third rollout for IPA validations (#625)
  tools/spectral/ipa/__tests__/IPA102CollectionIdentifierCamelCase.test.js
  tools/spectral/ipa/__tests__/IPA102CollectionIdentifierPattern.test.js
  tools/spectral/ipa/__tests__/IPA106CreateMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/IPA106CreateMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodMustNotHaveQueryParams.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestBodyIsUpdateRequestSuffixedObject.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/__tests__/IPA108DeleteMethod204Response.test.js
  tools/spectral/ipa/__tests__/IPA108DeleteMethod404Response.test.js
  tools/spectral/ipa/__tests__/IPA108DeleteMethodNoRequestBody.test.js
  tools/spectral/ipa/__tests__/IPA108DeleteMethodResponseShouldNotHaveSchema.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasNoDeleteMethod.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasNoId.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasUpdateMethod.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address comment
  tools/cli/test/e2e/cli/changelog_test.go
Due: ./tools/cli/precommit.sh

CLOUDP-302419: Add version rename test (#623)
  tools/cli/test/data/changelog/rename-api-version/base/changelog.json
  tools/cli/test/data/changelog/rename-api-version/base/metadata.json
  tools/cli/test/data/changelog/rename-api-version/base/openapi-2023-01-01.json
  tools/cli/test/data/changelog/rename-api-version/base/openapi-2023-02-01.json
  tools/cli/test/data/changelog/rename-api-version/base/openapi-2023-10-01.json
  tools/cli/test/data/changelog/rename-api-version/base/openapi-2023-11-15.json
  tools/cli/test/data/changelog/rename-api-version/base/openapi-2024-05-30.json
  tools/cli/test/data/changelog/rename-api-version/base/openapi-2043-01-01.json
  tools/cli/test/data/changelog/rename-api-version/exemptions.yaml
  tools/cli/test/data/changelog/rename-api-version/output/2023-01-01_2023-02-01.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-01-01_2023-10-01.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-01-01_2023-11-15.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-01-01_2024-05-30.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-01-01_2024-08-05.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-02-01_2023-10-01.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-02-01_2023-11-15.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-02-01_2024-05-30.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-02-01_2024-08-05.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-10-01_2023-11-15.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-10-01_2024-05-30.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-10-01_2024-08-05.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-11-15_2024-05-30.json
  tools/cli/test/data/changelog/rename-api-version/output/2023-11-15_2024-08-05.json
  tools/cli/test/data/changelog/rename-api-version/output/2024-05-30_2024-08-05.json
  tools/cli/test/data/changelog/rename-api-version/output/changelog-all.json
  tools/cli/test/data/changelog/rename-api-version/output/changelog.json
  tools/cli/test/data/changelog/rename-api-version/revision/exemptions.yaml
  tools/cli/test/data/changelog/rename-api-version/revision/metadata.json
  tools/cli/test/data/changelog/rename-api-version/revision/openapi-2023-01-01.json
  tools/cli/test/data/changelog/rename-api-version/revision/openapi-2023-02-01.json
  tools/cli/test/data/changelog/rename-api-version/revision/openapi-2023-10-01.json
  tools/cli/test/data/changelog/rename-api-version/revision/openapi-2023-11-15.json
  tools/cli/test/data/changelog/rename-api-version/revision/openapi-2024-05-30.json
  tools/cli/test/data/changelog/rename-api-version/revision/openapi-2024-08-05.json
  tools/cli/test/e2e/cli/changelog_test.go
  tools/cli/test/e2e/cli/cli.go
Due: prettier --write, ./tools/cli/precommit.sh

CLOUDP-306573: IPA rule - plaintext repsonse has example
  tools/spectral/ipa/__tests__/IPA117PlaintextResponseMustHaveExample.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117PlaintextResponseMustHaveExample.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

chore: addressed follow up comment (#619)
  README.md
  tools/cli/README.md
Due: prettier --write

CLOUDP-280564: Update breaking changes classification in changelog
  tools/cli/internal/changelog/changelog.go
Due: ./tools/cli/precommit.sh

update tests
  tools/cli/test/data/changelog/changelog.json
  tools/cli/test/data/changelog/new-api-preview-version/base/changelog.json
  tools/cli/test/data/changelog/new-api-preview-version/output/changelog-all.json
  tools/cli/test/data/changelog/new-api-preview-version/output/changelog.json
  tools/cli/test/data/changelog/new-api-version/base/changelog.json
  tools/cli/test/data/changelog/new-api-version/output/changelog-all.json
  tools/cli/test/data/changelog/new-api-version/output/changelog.json
  tools/cli/test/data/changelog/rename-api-version/base/changelog.json
  tools/cli/test/data/changelog/rename-api-version/output/changelog-all.json
  tools/cli/test/data/changelog/rename-api-version/output/changelog.json
  tools/cli/test/data/changelog/same-api-version/base/changelog.json
  tools/cli/test/data/changelog/same-api-version/output/changelog-all.json
  tools/cli/test/data/changelog/same-api-version/output/changelog.json
Due: prettier --write

CLOUDP-304960: Errors (APIs must return ApiError when errors occur)
  tools/spectral/ipa/__tests__/IPA114ErrorResponsesReferToApiError.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

docs fix
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306573: Docs
  outputs/v2-dev.json
  tools/spectral/ipa/rulesets/functions/IPA117PlaintextResponseMustHaveExample.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306573: Fix PR IPA run
  .github/workflows/spectral-lint.yml
Due: none

CLOUDP-306573: IPA rule - plaintext repsonse has example (#628)
  .github/workflows/spectral-lint.yml
  outputs/v2-dev.json
  tools/spectral/ipa/__tests__/IPA117PlaintextResponseMustHaveExample.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117PlaintextResponseMustHaveExample.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Increase postman upload timelines
  tools/postman/scripts/upload-collection.sh
Due: none

fix: use verbose mode for now to gain more insights about errors
  tools/postman/scripts/upload-collection.sh
Due: none

Add silent flag to curl command
  tools/postman/scripts/upload-collection.sh
Due: none

additional checks
  tools/spectral/ipa/__tests__/IPA114ErrorResponsesReferToApiError.test.js
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

additional checks
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

test log
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

test log
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

remove test logs
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier fix
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Gustavo bash and formatting refactor
  tools/postman/scripts/upload-collection.sh
Due: none

Increase curl retry attempts and delay for new collection
  tools/postman/scripts/upload-collection.sh
Due: none

CLOUDP-304961: IPA-114: Errors (ApiError schema properties)
  tools/spectral/ipa/__tests__/IPA114ApiErrorHasBadRequestDetail.test.js
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA114ApiErrorHasBadRequestDetail.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-304960: Errors (APIs must return ApiError when errors occur) (#630)
  tools/spectral/ipa/__tests__/IPA114ErrorResponsesReferToApiError.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-308470: Remove the .golangci.bck.yml from mongodb/openapi
  tools/cli/.golangci.bck.yml
Due: none

CLOUDP-308470: Remove the `.golangci.bck.yml` from `mongodb/openapi` (#633)
  tools/cli/.golangci.bck.yml
Due: none

CLOUDP-309394 - Increase postman upload timelines (#631)
  tools/postman/scripts/upload-collection.sh
Due: none

CLOUDP-306572: Adds rule for "well defined schema"
  tools/spectral/ipa/__tests__/IPA117ObjectsMustBeWellDefined.test.js
  tools/spectral/ipa/__tests__/IPA117ParameterHasExamplesOrSchema.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117ObjectsMustBeWellDefined.js
  tools/spectral/ipa/rulesets/functions/IPA117ParameterHasExamplesOrSchema.js
  tools/spectral/ipa/rulesets/functions/utils/componentUtils.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304961: IPA-114: Errors (ApiError schema properties) (#632)
  tools/spectral/ipa/__tests__/IPA114ApiErrorHasBadRequestDetail.test.js
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA114ApiErrorHasBadRequestDetail.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306572: Adds rule for "well defined schema" (#634)
  tools/spectral/ipa/__tests__/IPA117ObjectsMustBeWellDefined.test.js
  tools/spectral/ipa/__tests__/IPA117ParameterHasExamplesOrSchema.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117ObjectsMustBeWellDefined.js
  tools/spectral/ipa/rulesets/functions/IPA117ParameterHasExamplesOrSchema.js
  tools/spectral/ipa/rulesets/functions/utils/componentUtils.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-309577 : finetune posman calls
  tools/postman/scripts/upload-collection.sh
Due: none

IPA-114: Errors (fix for exception level)
  tools/spectral/ipa/__tests__/IPA114ErrorResponsesReferToApiError.test.js
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier fix
  tools/spectral/ipa/__tests__/IPA114ErrorResponsesReferToApiError.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

test commit
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
