Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

fix(ipa): refactor, rename pluralization ignore list (#929)
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): make operation ID rules error-level
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA109ValidOperationID.test.js
  tools/spectral/ipa/__tests__/metrics/data/collector-results.log
  tools/spectral/ipa/__tests__/metrics/data/expected-metric-results.json
  tools/spectral/ipa/__tests__/metrics/data/test-ipa-spectral.yaml
  tools/spectral/ipa/__tests__/metrics/metricCollection.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): make operation ID rules error-level (#932)
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA109ValidOperationID.test.js
  tools/spectral/ipa/__tests__/metrics/data/collector-results.log
  tools/spectral/ipa/__tests__/metrics/data/expected-metric-results.json
  tools/spectral/ipa/__tests__/metrics/data/test-ipa-spectral.yaml
  tools/spectral/ipa/__tests__/metrics/metricCollection.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): release new version 4.0.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 4.0.0 (#933)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

fix(ipa): Fix IPA005 rule to allow camel case and numbers in rule name
  tools/spectral/ipa/__tests__/IPA005ExceptionExtensionFormat.test.js
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/functions/IPA005ExceptionExtensionFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier fix
  tools/spectral/ipa/rulesets/functions/IPA005ExceptionExtensionFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

ipa docs gen fix
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

fix(ipa): Fix IPA005 rule to allow camel case and numbers in rule name (#940)
  tools/spectral/ipa/__tests__/IPA005ExceptionExtensionFormat.test.js
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA005ExceptionExtensionFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): release new version 5.0.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 5.0.0 (#941)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): Add failure handler to the IPA NPM Package Releaser workflow
  .github/workflows/ipa-release.yml
Due: none

ci(ipa): Add failure handler to the IPA NPM Package Releaser workflow (#951)
  .github/workflows/ipa-release.yml
Due: none

feat(ipa): Upgrade warning-level rules to the error level
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci fixes
  tools/spectral/ipa/__tests__/IPA117OperationSummaryCreateStartsWith.test.js
  tools/spectral/ipa/__tests__/IPA117OperationSummaryDeleteStartsWith.test.js
  tools/spectral/ipa/__tests__/IPA117OperationSummaryFormat.test.js
  tools/spectral/ipa/__tests__/IPA117OperationSummaryGetStartsWith.test.js
  tools/spectral/ipa/__tests__/IPA117OperationSummarySingleItemWording.test.js
  tools/spectral/ipa/__tests__/IPA117OperationSummaryUpdateStartsWith.test.js
  tools/spectral/ipa/__tests__/IPA125DiscriminatorMustAccompanyOneOfAnyOfAllOf.test.js
  tools/spectral/ipa/__tests__/IPA125OneOfSchemaPropertySameType.test.js
  tools/spectral/ipa/ipa-spectral.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci fixes
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): Upgrade warning-level rules to the error level (#952)
  tools/spectral/ipa/__tests__/IPA117OperationSummaryCreateStartsWith.test.js
  tools/spectral/ipa/__tests__/IPA117OperationSummaryDeleteStartsWith.test.js
  tools/spectral/ipa/__tests__/IPA117OperationSummaryFormat.test.js
  tools/spectral/ipa/__tests__/IPA117OperationSummaryGetStartsWith.test.js
  tools/spectral/ipa/__tests__/IPA117OperationSummarySingleItemWording.test.js
  tools/spectral/ipa/__tests__/IPA117OperationSummaryUpdateStartsWith.test.js
  tools/spectral/ipa/__tests__/IPA125DiscriminatorMustAccompanyOneOfAnyOfAllOf.test.js
  tools/spectral/ipa/__tests__/IPA125OneOfSchemaPropertySameType.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): release new version 6.0.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

fix(ipa): Remove temporary overrides from Spectral file
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier fix
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci fix
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): Remove temporary overrides from Spectral file (#954)
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

include temporary override removal
  tools/spectral/ipa/CHANGELOG.md
Due: prettier --write

ci(ipa): release new version 6.0.0 (#953)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

Added 'x-xgen-operation-id-override' support
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
Due: ./tools/cli/precommit.sh

silence linter
  tools/cli/internal/openapi/filter/code_sample_test.go
Due: ./tools/cli/precommit.sh

fix: add optional --run-date flag for deterministic changelog tests
  tools/cli/internal/changelog/changelog.go
  tools/cli/internal/cli/changelog/create.go
  tools/cli/test/e2e/cli/changelog_test.go
Due: ./tools/cli/precommit.sh

chore: Update reviewers for OpenAPI repo to use APIx Platform team name
  .github/CODEOWNERS
Due: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: Update reviewers for OpenAPI repo to use APIx Platform team name (#958)
  .github/CODEOWNERS
Due: none

fix: add optional --run-date flag for deterministic changelog tests (#957)
  tools/cli/internal/changelog/changelog.go
  tools/cli/internal/cli/changelog/create.go
  tools/cli/test/e2e/cli/changelog_test.go
Due: ./tools/cli/precommit.sh

Revert "chore: bump parquet-wasm from 0.6.1 to 0.7.0 (#960)"
  package-lock.json
  package.json
Due: prettier --write

fix: revert: "chore: bump parquet-wasm from 0.6.1 to 0.7.0" (#965)
  package-lock.json
  package.json
Due: prettier --write

Debug for metrics collection job
  tools/spectral/ipa/metrics/metricCollection.js
  tools/spectral/ipa/metrics/utils/metricCollectionUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-347212: Update release-IPA-metrics.yml to run once per week
  .github/workflows/release-IPA-metrics.yml
Due: none

ci: make IPA metrics collection more efficient
  .gitignore
  tools/spectral/ipa/metrics/utils/metricCollectionUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

ci: ensure JS test runs on package update
  .github/workflows/code-health-tools.yml
Due: none

ci: ensure JS test runs on package update (#968)
  .github/workflows/code-health-tools.yml
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
