Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

CLOUDP-328959: Fixed error handling pattern
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328959: Added more verbose error messages
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328959: Added exception handling and removed used variables
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328959: 'prettier' new line
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328959: Fixed exceptions and imports
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Addressed Filipe's comments
  .github/scripts/get_sunset_apis.sh
  .github/workflows/api-versions-reminder.yml
Due: none

CLOUDP-328959: Added opID validation yaml for IPA106 and fixed lint error
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328959: Added opID validation yaml for IPA107 and fixed lint error
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328959: Added opID validation yaml for IPA108 and fixed lint error
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328959: Updated docs
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

doc: Update README.md openapi link to point to bump.sh doc
  README.md
Due: prettier --write

doc: Update README.md openapi link to point to bump.sh doc (#808)
  README.md
Due: prettier --write

CLOUDP-328959: Added tests for validating IPA106 valid operationIds
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328959: Added tests for validating IPA108 valid operationIds
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328959: comment out unlaunched test
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328959: Added tests for validating IPA107 valid operationIds
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328959: Added early returns and removed reference to custom methods
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328955: Switched from ember-inflector to inflection
  package-lock.json
  package.json
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328959: Added helper method for stripping custom method names
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328960: testing custom method filtering
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328955: Initial get/list configuration
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328959: Edits
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328959: prettier
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328959: doc update
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

CLOUDP-328959: Added methodName to functionOptions
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328955: Update error message and methodName function option
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328955: Update docs
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328955: Added tests and updated docs for ipa104 opId validation
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328955: Fixed tests and docs for ipa104 opId validation
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328955: Update tests and docs
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328959: Update docs, remove unused schema, add customMethod check
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328955: Removed unused schema
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP 328959: OperationID Validation functions for Create, Delete, and Update methods (#805)
  package-lock.json
  package.json
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-293819: Update the GH action to send sunset reminder for endpoints approaching sunset in 1 month and 1 week (#807)
  .github/scripts/get_sunset_apis.sh
  .github/workflows/api-versions-reminder.yml
Due: none

Removed rogue print statement oops
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: rename 1_week_date to one_week_date to fix lint error
  .github/workflows/api-versions-reminder.yml
Due: none

Shortened error messages
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP 328955: OperationID Validation functions for Get and List methods (#814)
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-328960: custom method opID validation for :action notation
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328960: Updated docs & error format
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
