Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

Revert "feat: update bump release to be triggered manually"
  .github/workflows/generate-bump-pages.yml
Due: none

Test config and changelog with ipav tag
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): use release tags for IPA ruleset
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): create release tag in IPA ruleset release
  .github/workflows/ipa-release.yml
Due: none

fix: release workflow
  .github/workflows/ipa-release.yml
Due: none

fix(ipa): Validate both inline and reusable enums
  tools/spectral/ipa/__tests__/IPA123EnumValuesShouldNotExceed20.test.js
  tools/spectral/ipa/rulesets/functions/IPA123EnumValuesShouldNotExceed20.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Doc fix
  tools/spectral/ipa/__tests__/IPA123EnumValuesShouldNotExceed20.test.js
  tools/spectral/ipa/rulesets/IPA-123.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Doc fix
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

add overrides
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: changelog
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

fix: changelog test
  .github/workflows/ipa-changelog.yml
  tools/spectral/ipa/package.json
Due: prettier --write

fix: changelog test
  .github/workflows/ipa-changelog.yml
Due: none

test: should be successful
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

test: should fail
  tools/spectral/ipa/CHANGELOG.md
Due: prettier --write

test: should fail
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

test: should fail
  .github/workflows/ipa-changelog.yml
Due: none

test: should be successful
  tools/spectral/ipa/package.json
Due: prettier --write

test: should fail
  .github/workflows/ipa-changelog.yml
  tools/spectral/ipa/CHANGELOG.md
Due: prettier --write

fix: restore changelog
  tools/spectral/ipa/CHANGELOG.md
Due: prettier --write

fix(ipa): Validate both inline and reusable enums (#890)
  tools/spectral/ipa/__tests__/IPA123EnumValuesShouldNotExceed20.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA123EnumValuesShouldNotExceed20.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): use release tags for IPA ruleset (#889)
  .github/workflows/ipa-changelog.yml
  .github/workflows/ipa-release.yml
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 1.0.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/CONTRIBUTING.md
  tools/spectral/ipa/package.json
Due: prettier --write

fix: test fix
  .github/workflows/ipa-release.yml
Due: none

fix: ignore ci commits
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 1.0.0 (#891)
  .github/workflows/ipa-release.yml
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/CONTRIBUTING.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): fix IPA release tag creation
  .github/workflows/ipa-release.yml
Due: none

fix: substitution
  .github/workflows/ipa-release.yml
Due: none

fix: test without existing tag input
  .github/workflows/ipa-release.yml
Due: none

fix: test with undef input
  .github/workflows/ipa-release.yml
Due: none

fix: test with existing tag input
  .github/workflows/ipa-release.yml
Due: none

fix: only create tag when version changed
  .github/workflows/ipa-release.yml
Due: none

test: bump version
  tools/spectral/ipa/package.json
Due: prettier --write

fix
  .github/workflows/ipa-release.yml
Due: none

revert: test: bump version
  tools/spectral/ipa/package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
