Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

prettier fix
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsRequestSuffixedObject.test.js
  tools/spectral/ipa/__tests__/createMethodShouldNotHaveQueryParameters.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-271995: Adds rule for update method must not have query param (#539)
  tools/spectral/ipa/__tests__/createMethodShouldNotHaveQueryParameters.test.js
  tools/spectral/ipa/__tests__/updateMethodMustNotHaveQueryParams.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodShouldNotHaveQueryParameters.js
  tools/spectral/ipa/rulesets/functions/updateMethodMustNotHaveQueryParams.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier fix
  tools/spectral/ipa/__tests__/createMethodShouldNotHaveQueryParameters.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-304946: IPA rule update must return 200 ok
  tools/spectral/ipa/__tests__/updateResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodResponseCodeIs201Created.js
  tools/spectral/ipa/rulesets/functions/listResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/updateResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/utils/collectionUtils.js
  tools/spectral/ipa/rulesets/functions/utils/validations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304053: IPA-106:Create - The resource must be the request body (exclude readOnly:true and writeOnly:true) (#541)
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsRequestSuffixedObject.test.js
  tools/spectral/ipa/__tests__/createMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/createMethodResponseCodeIs201Created.test.js
  tools/spectral/ipa/__tests__/createMethodShouldNotHaveQueryParameters.test.js
  tools/spectral/ipa/__tests__/utils/compareUtils.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/utils/compareUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304940: IPA 106: Create : The response body should be the same resource of the Get operation
  tools/spectral/ipa/__tests__/createMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/listMethodResponseIsGetMethodResponse.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-305862: replace urls
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/IPA-123.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: tests
  tools/spectral/ipa/__tests__/IPA105exceptionExtensionFormat.test.js
  tools/spectral/ipa/__tests__/__helpers__/testRule.js
  tools/spectral/ipa/__tests__/collectionIdentifierCamelCase.test.js
  tools/spectral/ipa/__tests__/collectionIdentifierPattern.test.js
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsRequestSuffixedObject.test.js
  tools/spectral/ipa/__tests__/createMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/createMethodResponseCodeIs201Created.test.js
  tools/spectral/ipa/__tests__/createMethodShouldNotHaveQueryParameters.test.js
  tools/spectral/ipa/__tests__/deleteMethod204Response.test.js
  tools/spectral/ipa/__tests__/deleteMethod404Response.test.js
  tools/spectral/ipa/__tests__/deleteMethodNoRequestBody.test.js
  tools/spectral/ipa/__tests__/deleteMethodResponseShouldNotHaveSchema.test.js
  tools/spectral/ipa/__tests__/eachCustomMethodMustBeGetOrPost.test.js
  tools/spectral/ipa/__tests__/eachCustomMethodMustUseCamelCase.test.js
  tools/spectral/ipa/__tests__/eachEnumValueMustBeUpperSnakeCase.test.js
  tools/spectral/ipa/__tests__/eachPathAlternatesBetweenResourceNameAndPathParam.test.js
  tools/spectral/ipa/__tests__/eachResourceHasGetMethod.test.js
  tools/spectral/ipa/__tests__/eachResourceHasListMethod.test.js
  tools/spectral/ipa/__tests__/getMethodHasNoRequestBody.test.js
  tools/spectral/ipa/__tests__/getMethodResponseHasNoInputFields.test.js
  tools/spectral/ipa/__tests__/getMethodReturnsResponseSuffixedObject.test.js
  tools/spectral/ipa/__tests__/getMethodReturnsSingleResource.test.js
  tools/spectral/ipa/__tests__/getResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/__tests__/listMethodHasNoRequestBody.test.js
  tools/spectral/ipa/__tests__/listMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/__tests__/listResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/__tests__/singletonHasNoId.test.js
  tools/spectral/ipa/__tests__/updateMethodMustNotHaveQueryParams.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: readme
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsRequestSuffixedObject.test.js
  tools/spectral/ipa/__tests__/createMethodShouldNotHaveQueryParameters.test.js
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-305862: replace urls to use public url shortener and direct link to rule (#543)
  tools/spectral/ipa/__tests__/IPA105exceptionExtensionFormat.test.js
  tools/spectral/ipa/__tests__/__helpers__/testRule.js
  tools/spectral/ipa/__tests__/collectionIdentifierCamelCase.test.js
  tools/spectral/ipa/__tests__/collectionIdentifierPattern.test.js
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsRequestSuffixedObject.test.js
  tools/spectral/ipa/__tests__/createMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/createMethodResponseCodeIs201Created.test.js
  tools/spectral/ipa/__tests__/createMethodShouldNotHaveQueryParameters.test.js
  tools/spectral/ipa/__tests__/deleteMethod204Response.test.js
  tools/spectral/ipa/__tests__/deleteMethod404Response.test.js
  tools/spectral/ipa/__tests__/deleteMethodNoRequestBody.test.js
  tools/spectral/ipa/__tests__/deleteMethodResponseShouldNotHaveSchema.test.js
  tools/spectral/ipa/__tests__/eachCustomMethodMustBeGetOrPost.test.js
  tools/spectral/ipa/__tests__/eachCustomMethodMustUseCamelCase.test.js
  tools/spectral/ipa/__tests__/eachEnumValueMustBeUpperSnakeCase.test.js
  tools/spectral/ipa/__tests__/eachPathAlternatesBetweenResourceNameAndPathParam.test.js
  tools/spectral/ipa/__tests__/eachResourceHasGetMethod.test.js
  tools/spectral/ipa/__tests__/eachResourceHasListMethod.test.js
  tools/spectral/ipa/__tests__/getMethodHasNoRequestBody.test.js
  tools/spectral/ipa/__tests__/getMethodResponseHasNoInputFields.test.js
  tools/spectral/ipa/__tests__/getMethodReturnsResponseSuffixedObject.test.js
  tools/spectral/ipa/__tests__/getMethodReturnsSingleResource.test.js
  tools/spectral/ipa/__tests__/getResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/__tests__/listMethodHasNoRequestBody.test.js
  tools/spectral/ipa/__tests__/listMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/__tests__/listResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/__tests__/singletonHasNoId.test.js
  tools/spectral/ipa/__tests__/updateMethodMustNotHaveQueryParams.test.js
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

docs fix
  tools/spectral/ipa/__tests__/createMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/functions/createMethodResponseIsGetMethodResponse.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304946: Fix
  tools/spectral/ipa/__tests__/updateResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304946: IPA rule update must return 200 ok (#542)
  tools/spectral/ipa/__tests__/updateResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodResponseCodeIs201Created.js
  tools/spectral/ipa/rulesets/functions/listResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/updateResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/utils/collectionUtils.js
  tools/spectral/ipa/rulesets/functions/utils/validations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304940: IPA 106: Create : The response body should be the same resource of the Get method (#544)
  tools/spectral/ipa/__tests__/createMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/listMethodResponseIsGetMethodResponse.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: IPA-102
  tools/spectral/ipa/__tests__/IPA102CollectionIdentifierCamelCase.test.js
  tools/spectral/ipa/__tests__/IPA102CollectionIdentifierPattern.test.js
  tools/spectral/ipa/__tests__/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.test.js
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierCamelCase.js
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierPattern.js
  tools/spectral/ipa/rulesets/functions/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: IPA-104 descriptions
  tools/spectral/ipa/rulesets/IPA-104.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: Format
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: minor clarification for 113
  tools/spectral/ipa/rulesets/IPA-113.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-123
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-108
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-113
  tools/spectral/ipa/rulesets/IPA-113.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-108
  tools/spectral/ipa/rulesets/IPA-108.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: IPA-105
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-106
  tools/spectral/ipa/rulesets/IPA-106.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-109
  tools/spectral/ipa/rulesets/IPA-109.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: lint and regenerate docs
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: reset delete
  tools/spectral/ipa/rulesets/IPA-108.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: IPA-108
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

task: change plural form in docs
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/scripts/generateRulesetReadme.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Make doc IDs repo variables
  .github/scripts/generateSpecMapping.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Set vars in env
  .github/workflows/generate-bump-pages.yml
Due: none

CLOUDP-304053: IPA-106:Create - The resource must be the request body (Refinement)
  tools/spectral/ipa/__tests__/utils/compareUtils.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/utils/compareUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

docs fix
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

compare whole ref
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestBodyIsGetResponse.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-304053: IPA-106:Create - The resource must be the request body (Refinement) (#548)
  tools/spectral/ipa/__tests__/utils/compareUtils.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/utils/compareUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
