Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

quickfix for legacy custom methods
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Fix for legacy custom method noun plurality
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

added test for fixed edge case
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-328313: Quickfix for legacy custom methods (#823)
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

DOP-5830: Update preview to use Bump
  .github/scripts/branded-preview.html
  .github/scripts/branded_preview.sh
Due: none

Update error handling
  .github/scripts/branded-preview.html
  .github/scripts/branded_preview.sh
Due: none

Remove html file
  .github/scripts/branded-preview.html
Due: none

Remove modified local dev logic
  .github/scripts/branded_preview.sh
Due: none

Fix
  .github/scripts/branded_preview.sh
Due: none

Prevent button spam
  .github/scripts/branded_preview.sh
Due: none

remove unused dependency
  package.json
Due: prettier --write

draft semantic commit check based on IPA repo workflow
  .github/workflows/spectral-commit.yml
Due: none

Draft package.json with broken tests
  tools/spectral/package.json
Due: prettier --write

Fix for jest testing
  tools/spectral/babel.config.json
  tools/spectral/package-lock.json
Due: prettier --write

Ignore node modules for spectral
  .gitignore
Due: none

Install changelog action and generate sample changelog
  tools/spectral/CHANGELOG.md
  tools/spectral/package-lock.json
  tools/spectral/package.json
Due: prettier --write

Change to apply semantic commit check to entire repo
  .github/workflows/semantic-commit.yml
Due: none

changes
  tools/spectral/package.json
Due: prettier --write

Revert "changes"
  tools/spectral/package.json
Due: prettier --write

CLOUDP-332939: Updated husky usage
  .husky/pre-commit
  package.json
Due: prettier --write

CLOUDP-332939: Updated husky usage (#825)
  .husky/pre-commit
  package.json
Due: prettier --write

Update README with quick links, package.json description, added prettierignore
  tools/spectral/.prettierignore
  tools/spectral/README.md
  tools/spectral/package.json
Due: prettier --write

CLOUDP-331821: Refactor validations.js split into multiple files
  tools/spectral/ipa/__tests__/utils/validations.test.js
  tools/spectral/ipa/__tests__/utils/validations/checkForbiddenPropertyAttributesAndReturnErrors.test.js
  tools/spectral/ipa/__tests__/utils/validations/validateOperationIdAndReturnErrors.test.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodResponseHasNoInputFields.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodReturnsResponseSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA104GetResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ListResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestBodyIsRequestSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodResponseCodeIs201Created.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestBodyIsUpdateRequestSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasItemsPerPageQueryParam.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasPageNumQueryParam.js
  tools/spectral/ipa/rulesets/functions/utils/validations.js
  tools/spectral/ipa/rulesets/functions/utils/validations/checkForbiddenPropertyAttributesAndReturnErrors.js
  tools/spectral/ipa/rulesets/functions/utils/validations/checkPaginationQueryParameterAndReturnErrors.js
  tools/spectral/ipa/rulesets/functions/utils/validations/checkRequestResponseResourceEqualityAndReturnErrors.js
  tools/spectral/ipa/rulesets/functions/utils/validations/checkResponseCodeAndReturnErrors.js
  tools/spectral/ipa/rulesets/functions/utils/validations/checkSchemaRefSuffixAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-331821: Delete file that snuck in
  tools/spectral/ipa/__tests__/utils/validations/validateOperationIdAndReturnErrors.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-331821: Refactor validations.js split into multiple files (#826)
  tools/spectral/ipa/__tests__/utils/validations.test.js
  tools/spectral/ipa/__tests__/utils/validations/checkForbiddenPropertyAttributesAndReturnErrors.test.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodResponseHasNoInputFields.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodReturnsResponseSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA104GetResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ListResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestBodyIsRequestSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodResponseCodeIs201Created.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestBodyIsUpdateRequestSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasItemsPerPageQueryParam.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasPageNumQueryParam.js
  tools/spectral/ipa/rulesets/functions/utils/validations.js
  tools/spectral/ipa/rulesets/functions/utils/validations/checkForbiddenPropertyAttributesAndReturnErrors.js
  tools/spectral/ipa/rulesets/functions/utils/validations/checkPaginationQueryParameterAndReturnErrors.js
  tools/spectral/ipa/rulesets/functions/utils/validations/checkRequestResponseResourceEqualityAndReturnErrors.js
  tools/spectral/ipa/rulesets/functions/utils/validations/checkResponseCodeAndReturnErrors.js
  tools/spectral/ipa/rulesets/functions/utils/validations/checkSchemaRefSuffixAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Draft package publish workflow
  .github/workflows/spectral-publish.yml
Due: none

Added generate changelog script
  tools/spectral/package.json
Due: prettier --write

Added changelog check to publish action
  .github/workflows/spectral-publish.yml
Due: none

Added changelog script to parent directory
  .github/workflows/spectral-publish.yml
  package-lock.json
  package.json
Due: prettier --write

fix: changelog workflow
  .github/workflows/spectral-publish.yml
Due: none

docs: update contributing.md with override details
  tools/spectral/CONTRIBUTING.md
Due: prettier --write

docs: update usage details
  tools/spectral/ipa/README.md
Due: prettier --write

fix: move changelog check to code-health
  .github/workflows/code-health-tools.yml
  .github/workflows/spectral-publish.yml
Due: none

Changelog update
  tools/spectral/CHANGELOG.md
Due: prettier --write

Try different checkout
  .github/workflows/semantic-commit.yml
Due: none

debug changelog
  .github/workflows/code-health-tools.yml
  .github/workflows/spectral-publish.yml
  tools/spectral/CHANGELOG.md
Due: prettier --write

fix setup node version
  .github/workflows/spectral-publish.yml
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
