Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

ci(ipa): release new version 9.1.1
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

fix: SC2086:info:2:6
  .github/workflows/generate-bump-pages.yml
Due: none

fix: npm install
  package-lock.json
Due: prettier --write

fix(ipa): Add AI to tags
  tools/spectral/ipa/rulesets/IPA-126.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): Add AI to tags ignore list (#1093)
  tools/spectral/ipa/rulesets/IPA-126.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): release new version 9.1.1 (#1092)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 9.2.1
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

fix: hidden filter does not hide preview API if a stable is already released (#1091)
  tools/cli/internal/openapi/filter/hidden_envs.go
  tools/cli/internal/openapi/filter/hidden_envs_test.go
Due: ./tools/cli/precommit.sh

feat: Support filtering by multiple API versions
  tools/cli/internal/cli/filter/filter.go
  tools/cli/internal/cli/filter/filter_test.go
  tools/cli/internal/openapi/filter/filter.go
Due: ./tools/cli/precommit.sh

feat: extract v2 parity endpoints with legacy api
  scripts/endpoint-parity-output.json
  scripts/endpoint-parity.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: regenerate parity report
  scripts/endpoint-parity-output.json
Due: prettier --write

lint fix
  tools/cli/Makefile
  tools/cli/internal/cli/filter/filter.go
  tools/cli/internal/openapi/filter/filter.go
Due: ./tools/cli/precommit.sh

revert changes
  tools/cli/Makefile
Due: none

chore: run npm install
  package-lock.json
Due: prettier --write

address the comments
  tools/cli/internal/cli/filter/filter.go
Due: ./tools/cli/precommit.sh

feat: Support filtering by multiple API versions (#1095)
  tools/cli/internal/cli/filter/filter.go
  tools/cli/internal/cli/filter/filter_test.go
  tools/cli/internal/openapi/filter/filter.go
Due: ./tools/cli/precommit.sh

feat: Exclude private preview versions from IPA metrics collection
  .github/workflows/release-IPA-metrics.yml
Due: none

foascli command fix
  .github/workflows/release-IPA-metrics.yml
Due: none

expose the artifacts
  .github/workflows/release-IPA-metrics.yml
Due: none

chore: Add retry and failure handler to OAS release prep step
  .github/workflows/release-spec-runner.yml
Due: none

chore: Add retry and failure handler to OAS release prep step (#1103)
  .github/workflows/release-spec-runner.yml
Due: none

fix: run npm install
  package-lock.json
Due: prettier --write

ci: Fix failure handler deps for release spec runner
  .github/workflows/release-spec-runner.yml
Due: none

ci: run workflow linter on workflow file changes
  .github/workflows/code-health-tools.yml
Due: none

ci: Fix failure handler deps for release spec runner (#1112)
  .github/workflows/code-health-tools.yml
  .github/workflows/release-spec-runner.yml
Due: none

revert the comment-outs
  .github/workflows/release-IPA-metrics.yml
Due: none

fix
  .github/workflows/release-IPA-metrics.yml
Due: none

feat(mcp): Add OpenAPI MCP server POC
  tools/cli/Makefile
  tools/cli/cmd/mcp/main.go
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/internal/mcp/README.md
  tools/cli/internal/mcp/registry/registry.go
  tools/cli/internal/mcp/registry/registry_test.go
  tools/cli/internal/mcp/resources/resources.go
  tools/cli/internal/mcp/resources/resources_test.go
  tools/cli/internal/mcp/tools/tools.go
  tools/cli/internal/mcp/tools/tools_test.go
Due: prettier --write, ./tools/cli/precommit.sh

feat: Exclude private preview versions from IPA metrics collection (#1099)
  .github/workflows/release-IPA-metrics.yml
Due: none

fix(ipa): Separate the word-count validation for Operation IDs
  tools/spectral/ipa/__tests__/IPA104OperationIdLength.test.js
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105OperationIdLength.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA106OperationIdLength.test.js
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA107OperationIdLength.test.js
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108OperationIdLength.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA109OperationIdLength.test.js
  tools/spectral/ipa/__tests__/IPA109ValidOperationID.test.js
  tools/spectral/ipa/__tests__/utils/validations/validateOperationIdAndReturnErrors.test.js
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA104OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA105OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA106OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA107OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA108OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA109OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix the IPA109 validations
  tools/spectral/ipa/rulesets/functions/IPA109OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier fix
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

new validation fix
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/functions/IPA104OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA105OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA106OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA107OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA108OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA109OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/utils/validations/validateOperationIdAndReturnErrors.test.js
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/functions/IPA109OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
