Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

prettier fix
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

docs fix
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-305862 - format of the docs (#533)
  tools/spectral/ipa/__tests__/collectionIdentifierCamelCase.test.js
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/scripts/generateRulesetReadme.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304938: Fixes
  tools/spectral/ipa/__tests__/__helpers__/testRule.js
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/listMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/__tests__/utils/methodUtils.test.js
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/listMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/utils/methodUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304938: Prettier
  tools/spectral/ipa/rulesets/IPA-105.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-305862: IPA 106 documentation standard
  tools/spectral/ipa/__tests__/IPA105exceptionExtensionFormat.test.js
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA105ExceptionExtensionFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: remove redundant line breaks
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/scripts/generateRulesetReadme.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: format
  tools/spectral/ipa/rulesets/IPA-005.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

task: filter violations to add to the report
  package.json
  tools/spectral/ipa/scripts/filter-ipa-violations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: lint
  tools/spectral/ipa/scripts/filter-ipa-violations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306161: Improve single resource path evaluation (#536)
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-304938: Fix
  tools/spectral/ipa/__tests__/__helpers__/testRule.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Update package.json
  package.json
Due: prettier --write

task: filter violations to add to the report (#538)
  package.json
  tools/spectral/ipa/scripts/filter-ipa-violations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-271995: Adds rule for update method must not have query param
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/functions/createMethodShouldNotHaveQueryParameters.js
  tools/spectral/ipa/rulesets/functions/updateMethodMustNotHaveQueryParams.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-271995: Docs
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

CLOUDP-304938: Add error for inline get schema
  tools/spectral/ipa/__tests__/listMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/rulesets/functions/listMethodResponseIsGetMethodResponse.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-304938: Fix docs
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304938: Fix docs
  tools/spectral/ipa/__tests__/listMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/rulesets/IPA-105.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304938: Fix
  tools/spectral/ipa/rulesets/IPA-105.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304938: Clarify pagination
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: revert formatting in generator
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/scripts/generateRulesetReadme.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-304938: Fix
  tools/spectral/ipa/rulesets/functions/listMethodResponseIsGetMethodResponse.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-304938: Error for create is get rule missing get schema
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsGetResponse.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: stop filtering x-xgen-changelog from versioned files
  tools/cli/internal/openapi/filter/operations.go
Due: ./tools/cli/precommit.sh

CLOUDP-305862: IPA 106 documentation standard (#537)
  tools/spectral/ipa/__tests__/IPA105exceptionExtensionFormat.test.js
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA105ExceptionExtensionFormat.js
  tools/spectral/ipa/scripts/generateRulesetReadme.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ember-inflector test
  package-lock.json
  package.json
  tools/spectral/ipa/rulesets/functions/utils/generateOperationId.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Fix test
  tools/cli/internal/cli/filter/filter_test.go
Due: ./tools/cli/precommit.sh

CLOUDP-271995: Fixes and tests
  tools/spectral/ipa/__tests__/createMethodShouldNotHaveQueryParameters.test.js
  tools/spectral/ipa/__tests__/updateMethodMustNotHaveQueryParams.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodShouldNotHaveQueryParameters.js
  tools/spectral/ipa/rulesets/functions/updateMethodMustNotHaveQueryParams.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304938: Adds rule xgen-IPA-105-list-method-response-is-get-method-response (#535)
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/listMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/__tests__/utils/methodUtils.test.js
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/listMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/utils/methodUtils.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304053: IPA-106:Create - The resource must be the request body (exclude readOnly:true and writeOnly:true)
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/utils/compareUtils.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/utils/compareUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-271995: Fixe
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier fix
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests

ipa docs fix
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

update docs and tests
  tools/cli/internal/openapi/filter/README.md
  tools/cli/test/data/split/dev/openapi-mms.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2.json
  tools/cli/test/data/split/dev/openapi-v2.yaml
  tools/cli/test/data/split/prod/openapi-v2.json
  tools/cli/test/data/split/prod/openapi-v2.yaml
Due: prettier --write

ipa docs fix
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

update
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

ipa docs fix
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsRequestSuffixedObject.test.js
  tools/spectral/ipa/__tests__/createMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/createMethodResponseCodeIs201Created.test.js
  tools/spectral/ipa/__tests__/createMethodShouldNotHaveQueryParameters.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
