Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

address the comments
  tools/spectral/ipa/__tests__/IPA109CustomMethodIdentifierFormat.test.js
  tools/spectral/ipa/rulesets/functions/IPA109CustomMethodIdentifierFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier fix
  tools/spectral/ipa/metrics/metricS3Upload.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-304948: IPA 109: Custom Methods : The HTTP URI must use a colon(:) character followed by the custom method name (#555)
  tools/spectral/ipa/__tests__/IPA109CustomMethodIdentifierFormat.test.js
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA109CustomMethodIdentifierFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix env variables
  .github/workflows/release-IPA-metrics.yml
Due: none

id token fix
  .github/workflows/release-IPA-metrics.yml
Due: none

CLOUDP-307054: Add support for hidden-env properties and schemas
  tools/cli/internal/openapi/filter/hidden_envs.go
  tools/cli/internal/openapi/filter/hidden_envs_test.go
Due: ./tools/cli/precommit.sh

lint
  tools/cli/internal/openapi/filter/hidden_envs.go
Due: ./tools/cli/precommit.sh

Update
  tools/cli/test/data/split/prod/openapi-mms.json
Due: prettier --write

Update
  tools/cli/internal/openapi/filter/hidden_envs.go
Due: ./tools/cli/precommit.sh

CLOUDP-304944: Adds xgen-IPA-107-update-method-request-has-no-readonly-fields (#556)
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/utils/schemaUtils.test.js
  tools/spectral/ipa/__tests__/utils/validations.test.js
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodResponseHasNoInputFields.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
  tools/spectral/ipa/rulesets/functions/utils/validations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

update
  tools/cli/internal/openapi/filter/hidden_envs.go
  tools/cli/internal/openapi/filter/hidden_envs_test.go
  tools/cli/test/data/split/dev/openapi-mms.json
Due: prettier --write, ./tools/cli/precommit.sh

add tests
  tools/cli/test/data/split/dev/openapi-mms.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2.json
  tools/cli/test/data/split/dev/openapi-v2.yaml
Due: prettier --write

update and add tests
  tools/cli/internal/openapi/filter/hidden_envs.go
  tools/cli/internal/openapi/filter/hidden_envs_test.go
Due: ./tools/cli/precommit.sh

update
  tools/cli/internal/openapi/filter/hidden_envs.go
  tools/cli/internal/openapi/filter/hidden_envs_test.go
Due: ./tools/cli/precommit.sh

apply filtering for testing
  openapi/v2/openapi-2025-03-12.json
Due: prettier --write

CLOUDP-307054-2: Extend linting to report invalid placement of x-xgen-hidden-env
  tools/spectral/.spectral.yaml
Due: none

Add error logs
  .github/scripts/generateSpecMapping.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-307054: Add support for hidden-env properties and schemas (#560)
  openapi/v2/openapi-2025-03-12.json
  tools/cli/internal/openapi/filter/hidden_envs.go
  tools/cli/internal/openapi/filter/hidden_envs_test.go
  tools/cli/test/data/split/dev/openapi-mms.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2.json
  tools/cli/test/data/split/dev/openapi-v2.yaml
  tools/cli/test/data/split/prod/openapi-mms.json
Due: prettier --write, ./tools/cli/precommit.sh

CLOUDP-272001: IPA-112: Disallow usages of project in the api
  tools/spectral/ipa/__tests__/IPA112AvoidProjectFieldNames.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304942: Adds xgen-IPA-107-update-method-request-body-is-get-method-response
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/utils/compareUtils.js
  tools/spectral/ipa/rulesets/functions/utils/validations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304942: Fix naming
  tools/spectral/ipa/rulesets/functions/utils/validations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-307110: Combine separated put and patch IPA rules
  tools/spectral/ipa/__tests__/IPA107UpdateMethodMustNotHaveQueryParams.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304942: Adds xgen-IPA-107-update-method-request-body-is-get-method-response (#567)
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/utils/compareUtils.js
  tools/spectral/ipa/rulesets/functions/utils/validations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-307110: Combine separated put and patch IPA rules (#568)
  tools/spectral/ipa/__tests__/IPA107UpdateMethodMustNotHaveQueryParams.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fixes
  tools/spectral/ipa/__tests__/IPA112AvoidProjectFieldNames.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304943: IPA rule for Update request schema suffix
  tools/spectral/ipa/__tests__/IPA104GetMethodReturnsResponseSuffixedObject.test.js
  tools/spectral/ipa/__tests__/IPA106CreateMethodRequestBodyIsRequestSuffixedObject.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestBodyIsUpdateRequestSuffixedObject.test.js
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodReturnsResponseSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestBodyIsUpdateRequestSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/utils/validations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier fix
  tools/spectral/ipa/__tests__/IPA112AvoidProjectFieldNames.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-298233: Postman SA support
  .github/workflows/release-postman.yml
  tools/postman/collection-description.md
  tools/postman/scripts/transform-for-api.sh
  tools/postman/scripts/transform-postman.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: format
  tools/postman/scripts/transform-postman.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-307341: Include singleton in IPA 107 rules
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodResponseIsGetMethodResponse.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

DOP-5448: Integrate Bump GH action to generate spec pages (#530)
  .github/scripts/generateSpecMapping.js
  .github/workflows/generate-bump-pages.yml
Due: prettier --write, jest --findRelatedTests --passWithNoTests

address the comments
  tools/spectral/ipa/__tests__/IPA112AvoidProjectFieldNames.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304943: Address comment
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier fix
  tools/spectral/ipa/__tests__/IPA112AvoidProjectFieldNames.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-272001: IPA-112: Disallow usages of project in the api (#566)
  tools/spectral/ipa/__tests__/IPA112AvoidProjectFieldNames.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304943: IPA rule for Update request schema suffix (#569)
  tools/spectral/ipa/__tests__/IPA104GetMethodReturnsResponseSuffixedObject.test.js
  tools/spectral/ipa/__tests__/IPA106CreateMethodRequestBodyIsRequestSuffixedObject.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestBodyIsUpdateRequestSuffixedObject.test.js
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodReturnsResponseSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestBodyIsUpdateRequestSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/utils/validations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-272001: Disallow usages of project in the api (fix)
  tools/spectral/ipa/__tests__/IPA112AvoidProjectFieldNames.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

unit test fix
  tools/spectral/ipa/__tests__/utils/schemaUtils.test.js
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

address comments
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests
