Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

test commit
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306573: Dont require gzip to have example
  tools/spectral/ipa/__tests__/IPA117PlaintextResponseMustHaveExample.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

test commit
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

test commit
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
  tools/spectral/ipa/rulesets/functions/utils/componentUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier fix
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306573: Address comment
  tools/spectral/ipa/__tests__/IPA117PlaintextResponseMustHaveExample.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117PlaintextResponseMustHaveExample.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306573: Dont require gzip to have example (#638)
  tools/spectral/ipa/__tests__/IPA117PlaintextResponseMustHaveExample.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117PlaintextResponseMustHaveExample.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

revert to the first fix
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-304964: IPA-114: Errors (check for 401 and 403 codes for authorized endpoints)
  tools/spectral/ipa/__tests__/IPA114AuthenticatedEndpointsHaveAuthErrors.test.js
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA114AuthenticatedEndpointsHaveAuthErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304963: IPA-114: Errors (check for 404 codes for parameterized endpoints)
  tools/spectral/ipa/__tests__/IPA114ParameterizedPathsHave404NotFound.test.js
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA114ParameterizedPathsHave404NotFound.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/rulesets/IPA-114.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

revert back
  tools/spectral/ipa/rulesets/IPA-114.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304964: IPA-114: Errors (check for 401 and 403 codes for authorized endpoints) (#639)
  tools/spectral/ipa/__tests__/IPA114AuthenticatedEndpointsHaveAuthErrors.test.js
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA114AuthenticatedEndpointsHaveAuthErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-114: Errors (fix for exception level) (#637)
  tools/spectral/ipa/__tests__/IPA114ErrorResponsesReferToApiError.test.js
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-309577: Update `curl` Parameters for Improved Reliability (#636)
  tools/postman/scripts/upload-collection.sh
Due: none

CLOUDP-304963: IPA-114: Errors (check for 404 codes for parameterized endpoints) (#640)
  tools/spectral/ipa/__tests__/IPA114ParameterizedPathsHave404NotFound.test.js
  tools/spectral/ipa/rulesets/IPA-114.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA114ParameterizedPathsHave404NotFound.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-114: Errors (remove dedicated 404 check for Delete methods)
  tools/spectral/ipa/__tests__/IPA108DeleteMethod404Response.test.js
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethod404Response.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-114: Errors (remove dedicated 404 check for Delete methods) (#641)
  tools/spectral/ipa/__tests__/IPA108DeleteMethod404Response.test.js
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethod404Response.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-118: Extensible by Default
  tools/spectral/ipa/__tests__/IPA118NoAdditionalPropertiesFalse.test.js
  tools/spectral/ipa/__tests__/utils/compareUtils.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-118.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA118NoAdditionalPropertiesFalse.js
  tools/spectral/ipa/rulesets/functions/utils/compareUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306576: IPA-119: Multi-Cloud Support by Default
  tools/spectral/ipa/__tests__/IPA119NoDefaultForCloudProviders.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-119.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA119NoDefaultForCloudProviders.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/__tests__/IPA118NoAdditionalPropertiesFalse.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306575: IPA-118: Extensible by Default (#642)
  tools/spectral/ipa/__tests__/IPA118NoAdditionalPropertiesFalse.test.js
  tools/spectral/ipa/__tests__/utils/compareUtils.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-118.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA118NoAdditionalPropertiesFalse.js
  tools/spectral/ipa/rulesets/functions/utils/compareUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

check enum values
  tools/spectral/ipa/__tests__/IPA119NoDefaultForCloudProviders.test.js
  tools/spectral/ipa/rulesets/IPA-119.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA119NoDefaultForCloudProviders.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address copilot comment
  tools/spectral/ipa/rulesets/functions/IPA119NoDefaultForCloudProviders.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier fix
  tools/spectral/ipa/rulesets/functions/IPA119NoDefaultForCloudProviders.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Copilot review instructions for IPA rules
  .github/copilot-instructions.md
Due: prettier --write

CLOUDP-306576: IPA-119: Multi-Cloud Support by Default (#643)
  tools/spectral/ipa/__tests__/IPA119NoDefaultForCloudProviders.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-119.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA119NoDefaultForCloudProviders.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306576: IPA-119: Multi-Cloud Support (Fix)
  tools/spectral/ipa/__tests__/IPA119NoDefaultForCloudProviders.test.js
  tools/spectral/ipa/rulesets/functions/IPA119NoDefaultForCloudProviders.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Due: prettier --write

Copilot review instructions for IPA rules (#646)
  .github/copilot-instructions.md
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
