Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

test(ipa): assert version release surfaces deprecation in changelog pipeline
  tools/cli/test/e2e/cli/changelog_test.go
Due: ./tools/cli/precommit.sh

chore: remove workspace checksum noise
  tools/go.work.sum
Due: none

ci: require IPA validation for FOAS releases
  .github/workflows/optional-spec-validations.yml
  .github/workflows/required-spec-validations.yml
Due: none

ci: require IPA validation for FOAS releases (#1371)
  .github/workflows/optional-spec-validations.yml
  .github/workflows/required-spec-validations.yml
Due: none

Fix ConsumerWordLists full-ruleset test and clarify README
  package-lock.json
  package.json
  tools/spectral/ipa/README.md
  tools/spectral/ipa/__tests__/ConsumerWordLists.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Revert package-wide disable of IPA-117/126 casing rules
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix
  tools/foas/openapi/filter/code_sample.go
  tools/foas/openapi/filter/code_sample_test.go
Due: ./tools/cli/precommit.sh

Update code_sample.go
  tools/foas/openapi/filter/code_sample.go
Due: ./tools/cli/precommit.sh

Update code_sample_test.go
  tools/foas/openapi/filter/code_sample_test.go
Due: ./tools/cli/precommit.sh

Addressed Lovisa's comment
  tools/foas/openapi/filter/code_sample.go
  tools/foas/openapi/filter/code_sample_test.go
Due: ./tools/cli/precommit.sh

fix(ipa): allow Operations endpoint paths in IPA-102 alternation
  tools/spectral/ipa/__tests__/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.test.js
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

docs(ipa): restore original IPA-102 alternation wording
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

test(ipa): group unauth Operations paths under the collection-scoped comment
  tools/spectral/ipa/__tests__/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

refactor(ipa): drop the redundant root guard in stripOperationsSuffix
  tools/spectral/ipa/rulesets/functions/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

test(ipa): cover exceptions on Operations paths
  tools/spectral/ipa/__tests__/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

test(cli): regenerate changelog fixtures for oasdiff 1.24.0 output
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-01-01_2024-05-30.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-01-01_2024-08-05.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-01-01_2024-10-23.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-01-01_2024-11-13.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-01-01_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-01-01_2025-03-12.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-02-01_2024-05-30.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-02-01_2024-08-05.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-02-01_2024-10-23.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-02-01_2024-11-13.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-02-01_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-02-01_2025-03-12.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-10-01_2024-05-30.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-10-01_2024-08-05.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-10-01_2024-10-23.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-10-01_2024-11-13.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-10-01_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-10-01_2025-03-12.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-11-15_2024-05-30.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-11-15_2024-08-05.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-11-15_2024-10-23.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-11-15_2024-11-13.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-11-15_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-11-15_2025-03-12.json
  tools/cli/test/data/changelog/same-api-version/output/changelog-all.json
  tools/cli/test/data/changelog/same-api-version/output/changelog.json
Due: prettier --write

Revert "chore: bump @stoplight/spectral-cli from 6.16.1 to 6.16.2 (#1405)"
  package-lock.json
  package.json
Due: prettier --write

chore: revert bump @stoplight/spectral-cli from 6.16.2 to 6.16.1 (#1411)
  package-lock.json
  package.json
Due: prettier --write

fix(ipa): allow Operations endpoint paths in IPA-102 alternation check (#1406)
  tools/spectral/ipa/__tests__/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.test.js
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): release new version 11.1.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 11.1.0 (#1412)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

fix(ipa): preserve resource scope in operation IDs for trailing /operations paths
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): preserve resource scope for single Operations resource operation IDs
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): preserve resource scope in Operations resource operation IDs
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: pin Spectral dependencies exactly
  package-lock.json
  package.json
Due: prettier --write

fix: harden Spectral dependency pinning
  .github/workflows/optional-spec-validations.yml
  .github/workflows/release-spec-runner.yml
  .github/workflows/release-spec.yml
  .github/workflows/required-spec-validations.yml
  package-lock.json
  package.json
  tools/spectral/__tests__/spectralNullExample.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

chore: reference direct Spectral pins in overrides
  package-lock.json
  package.json
Due: prettier --write

docs: clarify Operations resource operation-ID wording; remove redundant test; add collection-scoped coverage
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

chore: group Spectral Dependabot updates
  .github/dependabot.yml
Due: none

fix: use upstream-fixed Spectral rulesets
  package-lock.json
  package.json
Due: prettier --write

fix(ipa): preserve resource scope in Operations resource operation IDs (#1414)
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

chore: standardize Spectral invocation
  .github/workflows/optional-spec-validations.yml
  .github/workflows/required-spec-validations.yml
  .github/workflows/spectral-lint.yml
  package-lock.json
  package.json
Due: prettier --write

feat(foas): add reusable OpenAPI diff package
  tools/foas/breakingchanges/doc.go
  tools/foas/changelog/changelog.go
  tools/foas/changelog/merge.go
  tools/foas/changelog/outputfilter/outputfilter.go
  tools/foas/diff/classify.go
  tools/foas/diff/compare.go
  tools/foas/diff/compare_test.go
  tools/foas/diff/doc.go
  tools/foas/diff/rules.go
  tools/foas/diff/types.go
Due: ./tools/cli/precommit.sh

feat(foas): add extensible diff rule registry
  tools/foas/diff/compare.go
  tools/foas/diff/doc.go
  tools/foas/diff/rule_registry.go
  tools/foas/diff/rule_registry_test.go
  tools/foas/diff/rules.go
Due: ./tools/cli/precommit.sh

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
