Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

updated
  package-lock.json
Due: prettier --write

chore: update package-lock.json after npm install
  package-lock.json
Due: prettier --write

chore: Enable automatic warning-level IPA violation detection
  .github/workflows/release-IPA-metrics.yml
Due: none

remove the conditional
  .github/workflows/release-IPA-metrics.yml
Due: none

chore: Enable automatic warning-level IPA violation detection (#1045)
  .github/workflows/release-IPA-metrics.yml
Due: none

fix(ipa): Update inline tables regex to handle whitespaces
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseTables.test.js
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionShouldNotUseTables.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

add temp overrides
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier fix
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

chore: remove temp overrides
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

chore(ipa): remove temp overrides (#1047)
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): Update inline tables regex to handle whitespaces (#1046)
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseTables.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionShouldNotUseTables.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): release new version 7.0.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 7.0.0 (#1048)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

fix: ci pipeline failure on check IPA docs up to date
  package-lock.json
Due: prettier --write

run npm install
  package-lock.json
Due: prettier --write

feat: add slice/extract command to filter OpenAPI specs by tags, operation IDs, and paths
  tools/cli/internal/cli/root/openapi/builder.go
  tools/cli/internal/cli/slice/slice.go
  tools/cli/internal/cli/slice/slice_test.go
  tools/cli/internal/openapi/filter/slice.go
  tools/cli/internal/openapi/filter/slice_test.go
Due: ./tools/cli/precommit.sh

refactor: rename command from 'extract' to 'slice'
  tools/cli/internal/cli/slice/slice.go
Due: ./tools/cli/precommit.sh

fix: replace fmt.Errorf with errors.New for non-formatted error
  tools/cli/internal/cli/slice/slice.go
Due: ./tools/cli/precommit.sh

fix: resolve golangci-lint issues
  tools/cli/internal/openapi/filter/slice.go
Due: ./tools/cli/precommit.sh

feat: add ParametersFilter and refactor slice into separate package
  tools/cli/internal/cli/slice/slice.go
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/parameters.go
  tools/cli/internal/openapi/filter/parameters_test.go
  tools/cli/internal/openapi/filter/schemas.go
  tools/cli/internal/openapi/filter/slice.go
  tools/cli/internal/openapi/slice/slice.go
  tools/cli/internal/openapi/slice/slice_test.go
Due: ./tools/cli/precommit.sh

fix: add flag and usage for the slice parameters
  tools/cli/internal/cli/flag/flag.go
  tools/cli/internal/cli/slice/slice.go
  tools/cli/internal/cli/split/split.go
  tools/cli/internal/cli/split/split_test.go
  tools/cli/internal/cli/usage/usage.go
  tools/cli/internal/openapi/filter/filter.go
Due: ./tools/cli/precommit.sh

fix(ipa): Support read-only standard and singleton resources
  tools/spectral/ipa/__tests__/IPA106ReadOnlyResourceShouldNotHaveCreateMethod.test.js
  tools/spectral/ipa/__tests__/IPA107ReadOnlyResourceShouldNotHaveUpdateMethod.test.js
  tools/spectral/ipa/__tests__/IPA108ReadOnlyResourceShouldNotHaveDeleteMethod.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasUpdateMethod.test.js
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA106ReadOnlyResourceShouldNotHaveCreateMethod.js
  tools/spectral/ipa/rulesets/functions/IPA107ReadOnlyResourceShouldNotHaveUpdateMethod.js
  tools/spectral/ipa/rulesets/functions/IPA108ReadOnlyResourceShouldNotHaveDeleteMethod.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier fix
  tools/spectral/ipa/__tests__/IPA106ReadOnlyResourceShouldNotHaveCreateMethod.test.js
  tools/spectral/ipa/__tests__/IPA107ReadOnlyResourceShouldNotHaveUpdateMethod.test.js
  tools/spectral/ipa/__tests__/IPA108ReadOnlyResourceShouldNotHaveDeleteMethod.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasUpdateMethod.test.js
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA106ReadOnlyResourceShouldNotHaveCreateMethod.js
  tools/spectral/ipa/rulesets/functions/IPA107ReadOnlyResourceShouldNotHaveUpdateMethod.js
  tools/spectral/ipa/rulesets/functions/IPA108ReadOnlyResourceShouldNotHaveDeleteMethod.js
  tools/spectral/ipa/rulesets/functions/IPA113SingletonHasUpdateMethod.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

overrides
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: fix copyright & require at least one criteria to be set for slicing
  tools/cli/internal/cli/slice/slice.go
  tools/cli/internal/cli/slice/slice_test.go
  tools/cli/internal/cli/split/split.go
  tools/cli/internal/cli/split/split_test.go
Due: ./tools/cli/precommit.sh

fix(ipa): Support read-only standard and singleton resources (#1057)
  tools/spectral/ipa/__tests__/IPA106ReadOnlyResourceShouldNotHaveCreateMethod.test.js
  tools/spectral/ipa/__tests__/IPA107ReadOnlyResourceShouldNotHaveUpdateMethod.test.js
  tools/spectral/ipa/__tests__/IPA108ReadOnlyResourceShouldNotHaveDeleteMethod.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasUpdateMethod.test.js
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA106ReadOnlyResourceShouldNotHaveCreateMethod.js
  tools/spectral/ipa/rulesets/functions/IPA107ReadOnlyResourceShouldNotHaveUpdateMethod.js
  tools/spectral/ipa/rulesets/functions/IPA108ReadOnlyResourceShouldNotHaveDeleteMethod.js
  tools/spectral/ipa/rulesets/functions/IPA113SingletonHasUpdateMethod.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): release new version 8.0.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 8.0.0 (#1058)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

fix(ipa): Skip read-only validation for resources without GET method
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): Skip read-only validation for resources without GET method (#1059)
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): release new version 9.0.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 9.0.0 (#1060)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

fix(ipa): Support read-only detection for singleton List responses
  tools/spectral/ipa/__tests__/IPA113SingletonHasUpdateMethod.test.js
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier fix
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

doc fix
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

fix(ipa): Support read-only detection for singleton List responses (#1061)
  tools/spectral/ipa/__tests__/IPA113SingletonHasUpdateMethod.test.js
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js
