Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

Draft version check bash script
  .github/scripts/ipa_version_check.sh
  .github/workflows/ipa-changelog.yml
Due: none

Test version checking with fake version bump
  tools/spectral/ipa/package.json
Due: prettier --write

remove unbound variable
  .github/scripts/ipa_version_check.sh
Due: none

attempt fix
  .github/workflows/ipa-changelog.yml
Due: none

pipe version script output
  .github/workflows/ipa-changelog.yml
Due: none

fix checkout
  .github/workflows/ipa-changelog.yml
Due: none

try env variable
  .github/scripts/ipa_version_check.sh
  .github/workflows/ipa-changelog.yml
Due: none

Include collection in npm package
  tools/spectral/ipa/.npmignore
Due: none

CLOUDP-308270: Validation of parent and child paths with exceptions (PoC for root path exception inheritance)
  openapi/.raw/v2.json
  tools/spectral/ipa/rulesets/functions/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

attempt lint fix
  .github/scripts/ipa_version_check.sh
Due: none

attempt branch fetch fix
  .github/workflows/ipa-changelog.yml
Due: none

Trying to fix possible word splitting
  .github/scripts/ipa_version_check.sh
  .github/workflows/ipa-changelog.yml
Due: none

Trying to fix possible word splitting
  .github/workflows/ipa-changelog.yml
Due: none

unbump version after testing, try different fix
  .github/workflows/ipa-changelog.yml
  tools/spectral/ipa/package.json
Due: prettier --write

update ipa release workflow to use version check script
  .github/workflows/ipa-changelog.yml
  .github/workflows/ipa-release.yml
Due: none

more fix attempts :(
  .github/workflows/ipa-changelog.yml
  .github/workflows/ipa-release.yml
Due: none

Refactor version bump logic
  .github/workflows/ipa-release.yml
Due: none

Add if to check version change status before publishing
  .github/workflows/ipa-release.yml
Due: none

Fix output parsing
  .github/workflows/ipa-release.yml
Due: none

output correction
  .github/workflows/ipa-release.yml
Due: none

Removed unnecessary lines
  .github/workflows/ipa-changelog.yml
  .github/workflows/ipa-release.yml
Due: none

Update Package release checklist
  tools/spectral/ipa/CONTRIBUTING.md
Due: prettier --write

Update override for get/list to allow camelcase overrides
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/extensions.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

New logic for non-custom method overrides
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Update opID override error case logic and tests
  tools/spectral/ipa/__tests__/utils/validations/validateOperationIdAndReturnErrors.test.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Refine package release process
  tools/spectral/ipa/CONTRIBUTING.md
Due: prettier --write

fix(ipa): Update override logic to be more lenient (#857)
  tools/spectral/ipa/__tests__/utils/validations/validateOperationIdAndReturnErrors.test.js
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/extensions.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat(ipa): IPA Package config, docs and release workflow (#855)
  .github/scripts/ipa_version_check.sh
  .github/workflows/ipa-changelog.yml
  .github/workflows/ipa-release.yml
  CONTRIBUTING.md
  tools/spectral/CONTRIBUTING.md
  tools/spectral/ipa/.npmignore
  tools/spectral/ipa/CONTRIBUTING.md
Due: prettier --write

version bump and changelog config edits
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

Fix changelog gen
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

Fix changelog config for first release
  tools/spectral/ipa/package.json
Due: prettier --write

new changelog
  tools/spectral/ipa/CHANGELOG.md
Due: prettier --write

temp test version bump
  tools/spectral/ipa/package.json
Due: prettier --write

changelog logic update
  .github/workflows/ipa-changelog.yml
Due: none

retest changelog workflow logic
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

Restore to expected state
  tools/spectral/ipa/CHANGELOG.md
Due: prettier --write

fix(ipa): Fix changelog config for first release (#859)
  .github/workflows/ipa-changelog.yml
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

Add missing env
  .github/workflows/ipa-release.yml
Due: none

fix: Add missing env to IPA release workflow (#860)
  .github/workflows/ipa-release.yml
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
