Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

debug for ipa docs
  .github/workflows/code-health-tools.yml
Due: none

uninstall ember-inflector
  package-lock.json
Due: prettier --write

Added to code health error message after debug
  .github/workflows/code-health-tools.yml
Due: none

.gitignore updates from code review
  .gitignore
  tools/spectral/ipa/.gitignore
Due: none

README updates
  tools/spectral/README.md
  tools/spectral/ipa/README.md
Due: prettier --write

Update tools/spectral/ipa/package.json
  tools/spectral/ipa/package.json
Due: prettier --write

Remove module typing and pinned dependency versions
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

Apply README suggestions from code review
  tools/spectral/ipa/README.md
Due: prettier --write

README edits for package based approach
  tools/spectral/ipa/README.md
Due: prettier --write

Link to server based installation
  tools/spectral/ipa/README.md
Due: prettier --write

CLOUDP 329998: IPA package configuration (#846)
  .github/dependabot.yml
  .github/workflows/code-health-tools.yml
  .gitignore
  package-lock.json
  package.json
  tools/spectral/README.md
  tools/spectral/ipa/README.md
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

Draft semantic commit check
  .github/workflows/semantic-commit.yml
Due: none

Fix releases to use semantic commits
  .github/workflows/release-changelog.yml
  .github/workflows/release-spec-v1.yml
  .github/workflows/release-spec.yml
Due: none

Alter commit messages for new convention
  .github/dependabot.yml
  .github/workflows/release-changelog.yml
  .github/workflows/release-spec-v1.yml
  .github/workflows/release-spec.yml
Due: none

Changelog config
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

init changelog
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

Draft ipa commit check
  .github/workflows/ipa-commit.yml
Due: none

Refined ipa commit check
  .github/workflows/ipa-commit.yml
Due: none

fix package version
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

Draft IPA changelog check
  .github/workflows/ipa-changelog.yml
Due: none

bump version for testing
  tools/spectral/ipa/package.json
Due: prettier --write

fix versiom bump logic
  .github/workflows/ipa-changelog.yml
Due: none

attempt fix jq logic
  .github/workflows/ipa-changelog.yml
Due: none

Try different approach for version fetch
  .github/workflows/ipa-changelog.yml
Due: none

Correct directory
  .github/workflows/ipa-changelog.yml
Due: none

Correct directory + time save on version fetch
  .github/workflows/ipa-changelog.yml
Due: none

Correct package version
  tools/spectral/ipa/package.json
Due: prettier --write

refactor for linting
  .github/workflows/ipa-changelog.yml
Due: none

Pin semantic comment version w/ sha
  .github/workflows/semantic-commit.yml
Due: none

Update .github/workflows/semantic-commit.yml
  .github/workflows/semantic-commit.yml
Due: none

feat(ipa): Commit checks and IPA changelog (#852)
  .github/dependabot.yml
  .github/workflows/ipa-changelog.yml
  .github/workflows/ipa-commit.yml
  .github/workflows/release-changelog.yml
  .github/workflows/release-spec-v1.yml
  .github/workflows/release-spec.yml
  .github/workflows/semantic-commit.yml
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

Draft ipa package release workflow
  .github/workflows/ipa-release.yml
Due: none

Make check on PR titles more lenient
  .github/workflows/semantic-commit.yml
Due: none

fix: make check on PR titles more lenient (#854)
  .github/workflows/semantic-commit.yml
Due: none

Update Makefile
  tools/cli/Makefile
Due: none

chore: upgrade oasdiff to the latest released version (#844)
  tools/cli/Makefile
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/internal/changelog/changelog.go
  tools/cli/internal/changelog/manual_entry.go
  tools/cli/internal/changelog/merge.go
  tools/cli/internal/changelog/outputfilter/operationconfig.go
  tools/cli/internal/changelog/outputfilter/operationconfig_test.go
  tools/cli/internal/changelog/outputfilter/outputfilter.go
  tools/cli/internal/changelog/sunset.go
  tools/cli/internal/cli/filter/filter_test.go
  tools/cli/internal/cli/split/split_test.go
  tools/cli/internal/openapi/errors/merge_conflict_error.go
  tools/cli/internal/openapi/mock_oasdiff_result.go
  tools/cli/internal/openapi/mock_openapi.go
  tools/cli/internal/openapi/oasdiff.go
  tools/cli/internal/openapi/oasdiff_result.go
  tools/cli/internal/openapi/oasdiff_result_test.go
  tools/cli/internal/openapi/oasdiff_test.go
  tools/cli/internal/openapi/openapi.go
  tools/cli/internal/openapi/openapi3.go
  tools/cli/internal/openapi/sunset/sunset.go
  tools/cli/internal/openapi/sunset/sunset_test.go
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-05-30_2025-09-22.upcoming.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-08-05_2025-09-22.upcoming.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-10-23_2025-09-22.upcoming.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-11-13_2025-09-22.upcoming.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2025-02-19_2025-09-22.upcoming.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2025-03-12_2025-09-22.upcoming.json
  tools/cli/test/e2e/cli/split_test.go
Due: prettier --write, ./tools/cli/precommit.sh

Added npmignore tested with npm pack
  tools/spectral/ipa/.npmignore
Due: none

Updated CONTRIBUTING documentation to reflect IPA package and conventional commits
  CONTRIBUTING.md
  tools/spectral/CONTRIBUTING.md
  tools/spectral/ipa/CONTRIBUTING.md
Due: prettier --write

fix lint errors
  .github/workflows/ipa-release.yml
Due: none

fix lint error
  .github/workflows/ipa-release.yml
Due: none
