Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

ci(ipa): make IPA metrics collection more efficient (#967)
  .gitignore
  tools/spectral/ipa/metrics/utils/metricCollectionUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: update parquet-wasm import for v0.7.0 compatibility
  tools/spectral/ipa/metrics/scripts/runMetricCollection.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

test: add int test for runMetricCollection to ensure no import/syntax regressions
  tools/spectral/ipa/__tests__/metrics/runMetricCollection.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier
  tools/spectral/ipa/__tests__/metrics/runMetricCollection.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix(ipa): fix import issue with parquet-wasm package
  tools/spectral/ipa/metrics/scripts/parquet-wasm-wrapper.cjs
  tools/spectral/ipa/metrics/scripts/runMetricCollection.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

chore: update readme with local run info
  tools/spectral/ipa/README.md
Due: prettier --write

chore: prettier
  tools/spectral/ipa/metrics/scripts/parquet-wasm-wrapper.cjs
Due: none

fix(ipa): fix import issue with parquet-wasm package (#976)
  tools/spectral/ipa/README.md
  tools/spectral/ipa/metrics/scripts/parquet-wasm-wrapper.cjs
  tools/spectral/ipa/metrics/scripts/runMetricCollection.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

chore: Update README.md to mention `ipa-collector-results-combined.log`
  tools/spectral/ipa/README.md
Due: prettier --write

chore(ipa): Update README.md to mention `ipa-collector-results-combined.log` (#977)
  tools/spectral/ipa/README.md
Due: prettier --write

CLOUDP-348863: Add support for custom budges for preview APIs
  tools/cli/internal/openapi/filter/bump.go
  tools/cli/internal/openapi/filter/bump_test.go
Due: ./tools/cli/precommit.sh

Update bump.go
  tools/cli/internal/openapi/filter/bump.go
Due: ./tools/cli/precommit.sh

Update Postman README.md link
  README.md
Due: prettier --write

feat(prod): Add support for custom budges for preview APIs (#979)
  tools/cli/internal/openapi/filter/bump.go
  tools/cli/internal/openapi/filter/bump_test.go
Due: ./tools/cli/precommit.sh

fix: Update Postman README.md link (#980)
  README.md
Due: prettier --write

feat: Added 'x-xgen-operation-id-override' support (#956)
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
Due: ./tools/cli/precommit.sh

ci(ipa): fix validation failure
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): fix validation failure (#1003)
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: workflows
  .github/workflows/optional-spec-validations.yml
  .github/workflows/release-spec.yml
Due: none

fix: add workflows to the build
  .github/workflows/optional-spec-validations.yml
  .github/workflows/release-spec.yml
Due: none

Update .github/workflows/optional-spec-validations.yml
  .github/workflows/optional-spec-validations.yml
Due: none

fix: workflow for reporting jira issues fails to trigger (#1004)
  .github/workflows/optional-spec-validations.yml
  .github/workflows/release-spec.yml
Due: none

CLOUDP-359040: V1 OAS release runner does not have a failure handler
  .github/workflows/release-spec-v1.yml
Due: none

chore: Introduce a failure handler to V1 OAS release runner
  .github/workflows/release-spec-v1.yml
Due: none

chore: Introduce a failure handler to V1 OAS release runner (#1020)
  .github/workflows/release-spec-v1.yml
Due: none

CLOUDP-359730: fixes v1 failure handler
  .github/workflows/release-spec-runner.yml
  .github/workflows/release-spec-v1.yml
Due: none

fix: fixes v1 failure handler (#1023)
  .github/workflows/release-spec-runner.yml
  .github/workflows/release-spec-v1.yml
Due: none

fix: fix failure handler in optional and require openapi valition
  .github/workflows/optional-spec-validations.yml
  .github/workflows/required-spec-validations.yml
  .github/workflows/task-failure-handler.yml
Due: none

add jira token to required validation action
  .github/workflows/release-spec.yml
  .github/workflows/required-spec-validations.yml
Due: none

fix: fix failure handler in optional and require openapi valition (#1024)
  .github/workflows/optional-spec-validations.yml
  .github/workflows/release-spec.yml
  .github/workflows/required-spec-validations.yml
  .github/workflows/task-failure-handler.yml
Due: none

fix: Invalid workflow file: .github/workflows/release-spec-runner.yml#L79
  .github/workflows/required-spec-validations.yml
Due: none

fix: remove failure handler from required validation
  .github/workflows/release-spec.yml
  .github/workflows/required-spec-validations.yml
Due: none

updated action to use sha
  .github/workflows/shellcheck.yml
Due: none

updated action to use sha
  .github/workflows/generate-bump-pages.yml
Due: none

updated action to use sha
  .github/workflows/release-postman.yml
Due: none

Update package-lock.json
  package-lock.json
Due: prettier --write

updated
  package-lock.json
Due: prettier --write
