Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

Fix: Remove permissions from Spectral Lint workflow (#585)
  .github/workflows/spectral-lint.yml
Due: none

CLOUDP-304958: IPA rule singleton must not have delete (#579)
  tools/spectral/ipa/__tests__/IPA113SingletonHasNoDeleteMethod.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasUpdateMethod.test.js
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA113SingletonHasNoDeleteMethod.js
  tools/spectral/ipa/rulesets/functions/IPA113SingletonHasUpdateMethod.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Fix
  .github/workflows/spectral-lint.yml
Due: none

Include severity in IPA rule test (#584)
  .github/workflows/spectral-lint.yml
  tools/spectral/ipa/__tests__/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.test.js
  tools/spectral/ipa/__tests__/IPA104EachResourceHasGetMethod.test.js
  tools/spectral/ipa/__tests__/IPA104GetMethodHasNoRequestBody.test.js
  tools/spectral/ipa/__tests__/IPA104GetMethodResponseHasNoInputFields.test.js
  tools/spectral/ipa/__tests__/IPA104GetMethodReturnsResponseSuffixedObject.test.js
  tools/spectral/ipa/__tests__/IPA104GetMethodReturnsSingleResource.test.js
  tools/spectral/ipa/__tests__/IPA104GetResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/__tests__/IPA105EachResourceHasListMethod.test.js
  tools/spectral/ipa/__tests__/IPA105ListMethodHasNoRequestBody.test.js
  tools/spectral/ipa/__tests__/IPA105ListMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/__tests__/IPA105ListResponseCodeShouldBe200OK.test.js
  tools/spectral/ipa/__tests__/IPA105exceptionExtensionFormat.test.js
  tools/spectral/ipa/__tests__/IPA106CreateMethodRequestBodyIsRequestSuffixedObject.test.js
  tools/spectral/ipa/__tests__/IPA106CreateMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/IPA106CreateMethodResponseCodeIs201Created.test.js
  tools/spectral/ipa/__tests__/IPA106CreateMethodShouldNotHaveQueryParameters.test.js
  tools/spectral/ipa/__tests__/IPA109EachCustomMethodMustBeGetOrPost.test.js
  tools/spectral/ipa/__tests__/IPA109EachCustomMethodMustUseCamelCase.test.js
  tools/spectral/ipa/__tests__/IPA123EachEnumValueMustBeUpperSnakeCase.test.js
  tools/spectral/ipa/__tests__/IPA125OneOfMustHaveDiscriminator.test.js
  tools/spectral/ipa/__tests__/IPA125OneOfNoBaseTypes.test.js
  tools/spectral/ipa/__tests__/__helpers__/testRule.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

DOP-5448: Re-add automated Bump triggers
  .github/workflows/generate-bump-pages.yml
Due: none

IPA-112: Disallow usages of project in the api (Fix: Ignore "gcp")
  tools/spectral/ipa/__tests__/IPA112AvoidProjectFieldNames.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ipa docs fix
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

DOP-5448: Re-add automated Bump triggers (#586)
  .github/workflows/generate-bump-pages.yml
Due: none

IPA-112: Disallow usages of project in the api (Fix: Ignore "gcp") (#587)
  tools/spectral/ipa/__tests__/IPA112AvoidProjectFieldNames.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306580: avoid mixed refs
  tools/spectral/ipa/__tests__/IPA125OneOfNoBaseTypes.test.js
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/functions/IPA125OneOfNoBaseTypes.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

docs
  tools/spectral/ipa/__tests__/IPA125OneOfNoBaseTypes.test.js
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306580: avoid mixed refs (#588)
  tools/spectral/ipa/__tests__/IPA125OneOfNoBaseTypes.test.js
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA125OneOfNoBaseTypes.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier fix
  tools/spectral/ipa/rulesets/IPA-112.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304965: IPA rule for descriptions
  tools/spectral/ipa/__tests__/IPA117HasDescription.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/functions/IPA117HasDescription.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304965: Fix
  tools/spectral/ipa/rulesets/functions/IPA117HasDescription.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-304965: Fix
  tools/spectral/ipa/__tests__/IPA117HasDescription.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/__tests__/IPA112FieldNamesAreCamelCase.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304965: Fix docs
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix AvoidProjectFieldNames
  tools/spectral/ipa/__tests__/IPA112AvoidProjectFieldNames.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA-112: Field names must use camelCase (#589)
  tools/spectral/ipa/__tests__/IPA112AvoidProjectFieldNames.test.js
  tools/spectral/ipa/__tests__/IPA112FieldNamesAreCamelCase.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA112FieldNamesAreCamelCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304965: IPA rule for descriptions (#590)
  tools/spectral/ipa/__tests__/IPA117HasDescription.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117HasDescription.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

remove encryptionAtRestProvider search entries
  changelog/changelog.yaml
Due: none

CLOUDP-304967: Add IPA rule for description format
  tools/spectral/ipa/__tests__/IPA117DescriptionUpperCasePeriod.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionUpperCasePeriod.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

update
  changelog/changelog.json
Due: prettier --write

update
  changelog/changelog.yaml
Due: none

CLOUDP-304967: Ignore inline table ending in separate rule
  tools/spectral/ipa/__tests__/IPA117DescriptionEndsWithPeriod.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionStartsWithUpperCase.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionUpperCasePeriod.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionEndsWithPeriod.js
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionStartsWithUpperCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304967: Ignore inline table with linebreak
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionEndsWithPeriod.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

move to the right date
  changelog/changelog.yaml
Due: none

chore: reconcile changelog (#591)
  changelog/changelog.json
  changelog/changelog.yaml
Due: prettier --write

CLOUDP-272000: Boolean field names avoid "is" prefix
  tools/spectral/ipa/__tests__/IPA112BooleanFieldNamesAvoidIsPrefix.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA112BooleanFieldNamesAvoidIsPrefix.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/rulesets/functions/IPA112BooleanFieldNamesAvoidIsPrefix.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-272000: Boolean field names avoid "is" prefix (#593)
  tools/spectral/ipa/__tests__/IPA112BooleanFieldNamesAvoidIsPrefix.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA112BooleanFieldNamesAvoidIsPrefix.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-271999: Fix on IPA-112 rule implementation
  tools/spectral/ipa/__tests__/IPA112BooleanFieldNamesAvoidIsPrefix.test.js
  tools/spectral/ipa/__tests__/IPA112FieldNamesAreCamelCase.test.js
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
  tools/spectral/ipa/rulesets/functions/IPA112BooleanFieldNamesAvoidIsPrefix.js
  tools/spectral/ipa/rulesets/functions/IPA112FieldNamesAreCamelCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix
  tools/spectral/ipa/__tests__/IPA112FieldNamesAreCamelCase.test.js
  tools/spectral/ipa/rulesets/IPA-112.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix
  tools/spectral/ipa/rulesets/functions/IPA112BooleanFieldNamesAvoidIsPrefix.js
  tools/spectral/ipa/rulesets/functions/IPA112FieldNamesAreCamelCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

remove log lines
  tools/spectral/ipa/rulesets/functions/IPA112FieldNamesAreCamelCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-304967: Add IPA rule for description format (#592)
  tools/spectral/ipa/__tests__/IPA117DescriptionEndsWithPeriod.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionStartsWithUpperCase.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionEndsWithPeriod.js
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionStartsWithUpperCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Add overrides to IPA spectral
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

Add overrides to IPA spectral (#595)
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js
