Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

Update generate-bump-pages.yml
  .github/workflows/generate-bump-pages.yml
Due: none

Update release-spec.yml
  .github/workflows/release-spec.yml
Due: none

CLOUDP-315486: Update the foascli changelog command to generate the changelog for "upcoming" APIs
  tools/cli/internal/changelog/changelog.go
  tools/cli/internal/changelog/merge.go
  tools/cli/test/e2e/cli/changelog_test.go
  tools/cli/test/e2e/cli/cli.go
Due: ./tools/cli/precommit.sh

Update merge.go
  tools/cli/internal/changelog/merge.go
Due: ./tools/cli/precommit.sh

Update changelog.go
  tools/cli/internal/changelog/changelog.go
Due: ./tools/cli/precommit.sh

Addressed Raymund's comment
  .github/scripts/generateSpecMapping.js
  .github/workflows/generate-bump-pages.yml
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Update generateSpecMapping.js
  .github/scripts/generateSpecMapping.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-323790: Update foas release process to support bump.sh deployment for all the envs (#752)
  .github/workflows/generate-bump-pages.yml
  .github/workflows/release-spec-runner.yml
  .github/workflows/release-spec.yml
Due: none

fix release
  .github/scripts/generateSpecMapping.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-323790: fix bump release (#760)
  .github/scripts/generateSpecMapping.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: fix bump release v1 spec (#761)
  .github/scripts/generateSpecMapping.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix release
  .github/workflows/generate-bump-pages.yml
Due: none

ci: fix bump release (#762)
  .github/workflows/generate-bump-pages.yml
Due: none

fix bump release - 4
  .github/scripts/generateSpecMapping.js
  .github/workflows/generate-bump-pages.yml
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: fix bump release - part 4 (#763)
  .github/scripts/generateSpecMapping.js
  .github/workflows/generate-bump-pages.yml
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: make the `atlas_admin_v1_doc_id` not required since it available only for PROD
  .github/workflows/generate-bump-pages.yml
  .github/workflows/release-spec.yml
Due: none

Update release-spec-runner.yml
  .github/workflows/release-spec-runner.yml
Due: none

fix: make the `atlas_admin_v1_doc_id` not required since it available only for PROD (#764)
  .github/workflows/generate-bump-pages.yml
  .github/workflows/release-spec-runner.yml
  .github/workflows/release-spec.yml
Due: none

CLOUDP-311383: add a cleanup step after in the changelog release process
  .github/scripts/get_list_files_to_delete.sh
  .github/workflows/release-cleanup.yml
Due: none

Update release-cleanup.yml
  .github/workflows/release-cleanup.yml
Due: none

Update get_list_files_to_delete.sh
  .github/scripts/get_list_files_to_delete.sh
Due: none

CLOUDP-311383: add a cleanup step after the changelog release process (#765)
  .github/scripts/get_list_files_to_delete.sh
  .github/workflows/release-cleanup.yml
Due: none

fix: fix bump release for v1 spec - prod (#766)
  .github/scripts/generateSpecMapping.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

add bump release to retry
  .github/workflows/release-spec.yml
Due: none

fix: Add retry for bump release (#767)
  .github/workflows/release-spec.yml
Due: none

feat: autogenerate go SDK example in the codeSample
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
Due: ./tools/cli/precommit.sh

Regenerated e2e tests fails
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write

Use go template
  tools/cli/internal/openapi/filter/code_sample.go
Due: ./tools/cli/precommit.sh

Update code_sample.go
  tools/cli/internal/openapi/filter/code_sample.go
Due: ./tools/cli/precommit.sh

use go/format
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh
