Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

fix: e2e test fixtures
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-01-01_2024-05-30.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-01-01_2024-08-05.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-01-01_2024-10-23.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-01-01_2024-11-13.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-01-01_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-01-01_2025-03-12.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-02-01_2024-05-30.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-02-01_2024-08-05.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-02-01_2024-10-23.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-02-01_2024-11-13.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-02-01_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-02-01_2025-03-12.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-10-01_2024-05-30.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-10-01_2024-08-05.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-10-01_2024-10-23.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-10-01_2024-11-13.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-10-01_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-10-01_2025-03-12.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-11-15_2024-05-30.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-11-15_2024-08-05.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-11-15_2024-10-23.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-11-15_2024-11-13.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-11-15_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-11-15_2025-03-12.json
  tools/cli/test/data/changelog/same-api-version/output/changelog-all.json
  tools/cli/test/data/changelog/same-api-version/output/changelog.json
Due: prettier --write

ci: Include tools/foas in Dependabot automation
  .github/dependabot.yml
Due: none

chore: Include tools/foas in Dependabot automation (#1455)
  .github/dependabot.yml
Due: none

refactor(ipa): address review on IPA-132 initiation rules
  tools/spectral/ipa/__tests__/IPA132LroInitiationMustReturn202AcceptedWithLocation.test.js
  tools/spectral/ipa/__tests__/utils/longRunningOperations.test.js
  tools/spectral/ipa/rulesets/functions/IPA132Lro202ResponseMustNotIncludeContent.js
  tools/spectral/ipa/rulesets/functions/IPA132LroInitiationMustReturn202AcceptedWithLocation.js
  tools/spectral/ipa/rulesets/functions/IPA132LroMustNotReturnSuccessStatusCodeOtherThan202.js
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

docs(ipa): describe the Location header casing requirement
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): add IPA-132 long-running operation initiation rules (#1448)
  CONTRIBUTING.md
  tools/cli/internal/cli/merge/gen/main.go
  tools/cli/internal/cli/merge/legacy_long_running_operations.go
  tools/cli/internal/cli/merge/legacy_long_running_operations_test.go
  tools/spectral/ipa/__tests__/IPA132Lro202ResponseMustNotIncludeContent.test.js
  tools/spectral/ipa/__tests__/IPA132LroInitiationMustReturn202AcceptedWithLocation.test.js
  tools/spectral/ipa/__tests__/IPA132LroMustNotReturnSuccessStatusCodeOtherThan202.test.js
  tools/spectral/ipa/__tests__/utils/longRunningOperations.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132Lro202ResponseMustNotIncludeContent.js
  tools/spectral/ipa/rulesets/functions/IPA132LroInitiationMustReturn202AcceptedWithLocation.js
  tools/spectral/ipa/rulesets/functions/IPA132LroMustNotReturnSuccessStatusCodeOtherThan202.js
  tools/spectral/ipa/rulesets/functions/utils/legacyLongRunningOperations.json
  tools/spectral/ipa/rulesets/functions/utils/legacyLroOperationIds.js
  tools/spectral/ipa/rulesets/functions/utils/longRunningOperations.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

feat(ipa): require long-running operations to expose an Operations endpoint
  tools/spectral/ipa/__tests__/IPA132LrosMustExposeAnOperationsEndpoint.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132LrosMustExposeAnOperationsEndpoint.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): require long-running operations to expose an Operations endpoint (#1461)
  tools/spectral/ipa/__tests__/IPA132LrosMustExposeAnOperationsEndpoint.test.js
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132LrosMustExposeAnOperationsEndpoint.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

overrides
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): complete IPA-111 override list to suppress all 318 spec violations
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

refactor(ipa): scope IPA-111 boolean and no-default rules to request schemas only
  tools/spectral/ipa/__tests__/IPA111OptionalBooleanFieldsDefaultFalse.test.js
  tools/spectral/ipa/__tests__/IPA111OptionalFieldsNoDefault.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-111.yaml
  tools/spectral/ipa/rulesets/functions/IPA111OptionalBooleanFieldsDefaultFalse.js
  tools/spectral/ipa/rulesets/functions/IPA111OptionalFieldsNoDefault.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

chore(ipa): regenerate ruleset README after IPA-111 scoping change
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

CLOUDP-442116: backport from MMS
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

chore(ipa): CLOUDP-442116 - backport from MMS (#1472)
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): IPA-112 excempt trailing abbreviations
  tools/spectral/ipa/__tests__/IPA112FieldNamesAreCamelCase.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/functions/IPA112FieldNamesAreCamelCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Export OPENAPI_FILE_NAME so the Go SDK validation uses the fresh FOAS
  .github/workflows/required-spec-validations.yml
Due: none

fix: Go SDK validation uses the fresh FOAS instead of the stale committed spec (#1474)
  .github/workflows/required-spec-validations.yml
Due: none

fix: remove dangling $refs after HiddenEnvsFilter deletes hidden schemas
  tools/foas/openapi/filter/hidden_envs.go
  tools/foas/openapi/filter/hidden_envs_test.go
Due: ./tools/cli/precommit.sh

fix(ipa): infer read-only nested schemas
  tools/spectral/ipa/__tests__/IPA113SingletonHasUpdateMethod.test.js
  tools/spectral/ipa/__tests__/IPA132OperationMustBeAReadOnlyResource.test.js
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/IPA-132.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA132OperationMustBeAReadOnlyResource.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix
  tools/go.work
Due: none

docs: add manual workflow dispatch runbook
  docs/workflow-dispatch-guide.md
Due: prettier --write

feat: add force_bump parameter to override single-line diff skip
  .github/workflows/release-spec-runner.yml
  .github/workflows/release-spec.yml
  docs/workflow-dispatch-guide.md
Due: prettier --write

fix: relax bump diff check to count deletions, not just additions
  .github/workflows/release-spec-runner.yml
  .github/workflows/release-spec.yml
  docs/workflow-dispatch-guide.md
Due: prettier --write

fix: add force_bump override for committed changes, fix runbook accuracy
  .github/workflows/release-spec-runner.yml
  .github/workflows/release-spec.yml
  docs/workflow-dispatch-guide.md
Due: prettier --write

feat: add workflow_dispatch to generate-bump-pages for direct redeploy
  .github/workflows/generate-bump-pages.yml
  docs/workflow-dispatch-guide.md
Due: prettier --write

fix: update changed lines detection to push to bump
  .github/workflows/release-spec.yml
Due: none

refactor: normalize generate-bump-pages secrets to uppercase repo names
  .github/workflows/generate-bump-pages.yml
  .github/workflows/release-spec.yml
  docs/workflow-dispatch-guide.md
Due: prettier --write

fix: remove workflow_dispatch from generate-bump-pages, keep only force_bump param
  .github/workflows/generate-bump-pages.yml
  docs/workflow-dispatch-guide.md
Due: prettier --write

fix: revert tangential Copilot suggestions in runbook
  docs/workflow-dispatch-guide.md
Due: prettier --write

fix: revert secret names back to lowercase in bump workflows
  .github/workflows/generate-bump-pages.yml
  .github/workflows/release-spec.yml
Due: none

fix: update guide
  docs/workflow-dispatch-guide.md
Due: prettier --write

fix: docs
  docs/workflow-dispatch-guide.md
Due: prettier --write

docs: add manual workflow dispatch runbook (#1493)
  .github/workflows/release-spec-runner.yml
  .github/workflows/release-spec.yml
  docs/workflow-dispatch-guide.md
Due: prettier --write

ci(ipa): release new version 11.2.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 11.2.0 (#1495)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

fix(ci): Fix the V1 release workflow
  .github/workflows/release-spec-v1.yml
Due: none

ci(prod): Fix the V1 release workflow (#1497)
  .github/workflows/release-spec-v1.yml
Due: none

fix(ipa): check all read-only schema composition branches
  tools/spectral/ipa/__tests__/IPA113SingletonHasUpdateMethod.test.js
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests
