Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

address the comments
  tools/spectral/ipa/__tests__/utils/compareUtils.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

import fix
  tools/spectral/ipa/__tests__/utils/compareUtils.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Apply suggestions from Lovisa code review
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304053: IPA-106:Create - The resource must be the request body (implement deepObjectComparison without third party dependencies) (#522)
  package-lock.json
  package.json
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/utils/compareUtils.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/utils/compareUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: extra unit tests and dedicated handling for slashes in input
  tools/spectral/ipa/__tests__/collectionIdentifierCamelCase.test.js
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/collectionIdentifierCamelCase.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304929: xgen-IPA-102-collection-identifier-camelCase (#499)
  tools/spectral/ipa/__tests__/collectionIdentifierCamelCase.test.js
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/collectionIdentifierCamelCase.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

DOP-5448: Create Bump GH action for previews and deploys
  .github/scripts/generateSpecMapping.js
  .github/workflows/generate-bump-pages.yml
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Update IDs and ensure v2 latest branch is correct
  .github/scripts/generateSpecMapping.js
  .github/workflows/generate-bump-pages.yml
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Fix comments
  .github/scripts/generateSpecMapping.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Check for dispatch
  .github/workflows/generate-bump-pages.yml
Due: none

refactor fixes
  tools/spectral/ipa/__tests__/createMethodResponseCodeIs201Created.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodResponseCodeIs201Created.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA 106: Create : A Request object must include only input fields
  tools/spectral/ipa/__tests__/createMethodRequestHasNoReadOnlyFields.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/functions/createMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/getMethodResponseHasNoInputFields.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA 106: Create : A Request object must include only input fields
  tools/spectral/ipa/__tests__/createMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/getMethodResponseHasNoInputFields.test.js
  tools/spectral/ipa/__tests__/utils/schemaUtils.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA 106: Create : A Request object must include only input fields
  tools/spectral/ipa/__tests__/createMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/getMethodResponseHasNoInputFields.test.js
  tools/spectral/ipa/__tests__/utils/schemaUtils.test.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier fix
  tools/spectral/ipa/__tests__/createMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/utils/schemaUtils.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

IPA 106: Create : A Request object must include only input fields (#528)
  tools/spectral/ipa/__tests__/createMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/__tests__/getMethodResponseHasNoInputFields.test.js
  tools/spectral/ipa/__tests__/utils/schemaUtils.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/getMethodResponseHasNoInputFields.js
  tools/spectral/ipa/rulesets/functions/utils/schemaUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Fix: Create method checks should apply resource collection URIs
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsRequestSuffixedObject.test.js
  tools/spectral/ipa/__tests__/createMethodShouldNotHaveQueryParameters.test.js
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsRequestSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/createMethodShouldNotHaveQueryParameters.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Create method checks should apply resource collection URIs
  tools/spectral/ipa/rulesets/functions/createMethodResponseCodeIs201Created.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier fix
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsGetResponse.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier fix
  tools/spectral/ipa/rulesets/functions/createMethodResponseCodeIs201Created.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

IPA 106: Create : The response status code must be 201 Created (#527)
  tools/spectral/ipa/__tests__/createMethodResponseCodeIs201Created.test.js
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodResponseCodeIs201Created.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Fix: Create method checks should apply resource collection URIs (#529)
  tools/spectral/ipa/__tests__/createMethodRequestBodyIsRequestSuffixedObject.test.js
  tools/spectral/ipa/__tests__/createMethodShouldNotHaveQueryParameters.test.js
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsRequestSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/createMethodShouldNotHaveQueryParameters.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-305844: fix branded_preview to avoid listing v2.json/v2.yaml files (#517)
  .github/scripts/branded_preview.sh
Due: none

CLOUDP-304939: IPA 106: Create : A Request object must include only input fields (consider resource collection URIs only)
  tools/spectral/ipa/__tests__/createMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/rulesets/functions/createMethodRequestHasNoReadonlyFields.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-304939: IPA 106: Create : A Request object must include only input fields (consider resource collection URIs only) (#531)
  tools/spectral/ipa/__tests__/createMethodRequestHasNoReadonlyFields.test.js
  tools/spectral/ipa/rulesets/functions/createMethodRequestHasNoReadonlyFields.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Fix: Refine Create method descriptions with the resource collection applicability
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Fix: Refine Create method descriptions with the resource collection applicability (#532)
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-305862: change format from table to section in markdown
  tools/spectral/ipa/rulesets/IPA-102.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/scripts/generateRulesetReadme.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

chore: update foas release to run every 2 hours from Monday to Friday
  .github/workflows/release-spec-runner.yml
Due: none

use url shortener
  tools/spectral/ipa/__tests__/collectionIdentifierCamelCase.test.js
  tools/spectral/ipa/rulesets/IPA-102.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-304938: Adds rule xgen-IPA-105-list-method-response-is-get-method-response
  tools/spectral/ipa/__tests__/listMethodResponseIsGetMethodResponse.test.js
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/createMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/listMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/utils/methodUtils.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: use direct ref
  tools/spectral/ipa/__tests__/collectionIdentifierCamelCase.test.js
  tools/spectral/ipa/rulesets/IPA-102.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: formatting of severities
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/scripts/generateRulesetReadme.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Apply suggestions from code review
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/scripts/generateRulesetReadme.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: paths format
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/scripts/generateRulesetReadme.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

chore: update foas release to run every 2 hours from Monday to Friday (#534)
  .github/workflows/release-spec-runner.yml
Due: none

fix: a11ly for severity
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/scripts/generateRulesetReadme.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306161: Improve single resource path evaluation
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests
