Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

prettier fix
  tools/spectral/ipa/rulesets/functions/IPA104OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA105OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA106OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA107OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA108OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA109OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix(ipa): Separate the word-count validation for Operation IDs (#1114)
  tools/spectral/ipa/__tests__/IPA104OperationIdLength.test.js
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105OperationIdLength.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA106OperationIdLength.test.js
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA107OperationIdLength.test.js
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108OperationIdLength.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA109OperationIdLength.test.js
  tools/spectral/ipa/__tests__/IPA109ValidOperationID.test.js
  tools/spectral/ipa/__tests__/utils/validations/validateOperationIdAndReturnErrors.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA104OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA105OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA106OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA107OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA108OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA109OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): Support reset custom method for singletons
  tools/spectral/ipa/__tests__/IPA113ResetMethodMustNotHaveRequestBody.test.js
  tools/spectral/ipa/__tests__/IPA113ResetMethodMustReturn200OK.test.js
  tools/spectral/ipa/__tests__/IPA113ResetMethodMustUsePost.test.js
  tools/spectral/ipa/__tests__/IPA113ResetMethodNotOnReadonlySingleton.test.js
  tools/spectral/ipa/__tests__/IPA113ResetMethodOnlyOnSingletonResources.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasNoDeleteMethod.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasNoId.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasUpdateMethod.test.js
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodMustNotHaveRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodMustReturn200OK.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodMustUsePost.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodNotOnReadonlySingleton.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodOnlyOnSingletonResources.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier fix
  tools/spectral/ipa/__tests__/IPA113ResetMethodOnlyOnSingletonResources.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasNoId.test.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodOnlyOnSingletonResources.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

docs fix
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

remove comments
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodMustNotHaveRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodMustReturn200OK.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodOnlyOnSingletonResources.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodResponseIsGetMethodResponse.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat(ipa): Support reset custom method for singletons (#1122)
  tools/spectral/ipa/__tests__/IPA113ResetMethodMustNotHaveRequestBody.test.js
  tools/spectral/ipa/__tests__/IPA113ResetMethodMustReturn200OK.test.js
  tools/spectral/ipa/__tests__/IPA113ResetMethodMustUsePost.test.js
  tools/spectral/ipa/__tests__/IPA113ResetMethodNotOnReadonlySingleton.test.js
  tools/spectral/ipa/__tests__/IPA113ResetMethodOnlyOnSingletonResources.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasNoDeleteMethod.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasNoId.test.js
  tools/spectral/ipa/__tests__/IPA113SingletonHasUpdateMethod.test.js
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodMustNotHaveRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodMustReturn200OK.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodMustUsePost.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodNotOnReadonlySingleton.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodOnlyOnSingletonResources.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/IPA113ResetMethodValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): release new version 10.0.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 10.0.0 (#1123)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

merged master
  package-lock.json
Due: prettier --write

Update code-health-tools.yml
  .github/workflows/code-health-tools.yml
Due: none

CLOUDP-378457: add log and remove `-s` (silence errors) to curl requests in `.github/scripts/handle_warning_violations.sh`
  .github/scripts/handle_warning_violations.sh
Due: none

Update handle_warning_violations.sh
  .github/scripts/handle_warning_violations.sh
Due: none

fix: add log and remove `-s` (silence errors) to curl requests in `.github/scripts/handle_warning_violations.sh` - CLOUDP-378457 (#1126)
  .github/scripts/handle_warning_violations.sh
Due: none

ci: Fix ipa metrics release job
  .github/workflows/release-IPA-metrics.yml
Due: none

fix
  .github/scripts/handle_warning_violations.sh
  .github/workflows/release-IPA-metrics.yml
  tools/spectral/ipa/__tests__/metrics/metricCollection.test.js
  tools/spectral/ipa/metrics/metricCollection.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix
  .github/scripts/handle_warning_violations.sh
Due: none

logging
  .github/scripts/handle_warning_violations.sh
Due: none

shellcheck fix
  .github/scripts/handle_warning_violations.sh
Due: none

script fix
  .github/scripts/handle_warning_violations.sh
Due: none

ci(ipa): Fix IPA metrics release job (#1127)
  .github/scripts/handle_warning_violations.sh
  .github/workflows/release-IPA-metrics.yml
  tools/spectral/ipa/__tests__/metrics/metricCollection.test.js
  tools/spectral/ipa/metrics/metricCollection.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

implementation
  scripts/analyze-facet-changes-v2.sh
  scripts/analyze-facet-changes.sh
  scripts/output/enum.csv
  scripts/output/maxItems.csv
  scripts/output/maxLength.csv
  scripts/output/maximum.csv
  scripts/output/minItems.csv
  scripts/output/minLength.csv
  scripts/output/minimum.csv
  scripts/output/pattern.csv
Due: none

merged master
  package-lock.json
  package.json
Due: prettier --write

dependabot fix
  tools/spectral/ipa/metrics/utils/metricCollectionUtils.js
  tools/spectral/ipa/rulesets/functions/IPA109OperationIdLength.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/utils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

ci(ipa): Refine IPA metrics release workflow
  .github/workflows/release-IPA-metrics.yml
  tools/cli/internal/cli/filter/filter.go
  tools/cli/internal/cli/flag/flag.go
  tools/cli/internal/cli/split/split.go
  tools/cli/internal/cli/usage/usage.go
  tools/cli/internal/openapi/filter/README.md
  tools/cli/internal/openapi/filter/extension.go
  tools/cli/internal/openapi/filter/extension_test.go
  tools/cli/internal/openapi/filter/filter.go
Due: prettier --write, ./tools/cli/precommit.sh

ci(ipa): Refine IPA metrics release workflow
  tools/cli/internal/openapi/filter/extension.go
  tools/cli/internal/openapi/filter/extension_test.go
Due: ./tools/cli/precommit.sh

ci(ipa): Refine IPA metrics release workflow
  tools/cli/internal/openapi/filter/extension.go
Due: ./tools/cli/precommit.sh

ci(ipa): Refine IPA metrics release workflow (#1145)
  .github/workflows/release-IPA-metrics.yml
  tools/cli/internal/cli/filter/filter.go
  tools/cli/internal/cli/flag/flag.go
  tools/cli/internal/cli/split/split.go
  tools/cli/internal/cli/usage/usage.go
  tools/cli/internal/openapi/filter/README.md
  tools/cli/internal/openapi/filter/extension.go
  tools/cli/internal/openapi/filter/extension_test.go
  tools/cli/internal/openapi/filter/filter.go
Due: prettier --write, ./tools/cli/precommit.sh

CLOUDP-381716: Add cursor/environment.json to repo
  .cursor/environment.json
  Makefile
  tools/spectral/.tool-versions
Due: prettier --write

CLOUDP-381716: Add cursor/environment.json to repo
  tools/.tool-versions
Due: none

CLOUDP-381716: Add cursor/environment.json to repo
  tools/spectral/.tool-versions
Due: none

CLOUDP-381716: Add cursor/environment.json to repo
  Makefile
Due: none

CLOUDP-381716: Add cursor/environment.json to repo
  .cursor/environment.json
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
