Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

ci(ipa): ipa package first release (#858)
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

Fix version check script to look at HEAD
  .github/scripts/ipa_version_check.sh
  .github/workflows/ipa-changelog.yml
  .github/workflows/ipa-release.yml
Due: none

Point to previous commit
  .github/scripts/ipa_version_check.sh
Due: none

Test changelog action
  tools/spectral/ipa/CHANGELOG.md
Due: prettier --write

Reintroduce base branch param with different usage
  .github/scripts/ipa_version_check.sh
  .github/workflows/ipa-changelog.yml
  .github/workflows/ipa-release.yml
  tools/spectral/ipa/CHANGELOG.md
Due: prettier --write

accidental newline
  tools/spectral/ipa/CHANGELOG.md
Due: prettier --write

fix: release workflow should look at HEAD (#861)
  .github/workflows/ipa-release.yml
Due: none

Rollback package version for testing
  .github/workflows/ipa-release.yml
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

fix(ipa): Version debug (#862)
  .github/workflows/ipa-release.yml
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

Point to main
  .github/workflows/ipa-release.yml
Due: none

fix: version debug - point to main (#863)
  .github/workflows/ipa-release.yml
Due: none

Reintroduce publish action
  .github/workflows/ipa-release.yml
Due: none

ci(ipa): second attempt ipa release (#864)
  .github/workflows/ipa-release.yml
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

Pipe to output instead of env
  .github/workflows/ipa-release.yml
Due: none

Rollback version and disable release
  .github/workflows/ipa-release.yml
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

fix(ipa): Fix release output (#865)
  .github/workflows/ipa-release.yml
Due: none

Rollback ipa package version to dev
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

fix(ipa): Rollback ipa package version to dev (#867)
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

version bump
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): Third attempt Ipa release (#866)
  .github/workflows/ipa-release.yml
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
Due: prettier --write

CLOUDP-335986: Account for abbreviations in op ID names
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-335986: Fix
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix(ipa): Account for abbreviations in op ID names (#868)
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Updated removePrefix to take prefixes as parameters
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Added testing for removePrefix
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Add optional/default parameter for methods that use removePrefix
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

added missing params and a test for undefined behaviour
  tools/spectral/ipa/__tests__/utils/resourceEvaluation.test.js
  tools/spectral/ipa/rulesets/functions/utils/resourceEvaluation.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

test enable
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

Test pt 2
  tools/spectral/ipa/package.json
Due: prettier --write

test 3
  package-lock.json
  package.json
Due: prettier --write

Revert "test 3"
  package-lock.json
  package.json
Due: prettier --write

Revert "Test pt 2"
  tools/spectral/ipa/package.json
Due: prettier --write

Draft OperationID validation rules
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

Update IPA104 opID rule
  tools/spectral/ipa/rulesets/IPA-104.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

Update README
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

IPA 104 opId tests
  package.json
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/rulesets/IPA-104.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Enable tests
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Fix IPA104 test with good example
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/rulesets/IPA-104.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Update and enable tests
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA109ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Update to custom method and docs
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
