Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

thanks copilot
  tools/spectral/ipa/rulesets/functions/IPA119NoDefaultForCloudProviders.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306576: IPA-119: Multi-Cloud Support (Fix) (#647)
  tools/spectral/ipa/__tests__/IPA119NoDefaultForCloudProviders.test.js
  tools/spectral/ipa/rulesets/functions/IPA119NoDefaultForCloudProviders.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306577: IPA121: Datetime
  tools/spectral/ipa/__tests__/IPA121DateTimeFieldsMentionISO8601.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-121.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA121DateTimeFieldsMentionISO8601.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

include UTC in description check
  tools/spectral/ipa/__tests__/IPA121DateTimeFieldsMentionISO8601.test.js
  tools/spectral/ipa/rulesets/IPA-121.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA121DateTimeFieldsMentionISO8601.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fixes
  tools/spectral/ipa/__tests__/IPA121DateTimeFieldsMentionISO8601.test.js
  tools/spectral/ipa/rulesets/IPA-121.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA121DateTimeFieldsMentionISO8601.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/__tests__/IPA121DateTimeFieldsMentionISO8601.test.js
  tools/spectral/ipa/rulesets/functions/IPA121DateTimeFieldsMentionISO8601.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

task: update headers
  .github/copilot-instructions.md
Due: prettier --write

address the comments
  tools/spectral/ipa/rulesets/IPA-121.yaml
  tools/spectral/ipa/rulesets/functions/IPA121DateTimeFieldsMentionISO8601.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306577: IPA-121: Datetime (#648)
  tools/spectral/ipa/__tests__/IPA121DateTimeFieldsMentionISO8601.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-121.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA121DateTimeFieldsMentionISO8601.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

task: update headers (#649)
  .github/copilot-instructions.md
Due: prettier --write

CLOUDP-298233: Postman SA support
  .github/workflows/release-postman.yml
  tools/postman/collection-description.md
  tools/postman/scripts/transform-for-api.sh
  tools/postman/scripts/transform-postman.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-306578: IPA-123: Enums
  tools/spectral/ipa/__tests__/IPA123EnumValuesShouldNotExceed20.test.js
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA123EnumValuesShouldNotExceed20.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix on tests
  tools/spectral/ipa/__tests__/IPA123EnumValuesShouldNotExceed20.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier fix
  tools/spectral/ipa/__tests__/IPA123EnumValuesShouldNotExceed20.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

reusable enum schemas
  tools/spectral/ipa/__tests__/IPA123EnumValuesShouldNotExceed20.test.js
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA123EnumValuesShouldNotExceed20.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

reusable enum schemas
  tools/spectral/ipa/__tests__/IPA123EnumValuesShouldNotExceed20.test.js
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

reusable enum schemas
  tools/spectral/ipa/__tests__/IPA123EnumValuesShouldNotExceed20.test.js
  tools/spectral/ipa/rulesets/functions/IPA123EnumValuesShouldNotExceed20.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

maxEnumValues parameter
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/functions/IPA123EnumValuesShouldNotExceed20.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier fix
  tools/spectral/ipa/rulesets/IPA-123.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306578: IPA-123: Enums (#650)
  tools/spectral/ipa/__tests__/IPA123EnumValuesShouldNotExceed20.test.js
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA123EnumValuesShouldNotExceed20.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-298233: Postman SA support (#428)
  .github/workflows/release-postman.yml
  tools/postman/collection-description.md
  tools/postman/scripts/transform-for-api.sh
  tools/postman/scripts/transform-postman.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-310612: Fourth Rollout of IPA validations
  tools/spectral/ipa/__tests__/IPA110CollectionsRequestHasItemsPerPageQueryParam.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsRequestHasPageNumQueryParam.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsRequestIncludeCountNotRequired.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsResponseDefineLinksArray.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsResponseDefineResultsArray.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsUsePaginatedPrefix.test.js
  tools/spectral/ipa/__tests__/IPA112AvoidProjectFieldNames.test.js
  tools/spectral/ipa/__tests__/IPA112BooleanFieldNamesAvoidIsPrefix.test.js
  tools/spectral/ipa/__tests__/IPA112FieldNamesAreCamelCase.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionEndsWithPeriod.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionMustNotUseHtml.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseLinks.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseTables.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionStartsWithUpperCase.test.js
  tools/spectral/ipa/__tests__/IPA117HasDescription.test.js
  tools/spectral/ipa/__tests__/IPA125OneOfMustHaveDiscriminator.test.js
  tools/spectral/ipa/__tests__/IPA125OneOfNoBaseTypes.test.js
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306579: Repeated Fields
  openapi/.raw/.ipaspectral.yaml
  tools/spectral/ipa/__tests__/IPA124ArrayMaxItems.test.js
  tools/spectral/ipa/rulesets/IPA-124.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA124ArrayMaxItems.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

docs and prettiers fix
  tools/spectral/ipa/__tests__/IPA124ArrayMaxItems.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/IPA-124.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA124ArrayMaxItems.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

ipa spectral sync
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier fix
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

given fix
  tools/spectral/ipa/rulesets/IPA-124.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

docs fix
  tools/spectral/ipa/__tests__/IPA124ArrayMaxItems.test.js
  tools/spectral/ipa/rulesets/IPA-124.yaml
  tools/spectral/ipa/rulesets/functions/IPA124ArrayMaxItems.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

docs fix
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

test fix
  tools/spectral/ipa/__tests__/IPA124ArrayMaxItems.test.js
  tools/spectral/ipa/rulesets/functions/IPA124ArrayMaxItems.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

remove logs
  tools/spectral/ipa/rulesets/functions/IPA124ArrayMaxItems.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

parameter name check
  tools/spectral/ipa/__tests__/IPA124ArrayMaxItems.test.js
  tools/spectral/ipa/rulesets/IPA-124.yaml
  tools/spectral/ipa/rulesets/functions/IPA124ArrayMaxItems.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

docs fix
  tools/spectral/ipa/rulesets/IPA-124.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

remove the extra file
  openapi/.raw/.ipaspectral.yaml
Due: none

address the comments
  tools/spectral/ipa/__tests__/IPA124ArrayMaxItems.test.js
  tools/spectral/ipa/rulesets/IPA-124.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA124ArrayMaxItems.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-310612: Fourth Rollout of IPA validations (#652)
  tools/spectral/ipa/__tests__/IPA110CollectionsRequestHasItemsPerPageQueryParam.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsRequestHasPageNumQueryParam.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsRequestIncludeCountNotRequired.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsResponseDefineLinksArray.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsResponseDefineResultsArray.test.js
  tools/spectral/ipa/__tests__/IPA110CollectionsUsePaginatedPrefix.test.js
  tools/spectral/ipa/__tests__/IPA112AvoidProjectFieldNames.test.js
  tools/spectral/ipa/__tests__/IPA112BooleanFieldNamesAvoidIsPrefix.test.js
  tools/spectral/ipa/__tests__/IPA112FieldNamesAreCamelCase.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionEndsWithPeriod.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionMustNotUseHtml.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseLinks.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionShouldNotUseTables.test.js
  tools/spectral/ipa/__tests__/IPA117DescriptionStartsWithUpperCase.test.js
  tools/spectral/ipa/__tests__/IPA117HasDescription.test.js
  tools/spectral/ipa/__tests__/IPA125OneOfMustHaveDiscriminator.test.js
  tools/spectral/ipa/__tests__/IPA125OneOfNoBaseTypes.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-110.yaml
  tools/spectral/ipa/rulesets/IPA-112.yaml
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  tools/spectral/ipa/rulesets/IPA-124.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-306579: Repeated Fields (#653)
  tools/spectral/ipa/__tests__/IPA124ArrayMaxItems.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-123.yaml
  tools/spectral/ipa/rulesets/IPA-124.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA124ArrayMaxItems.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-311043: Prevent Duplicate Issues for optional-spec-validations
  .github/workflows/optional-spec-validations.yml
  .github/workflows/task-failure-handler.yml
Due: none
