Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

Add type : module to silence error with generateRulesetReadMe parsing
  tools/spectral/ipa/package.json
Due: prettier --write

Refine rule description
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Apply rule description suggestions
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

update Readme
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

update tests to include expected OperationIds
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA109ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

IPA 104 tests for overrides
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

IPA 105 tests for overrides
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

IPA 106 tests for overrides
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

IPA 107 tests for overrides
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

IPA 108 tests for overrides
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

IPA 109 tests for overrides
  tools/spectral/ipa/__tests__/IPA109ValidOperationID.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat(ipa): enable OperationID Validation with warning severity (#871)
  package.json
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA106ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA107ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA108ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA109ValidOperationID.test.js
  tools/spectral/ipa/package.json
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

test: add missing tests for IPA utils functions
  tools/spectral/ipa/__tests__/metrics/metricCollectionUtils.test.js
  tools/spectral/ipa/__tests__/utils/componentUtils.test.js
  tools/spectral/ipa/__tests__/utils/extensions.test.js
  tools/spectral/ipa/__tests__/utils/methodLogic.test.js
  tools/spectral/ipa/__tests__/utils/methodUtils.test.js
  tools/spectral/ipa/__tests__/utils/schemaUtils.test.js
  tools/spectral/ipa/rulesets/functions/utils/methodLogic.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat(ipa): New rule xgen-IPA-125-oneOf-schema-property-same-type
  tools/spectral/ipa/__tests__/IPA125OneOfSchemaPropertySameType.test.js
  tools/spectral/ipa/package-lock.json
  tools/spectral/ipa/package.json
  tools/spectral/ipa/rulesets/IPA-125.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA125OneOfSchemaPropertySameType.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: remove debug log
  tools/spectral/ipa/rulesets/functions/IPA125OneOfSchemaPropertySameType.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: address PR comment
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

test(ipa): add missing tests for IPA utils functions (#872)
  tools/spectral/ipa/__tests__/metrics/metricCollectionUtils.test.js
  tools/spectral/ipa/__tests__/utils/componentUtils.test.js
  tools/spectral/ipa/__tests__/utils/extensions.test.js
  tools/spectral/ipa/__tests__/utils/methodLogic.test.js
  tools/spectral/ipa/__tests__/utils/methodUtils.test.js
  tools/spectral/ipa/__tests__/utils/schemaUtils.test.js
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/methodLogic.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

ci(ipa): update ipa release to allow workflow dispatch
  .github/workflows/ipa-release.yml
Due: none

fix: typo
  .github/workflows/ipa-release.yml
Due: none

ci: update ipa release to allow workflow dispatch (#874)
  .github/workflows/ipa-release.yml
Due: none

ci: fix ipa npm token name in workflow
  .github/workflows/ipa-release.yml
Due: none

ci: fix ipa npm token name in workflow (#875)
  .github/workflows/ipa-release.yml
Due: none

docs(ipa): update ipa readme
  tools/spectral/ipa/README.md
Due: prettier --write

docs(ipa): update ipa readme (#876)
  tools/spectral/ipa/README.md
Due: prettier --write

feat(ipa): error on unneeded exceptions IPA 005-104
  tools/spectral/ipa/__tests__/utils/collectionUtils.test.js
  tools/spectral/ipa/rulesets/functions/IPA005ExceptionExtensionFormat.js
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierCamelCase.js
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierPattern.js
  tools/spectral/ipa/rulesets/functions/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.js
  tools/spectral/ipa/rulesets/functions/IPA104EachResourceHasGetMethod.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodHasNoRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodResponseHasNoInputFields.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodReturnsResponseSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodReturnsSingleResource.js
  tools/spectral/ipa/rulesets/functions/IPA104GetResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/collectionUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: temp silence existing error
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: minor refinement
  tools/spectral/ipa/rulesets/functions/utils/collectionUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: rename functions
  tools/spectral/ipa/__tests__/utils/collectionUtils.test.js
  tools/spectral/ipa/rulesets/functions/IPA005ExceptionExtensionFormat.js
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierCamelCase.js
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierPattern.js
  tools/spectral/ipa/rulesets/functions/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.js
  tools/spectral/ipa/rulesets/functions/IPA104EachResourceHasGetMethod.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodHasNoRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodResponseHasNoInputFields.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodReturnsResponseSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodReturnsSingleResource.js
  tools/spectral/ipa/rulesets/functions/IPA104GetResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/collectionUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat(ipa): error on unneeded exceptions IPA 005-104 (#877)
  tools/spectral/ipa/__tests__/utils/collectionUtils.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/functions/IPA005ExceptionExtensionFormat.js
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierCamelCase.js
  tools/spectral/ipa/rulesets/functions/IPA102CollectionIdentifierPattern.js
  tools/spectral/ipa/rulesets/functions/IPA102EachPathAlternatesBetweenResourceNameAndPathParam.js
  tools/spectral/ipa/rulesets/functions/IPA104EachResourceHasGetMethod.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodHasNoRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodResponseHasNoInputFields.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodReturnsResponseSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA104GetMethodReturnsSingleResource.js
  tools/spectral/ipa/rulesets/functions/IPA104GetResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/collectionUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): error on unneeded exceptions IPA 105-107
  tools/spectral/ipa/__tests__/IPA106CreateMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/functions/IPA105EachResourceHasListMethod.js
  tools/spectral/ipa/rulesets/functions/IPA105ListMethodHasNoRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA105ListMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/IPA105ListResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestBodyIsRequestSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodResponseCodeIs201Created.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodShouldNotHaveQueryParameters.js
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodMustNotHaveQueryParams.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestBodyIsUpdateRequestSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: add todo comment
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

CLOUDP-329067: Fix atlascli examples
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
Due: ./tools/cli/precommit.sh

update e2e tests
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write

fix: AtlasCLI examples do not include the tag as part of the command (#879)
  tools/cli/go.mod
  tools/cli/go.sum
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

feat(ipa): error on unneeded exceptions IPA 105-107 (#878)
  tools/spectral/ipa/__tests__/IPA106CreateMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/__tests__/IPA107UpdateMethodRequestBodyIsGetResponse.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/functions/IPA105EachResourceHasListMethod.js
  tools/spectral/ipa/rulesets/functions/IPA105ListMethodHasNoRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA105ListMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/IPA105ListResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestBodyIsRequestSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodResponseCodeIs201Created.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/IPA106CreateMethodShouldNotHaveQueryParameters.js
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodMustNotHaveQueryParams.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestBodyIsGetResponse.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestBodyIsUpdateRequestSuffixedObject.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodRequestHasNoReadonlyFields.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateMethodResponseIsGetMethodResponse.js
  tools/spectral/ipa/rulesets/functions/IPA107UpdateResponseCodeShouldBe200OK.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): error on unneeded exceptions IPA 108-114
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethod204Response.js
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethodNoRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethodResponseShouldNotHaveSchema.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA109CustomMethodIdentifierFormat.js
  tools/spectral/ipa/rulesets/functions/IPA109EachCustomMethodMustBeGetOrPost.js
  tools/spectral/ipa/rulesets/functions/IPA109EachCustomMethodMustUseCamelCase.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasItemsPerPageQueryParam.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasPageNumQueryParam.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestIncludeCountNotRequired.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsResponseDefineLinksArray.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsResponseDefineResultsArray.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsUsePaginatedPrefix.js
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
  tools/spectral/ipa/rulesets/functions/IPA112BooleanFieldNamesAvoidIsPrefix.js
  tools/spectral/ipa/rulesets/functions/IPA112FieldNamesAreCamelCase.js
  tools/spectral/ipa/rulesets/functions/IPA113SingletonHasNoDeleteMethod.js
  tools/spectral/ipa/rulesets/functions/IPA113SingletonHasNoId.js
  tools/spectral/ipa/rulesets/functions/IPA113SingletonHasUpdateMethod.js
  tools/spectral/ipa/rulesets/functions/IPA114ApiErrorHasBadRequestDetail.js
  tools/spectral/ipa/rulesets/functions/IPA114AuthenticatedEndpointsHaveAuthErrors.js
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
  tools/spectral/ipa/rulesets/functions/IPA114ParameterizedPathsHave404NotFound.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): error on unneeded exceptions IPA 108-114 (#880)
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethod204Response.js
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethodNoRequestBody.js
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethodResponseShouldNotHaveSchema.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA109CustomMethodIdentifierFormat.js
  tools/spectral/ipa/rulesets/functions/IPA109EachCustomMethodMustBeGetOrPost.js
  tools/spectral/ipa/rulesets/functions/IPA109EachCustomMethodMustUseCamelCase.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasItemsPerPageQueryParam.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasPageNumQueryParam.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestIncludeCountNotRequired.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsResponseDefineLinksArray.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsResponseDefineResultsArray.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsUsePaginatedPrefix.js
  tools/spectral/ipa/rulesets/functions/IPA112AvoidProjectFieldNames.js
  tools/spectral/ipa/rulesets/functions/IPA112BooleanFieldNamesAvoidIsPrefix.js
  tools/spectral/ipa/rulesets/functions/IPA112FieldNamesAreCamelCase.js
  tools/spectral/ipa/rulesets/functions/IPA113SingletonHasNoDeleteMethod.js
  tools/spectral/ipa/rulesets/functions/IPA113SingletonHasNoId.js
  tools/spectral/ipa/rulesets/functions/IPA113SingletonHasUpdateMethod.js
  tools/spectral/ipa/rulesets/functions/IPA114ApiErrorHasBadRequestDetail.js
  tools/spectral/ipa/rulesets/functions/IPA114AuthenticatedEndpointsHaveAuthErrors.js
  tools/spectral/ipa/rulesets/functions/IPA114ErrorResponsesReferToApiError.js
  tools/spectral/ipa/rulesets/functions/IPA114ParameterizedPathsHave404NotFound.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): error on unneeded exceptions IPA 117-126
  tools/spectral/ipa/CONTRIBUTING.md
  tools/spectral/ipa/__tests__/IPA117DescriptionMustNotUseHtml.test.js
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionEndsWithPeriod.js
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionMustNotUseHtml.js
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionShouldNotUseLinks.js
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionShouldNotUseTables.js
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionStartsWithUpperCase.js
  tools/spectral/ipa/rulesets/functions/IPA117HasDescription.js
  tools/spectral/ipa/rulesets/functions/IPA117ObjectsMustBeWellDefined.js
  tools/spectral/ipa/rulesets/functions/IPA117ParameterHasExamplesOrSchema.js
  tools/spectral/ipa/rulesets/functions/IPA117PlaintextResponseMustHaveExample.js
  tools/spectral/ipa/rulesets/functions/IPA118NoAdditionalPropertiesFalse.js
  tools/spectral/ipa/rulesets/functions/IPA119NoDefaultForCloudProviders.js
  tools/spectral/ipa/rulesets/functions/IPA121DateTimeFieldsMentionISO8601.js
  tools/spectral/ipa/rulesets/functions/IPA123EachEnumValueMustBeUpperSnakeCase.js
  tools/spectral/ipa/rulesets/functions/IPA123EnumValuesShouldNotExceed20.js
  tools/spectral/ipa/rulesets/functions/IPA124ArrayMaxItems.js
  tools/spectral/ipa/rulesets/functions/IPA125OneOfMustHaveDiscriminator.js
  tools/spectral/ipa/rulesets/functions/IPA125OneOfNoBaseTypes.js
  tools/spectral/ipa/rulesets/functions/IPA126TagNamesShouldUseTitleCase.js
  tools/spectral/ipa/rulesets/functions/utils/collectionUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat(ipa): error on unneeded exceptions IPA 117-126 (#881)
  tools/spectral/ipa/CONTRIBUTING.md
  tools/spectral/ipa/__tests__/IPA117DescriptionMustNotUseHtml.test.js
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionEndsWithPeriod.js
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionMustNotUseHtml.js
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionShouldNotUseLinks.js
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionShouldNotUseTables.js
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionStartsWithUpperCase.js
  tools/spectral/ipa/rulesets/functions/IPA117HasDescription.js
  tools/spectral/ipa/rulesets/functions/IPA117ObjectsMustBeWellDefined.js
  tools/spectral/ipa/rulesets/functions/IPA117ParameterHasExamplesOrSchema.js
  tools/spectral/ipa/rulesets/functions/IPA117PlaintextResponseMustHaveExample.js
  tools/spectral/ipa/rulesets/functions/IPA118NoAdditionalPropertiesFalse.js
  tools/spectral/ipa/rulesets/functions/IPA119NoDefaultForCloudProviders.js
  tools/spectral/ipa/rulesets/functions/IPA121DateTimeFieldsMentionISO8601.js
  tools/spectral/ipa/rulesets/functions/IPA123EachEnumValueMustBeUpperSnakeCase.js
  tools/spectral/ipa/rulesets/functions/IPA123EnumValuesShouldNotExceed20.js
  tools/spectral/ipa/rulesets/functions/IPA124ArrayMaxItems.js
  tools/spectral/ipa/rulesets/functions/IPA125OneOfMustHaveDiscriminator.js
  tools/spectral/ipa/rulesets/functions/IPA125OneOfNoBaseTypes.js
  tools/spectral/ipa/rulesets/functions/IPA126TagNamesShouldUseTitleCase.js
  tools/spectral/ipa/rulesets/functions/utils/collectionUtils.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

feat: update bump release to be triggered manually
  .github/workflows/generate-bump-pages.yml
Due: none
