Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

feat: add slice command to extract OpenAPI specs (#1056)
  tools/cli/internal/cli/flag/flag.go
  tools/cli/internal/cli/root/openapi/builder.go
  tools/cli/internal/cli/slice/slice.go
  tools/cli/internal/cli/slice/slice_test.go
  tools/cli/internal/cli/usage/usage.go
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/parameters.go
  tools/cli/internal/openapi/filter/parameters_test.go
  tools/cli/internal/openapi/filter/schemas.go
  tools/cli/internal/openapi/slice/slice.go
  tools/cli/internal/openapi/slice/slice_test.go
Due: ./tools/cli/precommit.sh

feat: add slice/extract command to filter OpenAPI specs by tags, operation IDs, and paths
  tools/cli/internal/openapi/filter/slice.go
  tools/cli/internal/openapi/filter/slice_test.go
Due: ./tools/cli/precommit.sh

fix: resolve golangci-lint issues
  tools/cli/internal/openapi/filter/slice.go
Due: ./tools/cli/precommit.sh

feat: add ParametersFilter and refactor slice into separate package
  tools/cli/internal/openapi/filter/slice.go
  tools/cli/internal/openapi/filter/slice_test.go
Due: ./tools/cli/precommit.sh

fix: fix schema filter to remove unused schemas with circular dependencies
  tools/cli/internal/collections/queue/queue.go
  tools/cli/internal/collections/queue/queue_test.go
  tools/cli/internal/collections/set/set.go
  tools/cli/internal/collections/set/set_test.go
  tools/cli/internal/openapi/filter/schemas.go
  tools/cli/internal/openapi/filter/schemas_test.go
  tools/cli/internal/set/mapset.go
  tools/cli/internal/set/mapset_test.go
  tools/cli/internal/set/set.go
Due: ./tools/cli/precommit.sh

feat: add set implementation
  tools/cli/internal/set/mapset.go
  tools/cli/internal/set/mapset_test.go
  tools/cli/internal/set/set.go
Due: ./tools/cli/precommit.sh

fix: add flag and usage for the slice parameters
  tools/cli/internal/cli/split/split.go
  tools/cli/internal/cli/split/split_test.go
Due: ./tools/cli/precommit.sh

fix: fix copyright in split package
  tools/cli/internal/cli/split/split.go
  tools/cli/internal/cli/split/split_test.go
Due: ./tools/cli/precommit.sh

chore: fix golangci-lint issues in collections and schema filter
  tools/cli/internal/collections/queue/queue.go
  tools/cli/internal/collections/queue/queue_test.go
  tools/cli/internal/collections/set/set_test.go
  tools/cli/internal/openapi/filter/schemas.go
Due: ./tools/cli/precommit.sh

fix: add discriminator mapping support to schema filter and update test fixtures
  tools/cli/internal/openapi/filter/schemas.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

chore: simplify collections package implementations
  tools/cli/internal/collections/queue/queue.go
  tools/cli/internal/collections/set/set.go
  tools/cli/test/data/split/prod/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/prod/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/prod/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/prod/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/prod/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/prod/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/prod/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/prod/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/prod/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/prod/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/prod/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/prod/openapi-v2-2024-08-05.yaml
Due: prettier --write, ./tools/cli/precommit.sh

revert: undo changes to prod test files
  tools/cli/test/data/split/prod/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/prod/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/prod/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/prod/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/prod/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/prod/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/prod/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/prod/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/prod/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/prod/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/prod/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/prod/openapi-v2-2024-08-05.yaml
Due: prettier --write

refactor: remove custom set implementation
  tools/cli/internal/collections/set/set.go
  tools/cli/internal/collections/set/set_test.go
  tools/cli/internal/openapi/filter/schemas.go
  tools/cli/internal/queue/queue.go
  tools/cli/internal/queue/queue_test.go
Due: ./tools/cli/precommit.sh

fix: fix docs misspell
  tools/cli/internal/openapi/filter/schemas.go
Due: ./tools/cli/precommit.sh

feat: add filter to delete unused reponses
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/response.go
  tools/cli/internal/openapi/filter/response_test.go
Due: ./tools/cli/precommit.sh

refactor: use slice as queue and remove custom queue implementation
  tools/cli/internal/openapi/filter/schemas.go
  tools/cli/internal/queue/queue.go
  tools/cli/internal/queue/queue_test.go
Due: ./tools/cli/precommit.sh

feat: add filter to delete unused responses (#1067)
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/response.go
  tools/cli/internal/openapi/filter/response_test.go
Due: ./tools/cli/precommit.sh

updated
  package-lock.json
Due: prettier --write

fix: fix schema filter to remove unused schemas with circular dependencies (#1062)
  tools/cli/internal/openapi/filter/schemas.go
  tools/cli/internal/openapi/filter/schemas_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

npm install
  package-lock.json
Due: prettier --write

fix: fix npm lint
  package-lock.json
Due: prettier --write

fix(ipa): Add AI to operation summary format ignore list
  tools/spectral/ipa/rulesets/IPA-117.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): Add AI to operation summary format ignore list (#1077)
  tools/spectral/ipa/rulesets/IPA-117.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

ci(ipa): release new version 9.0.1
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

fix: fix patch version
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 9.1.0 (#1079)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

fix: fix npm and gen IPA docs
  package-lock.json
  tools/spectral/ipa/package-lock.json
Due: prettier --write

fix: revert ipa package-lock.json
  tools/spectral/ipa/package-lock.json
Due: prettier --write

fix: fix npm install
  package-lock.json
Due: prettier --write

fix: npm install
  package-lock.json
Due: prettier --write

chore(ipa): remove temp overrides
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

chore(ipa): remove temp overrides (#1088)
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: Latest API version points to preview
  .github/scripts/generateSpecMapping.js
  .github/workflows/generate-bump-pages.yml
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: Latest API version points to preview (#1090)
  .github/scripts/generateSpecMapping.js
  .github/workflows/generate-bump-pages.yml
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: hidden filter does not hide preview API if a stable is already released
  tools/cli/internal/openapi/filter/hidden_envs.go
  tools/cli/internal/openapi/filter/hidden_envs_test.go
Due: ./tools/cli/precommit.sh

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json,md}
  jest --findRelatedTests --passWithNoTests: any of: **/*.js
  node tools/spectral/ipa/scripts/generateRulesetReadme.js: any of: tools/spectral/ipa/**/*.yaml
  ./tools/cli/precommit.sh: any of: **/*.go
