Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

feat(ipa): new rule xgen-IPA-117-operation-summary-single-item-wording
  tools/spectral/ipa/__tests__/IPA117OperationSummarySingleItemWording.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117OperationSummarySingleItemWording.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

add test case
  tools/spectral/ipa/__tests__/IPA117OperationSummarySingleItemWording.test.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

address the comments
  .github/scripts/handle_warning_violations.sh
  .github/workflows/release-IPA-metrics.yml
Due: none

feat(ipa): new rule xgen-IPA-117-operation-summary-single-item-wording (#913)
  tools/spectral/ipa/__tests__/IPA117OperationSummarySingleItemWording.test.js
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA117OperationSummarySingleItemWording.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

comment out git workflow step
  .github/workflows/release-IPA-metrics.yml
Due: none

enablement note
  .github/workflows/release-IPA-metrics.yml
Due: none

ci(ipa): automatic warning-level violation detection (#905)
  .github/scripts/handle_warning_violations.sh
  .github/workflows/release-IPA-metrics.yml
  tools/spectral/ipa/__tests__/metrics/data/collector-results.log
  tools/spectral/ipa/__tests__/metrics/data/expected-metric-results.json
  tools/spectral/ipa/__tests__/metrics/metricCollection.test.js
  tools/spectral/ipa/metrics/metricCollection.js
  tools/spectral/ipa/metrics/scripts/runMetricCollection.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

prettier fix
  tools/spectral/ipa/rulesets/functions/IPA108DeleteMethodResponseShouldNotHaveSchema.js
  tools/spectral/ipa/rulesets/functions/IPA114ApiErrorHasBadRequestDetail.js
  tools/spectral/ipa/rulesets/functions/IPA114ParameterizedPathsHave404NotFound.js
  tools/spectral/ipa/rulesets/functions/IPA117DescriptionMustNotUseHtml.js
  tools/spectral/ipa/rulesets/functions/IPA117ObjectsMustBeWellDefined.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

CLOUDP-338971: [Postman] Disable Postman metric tracking
  .github/workflows/postman-metrics.yml
  tools/postman/Makefile
  tools/postman/README.md
  tools/postman/scripts/compare-forks.sh
  tools/postman/scripts/fetch-forks.sh
  tools/postman/scripts/send-fork-data.sh
Due: prettier --write

chore: Remove Postman metric tracking via GH Action (#915)
  .github/workflows/postman-metrics.yml
  tools/postman/Makefile
  tools/postman/README.md
  tools/postman/scripts/compare-forks.sh
  tools/postman/scripts/fetch-forks.sh
  tools/postman/scripts/send-fork-data.sh
Due: prettier --write

ci(ipa): release new version 2.3.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 2.3.0 (#916)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

POC: spellcheck
  package-lock.json
  package.json
  tools/spectral/ipa/__tests__/IPA100Spellcheck.test.js
  tools/spectral/ipa/rulesets/IPA-100.yaml
  tools/spectral/ipa/rulesets/functions/IPA100Spellcheck.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): exception reason formatting
  tools/spectral/ipa/__tests__/IPA005ExceptionExtensionFormat.test.js
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/functions/IPA005ExceptionExtensionFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): exception reason formatting
  tools/spectral/ipa/__tests__/IPA005ExceptionExtensionFormat.test.js
  tools/spectral/ipa/rulesets/functions/IPA005ExceptionExtensionFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

doc fix
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write, node tools/spectral/ipa/scripts/generateRulesetReadme.js

override
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

prettier fix
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

logic fix
  tools/spectral/ipa/__tests__/IPA005ExceptionExtensionFormat.test.js
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/functions/IPA005ExceptionExtensionFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

logic fix
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

prettier fix
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA005ExceptionExtensionFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

Add -i to curl examples in the OpenAPI
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
  tools/cli/test/e2e/cli/output/.gitkeep
Due: prettier --write, ./tools/cli/precommit.sh

fixes
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
Due: prettier --write, ./tools/cli/precommit.sh

feat: Add --include to curl examples in the OpenAPI (#919)
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-01-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-02-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.json
  tools/cli/test/data/split/dev/openapi-v2-2023-10-01.yaml
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.json
  tools/cli/test/data/split/dev/openapi-v2-2023-11-15.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.json
  tools/cli/test/data/split/dev/openapi-v2-2024-05-30.yaml
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.json
  tools/cli/test/data/split/dev/openapi-v2-2024-08-05.yaml
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.json
  tools/cli/test/data/split/dev/openapi-v2-2025-01-01.yaml
  tools/cli/test/e2e/cli/output/.gitkeep
Due: prettier --write, ./tools/cli/precommit.sh

ci: temp disable automatic OAS release
  .github/workflows/release-spec-runner.yml
Due: none

ci: temp disable automatic OAS release (#921)
  .github/workflows/release-spec-runner.yml
Due: none

fix(ipa): exception reason formatting (#918)
  tools/spectral/ipa/__tests__/IPA005ExceptionExtensionFormat.test.js
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-005.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA005ExceptionExtensionFormat.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): Handle abbreviations/numbers in op ID rules
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA109ValidOperationID.test.js
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): refactor, rename pluralization ignore list
  tools/spectral/ipa/rulesets/IPA-104.yaml
  tools/spectral/ipa/rulesets/IPA-105.yaml
  tools/spectral/ipa/rulesets/IPA-106.yaml
  tools/spectral/ipa/rulesets/IPA-107.yaml
  tools/spectral/ipa/rulesets/IPA-108.yaml
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/README.md
  tools/spectral/ipa/rulesets/functions/IPA104ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA105ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA106ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA107ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA108ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/IPA109ValidOperationID.js
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

more custom words
  tools/spectral/ipa/rulesets/IPA-100.yaml
  tools/spectral/ipa/rulesets/functions/IPA100Spellcheck.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(ipa): Handle abbreviations/numbers in op ID rules (#927)
  tools/spectral/ipa/__tests__/IPA104ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA105ValidOperationID.test.js
  tools/spectral/ipa/__tests__/IPA109ValidOperationID.test.js
  tools/spectral/ipa/__tests__/utils/operationIdGeneration.test.js
  tools/spectral/ipa/rulesets/IPA-109.yaml
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
  tools/spectral/ipa/rulesets/functions/utils/validations/validateOperationIdAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: add jsdoc
  tools/spectral/ipa/rulesets/functions/utils/operationIdGeneration.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

ci(ipa): release new version 3.3.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci(ipa): release new version 3.3.0 (#930)
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

Revert "ci: temp disable automatic OAS release (#921)"
  .github/workflows/release-spec-runner.yml
Due: none

ci: Revert temp disable automatic OAS release (#931)
  .github/workflows/release-spec-runner.yml
Due: none
