Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

Fix to the current script
  .github/workflows/release-postman.yml
  tools/postman/Makefile
  tools/postman/scripts/delete-sunsetted-collections.sh
  tools/postman/scripts/upload-collection.sh
Due: none

revert the release-postman.yml file
  .github/workflows/release-postman.yml
Due: none

ci: push Go submodule tag on release
  .github/workflows/release-cli.yml
Due: none

chore: remove experimental mcp-server
  .github/workflows/code-health-mcp-server.yml
  .gitignore
  tools/go.work
  tools/mcp-server/.golangci.yml
  tools/mcp-server/Makefile
  tools/mcp-server/cmd/main.go
  tools/mcp-server/go.mod
  tools/mcp-server/go.sum
  tools/mcp-server/internal/registry/registry.go
  tools/mcp-server/internal/registry/registry_test.go
  tools/mcp-server/internal/resources/alias.go
  tools/mcp-server/internal/resources/alias_test.go
  tools/mcp-server/internal/resources/resources.go
  tools/mcp-server/internal/resources/specs.go
  tools/mcp-server/internal/resources/specs_test.go
  tools/mcp-server/internal/resources/tags.go
  tools/mcp-server/internal/resources/tags_test.go
  tools/mcp-server/internal/resources/testhelper_test.go
  tools/mcp-server/internal/resources/uri.go
  tools/mcp-server/internal/resources/uri_test.go
  tools/mcp-server/internal/tools/export.go
  tools/mcp-server/internal/tools/load.go
  tools/mcp-server/internal/tools/load_test.go
  tools/mcp-server/internal/tools/search.go
  tools/mcp-server/internal/tools/search_test.go
  tools/mcp-server/internal/tools/slice.go
  tools/mcp-server/internal/tools/slice_test.go
  tools/mcp-server/internal/tools/testhelper_test.go
  tools/mcp-server/internal/tools/tools.go
  tools/mcp-server/internal/tools/unload.go
Due: ./tools/cli/precommit.sh

fix: gci import grouping, exclude e2e from unit-test, restore exemptions fixture
  .gitignore
  tools/cli/Makefile
  tools/cli/breakingchanges/exemptions/parse.go
  tools/cli/changelog/convert/slack.go
  tools/cli/changelog/create.go
  tools/cli/changelog/metadata/create.go
  tools/cli/filter/filter.go
  tools/cli/root/openapi/builder.go
  tools/cli/versions/versions.go
  tools/foas/test/data/exemptions/exemptions.txt
Due: ./tools/cli/precommit.sh

docs(release): document three-tag release flow; clean up vestigial GOWORK
  .github/workflows/release-cli.yml
  tools/cli/RELEASING.md
Due: prettier --write

split code-health and release workflows per module
  .github/workflows/code-health-cli.yml
  .github/workflows/code-health-foas.yml
  .github/workflows/code-health-foascli.yml
  .github/workflows/release-cli.yml
  .github/workflows/release-foas.yml
  tools/cli/RELEASING.md
  tools/foas/RELEASING.md
Due: prettier --write

fix doc_filters.sh grep to match current Go doc style; regenerate filter README
  tools/foas/openapi/filter/README.md
  tools/foas/scripts/doc_filters.sh
Due: prettier --write

chore(foas): scaffold tools/foas library module
  .github/workflows/code-health-foas-lib.yml
  tools/foas/.golangci.yml
  tools/foas/Makefile
  tools/foas/doc.go
  tools/foas/go.mod
  tools/go.work
Due: ./tools/cli/precommit.sh

chore: move apiversion package into tools/foas
  tools/cli/go.mod
  tools/cli/internal/changelog/changelog.go
  tools/cli/internal/cli/changelog/metadata/create.go
  tools/cli/internal/cli/filter/filter.go
  tools/cli/internal/cli/versions/versions.go
  tools/cli/internal/openapi/filter/bump_test.go
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/internal/openapi/filter/extension_test.go
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/filter_test.go
  tools/cli/internal/openapi/filter/hidden_envs.go
  tools/cli/internal/openapi/filter/hidden_envs_test.go
  tools/cli/internal/openapi/filter/info.go
  tools/cli/internal/openapi/filter/info_test.go
  tools/cli/internal/openapi/filter/versioning.go
  tools/cli/internal/openapi/filter/versioning_extension.go
  tools/cli/internal/openapi/filter/versioning_extension_test.go
  tools/cli/internal/openapi/filter/versioning_test.go
  tools/cli/internal/openapi/versions.go
  tools/cli/pkg/apiversion/apiversion.go
  tools/cli/test/e2e/cli/split_test.go
  tools/foas/apiversion/stabilitylevel.go
  tools/foas/apiversion/stabilitylevel_test.go
  tools/foas/apiversion/version.go
  tools/foas/apiversion/version_test.go
  tools/foas/go.mod
  tools/foas/go.sum
  tools/go.work.sum
Due: ./tools/cli/precommit.sh

fix gci import ordering after apiversion move
  tools/cli/internal/changelog/changelog.go
  tools/cli/internal/cli/changelog/metadata/create.go
  tools/cli/internal/cli/filter/filter.go
  tools/cli/internal/cli/versions/versions.go
  tools/cli/internal/openapi/filter/hidden_envs_test.go
  tools/cli/internal/openapi/versions.go
Due: ./tools/cli/precommit.sh

chore: wire up CI and release workflows for foas module
  .github/workflows/code-health-foascli.yml
  .github/workflows/release-foas-lib.yml
Due: none

feat(ipa): add MCP to acronym ignore lists in IPA-117 and IPA-126
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/IPA-126.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

address the comments
  .github/workflows/code-health-foas-lib.yml
  .github/workflows/release-foas-lib.yml
Due: none

fix(ci): grant failure-handler job write permissions in foas release workflow
  .github/workflows/release-foas-lib.yml
Due: none

fix comments
  .github/workflows/release-foas-lib.yml
Due: none

chore(ipa): bump version to 10.1.1
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

CLOUDP-414595: Fix node version mismatch in required-spec-validations
  .github/workflows/required-spec-validations.yml
Due: none

Update ipa-spectral to include mongoDBEmployeeAccessGrant
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

addressed comment
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

feat(ipa): Promote warning rules to error
  tools/spectral/ipa/__tests__/IPA113ResetMethodMustNotHaveRequestBody.test.js
  tools/spectral/ipa/__tests__/IPA113ResetMethodMustReturn200OK.test.js
  tools/spectral/ipa/__tests__/IPA113ResetMethodMustUsePost.test.js
  tools/spectral/ipa/__tests__/IPA113ResetMethodNotOnReadonlySingleton.test.js
  tools/spectral/ipa/__tests__/IPA113ResetMethodOnlyOnSingletonResources.test.js
  tools/spectral/ipa/__tests__/IPA117RequestResponseBodiesMustBeWellDefined.test.js
  tools/spectral/ipa/rulesets/IPA-113.yaml
  tools/spectral/ipa/rulesets/IPA-117.yaml
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix: update readme
  tools/spectral/ipa/rulesets/README.md
Due: prettier --write

ci(ipa): release new version 11.0.0
  tools/spectral/ipa/CHANGELOG.md
  tools/spectral/ipa/package.json
Due: prettier --write

ci: Add sunset date drift report action
  .github/scripts/get_sunset_date_drift.sh
  .github/workflows/sunset-date-drift-report.yml
Due: none

chore: Update CLI makefile devtools setup
  tools/cli/Makefile
  tools/foas/Makefile
  tools/go.work.sum
Due: none

fix(ipa): handle delete request bodies in IPA-117
  tools/spectral/ipa/__tests__/IPA117RequestResponseBodiesMustBeWellDefined.test.js
  tools/spectral/ipa/rulesets/functions/IPA117RequestResponseBodiesMustBeWellDefined.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

test(cli): update changelog golden fixtures for oasdiff v1.21.0
  tools/cli/test/data/changelog/new-api-preview-version/output/changelog-all.json
  tools/cli/test/data/changelog/new-api-preview-version/output/changelog.json
  tools/cli/test/data/changelog/new-api-version/output/changelog-all.json
  tools/cli/test/data/changelog/new-api-version/output/changelog.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-01-01_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-01-01_2025-03-12.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-02-01_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-02-01_2025-03-12.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-10-01_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-10-01_2025-03-12.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-11-15_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2023-11-15_2025-03-12.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-05-30_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-05-30_2025-03-12.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-08-05_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-08-05_2025-03-12.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-10-23_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-10-23_2025-03-12.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-11-13_2025-02-19.json
  tools/cli/test/data/changelog/new-upcoming-version/output/2024-11-13_2025-03-12.json
  tools/cli/test/data/changelog/rename-api-version/output/changelog-all.json
  tools/cli/test/data/changelog/rename-api-version/output/changelog.json
Due: prettier --write

CLOUDP-373281: Move grammaticalWords and ignoreList to shared utility file
  package-lock.json
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/IPA-126.yaml
  tools/spectral/ipa/rulesets/functions/IPA117OperationSummaryFormat.js
  tools/spectral/ipa/rulesets/functions/IPA126TagNamesShouldUseTitleCase.js
  tools/spectral/ipa/rulesets/functions/utils/grammaticalWordsAndIgnoreList.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

refactor(ipa): Fix formatting with Prettier
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/IPA-126.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

refactor(ipa): Move grammaticalWords and ignoreList to shared utility file
  tools/spectral/ipa/ipa-spectral.yaml
  tools/spectral/ipa/rulesets/IPA-117.yaml
  tools/spectral/ipa/rulesets/IPA-126.yaml
  tools/spectral/ipa/rulesets/functions/IPA117OperationSummaryFormat.js
  tools/spectral/ipa/rulesets/functions/IPA126TagNamesShouldUseTitleCase.js
  tools/spectral/ipa/rulesets/functions/utils/grammaticalWordsAndIgnoreList.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js

Adding override to IPA-126-tag-names-should-use-title-case:
  tools/spectral/ipa/ipa-spectral.yaml
Due: node tools/spectral/ipa/scripts/generateRulesetReadme.js

fix(changelog): clarify endpoint version lifecycle entries
  tools/foas/changelog/changelog.go
  tools/foas/changelog/merge.go
  tools/foas/changelog/merge_test.go
  tools/foas/changelog/outputfilter/outputfilter.go
  tools/go.work.sum
Due: ./tools/cli/precommit.sh

test(ipa): cover operation version extraction and document lifecycle dedup
  tools/foas/changelog/merge.go
  tools/foas/changelog/outputfilter/operationconfig.go
  tools/foas/changelog/outputfilter/operationconfig_test.go
  tools/foas/changelog/sunset.go
Due: ./tools/cli/precommit.sh

fix(ipa): surface version release and deprecation in changelog.json
  tools/cli/test/data/changelog/new-api-preview-version/output/changelog-all.json
  tools/cli/test/data/changelog/new-api-preview-version/output/changelog.json
  tools/cli/test/data/changelog/new-api-version/output/changelog-all.json
  tools/cli/test/data/changelog/new-api-version/output/changelog.json
  tools/cli/test/data/changelog/rename-api-version/output/changelog-all.json
  tools/cli/test/data/changelog/rename-api-version/output/changelog.json
  tools/foas/changelog/changelog.go
Due: prettier --write, ./tools/cli/precommit.sh
