Repository mongodb/openapi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, jest --findRelatedTests --passWithNoTests, node tools/spectral/ipa/scripts/generateRulesetReadme.js, ./tools/cli/precommit.sh

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,md}": ["prettier --write"],
  "**/*.js": ["jest --findRelatedTests --passWithNoTests"],
  "tools/spectral/ipa/**/*.yaml": ["node tools/spectral/ipa/scripts/generateRulesetReadme.js"],
  "**/*.go": ["./tools/cli/precommit.sh"]
}

feat: Add cursor/environment.json to repo (#1163)
  .cursor/environment.json
  Makefile
  tools/.tool-versions
Due: prettier --write

CLOUDP-386719: Upgrade Go version from 1.24 to 1.26
  tools/cli/go.mod
Due: none

Fix Makefile to use bash for pushd/popd compatibility
  Makefile
Due: none

fix: use bash sintax in the Makefile for Cursor Agent
  Makefile
Due: none

fix: add --force to npx install to avoid error with cursor agent
  tools/spectral/Makefile
Due: none

build: upgrade Go version to 1.26.0
  .github/workflows/code-health-foascli.yml
  tools/.tool-versions
  tools/cli/Makefile
  tools/cli/go.mod
Due: none

fix: resolve golangci-lint v2.10.1 issues
  tools/cli/internal/changelog/changelog.go
  tools/cli/internal/changelog/manual_entry.go
  tools/cli/internal/changelog/sunset.go
  tools/cli/internal/cli/changelog/convert/slack.go
  tools/cli/internal/cli/flag/flag.go
  tools/cli/internal/openapi/errors/merge_conflict_error.go
  tools/cli/internal/openapi/filter/extension_test.go
  tools/cli/internal/openapi/oasdiff_test.go
  tools/cli/internal/version/version.go
  tools/cli/test/e2e/cli/changelog_test.go
  tools/cli/test/e2e/cli/cli.go
  tools/cli/test/e2e/cli/merge_test.go
  tools/cli/test/e2e/cli/parse_test.go
  tools/cli/test/e2e/cli/split_test.go
Due: ./tools/cli/precommit.sh

Update oasdiff_test.go
  tools/cli/internal/openapi/oasdiff_test.go
Due: ./tools/cli/precommit.sh

Update merge_conflict_error.go
  tools/cli/internal/openapi/errors/merge_conflict_error.go
Due: ./tools/cli/precommit.sh

feat: update foascli to go 1.26.0 (#1165)
  .github/workflows/code-health-foascli.yml
  tools/.tool-versions
  tools/cli/Makefile
  tools/cli/go.mod
  tools/cli/internal/changelog/changelog.go
  tools/cli/internal/changelog/manual_entry.go
  tools/cli/internal/changelog/sunset.go
  tools/cli/internal/cli/changelog/convert/slack.go
  tools/cli/internal/cli/flag/flag.go
  tools/cli/internal/openapi/errors/merge_conflict_error.go
  tools/cli/internal/openapi/filter/extension_test.go
  tools/cli/internal/openapi/oasdiff_test.go
  tools/cli/internal/version/version.go
  tools/cli/test/e2e/cli/changelog_test.go
  tools/cli/test/e2e/cli/cli.go
  tools/cli/test/e2e/cli/merge_test.go
  tools/cli/test/e2e/cli/parse_test.go
  tools/cli/test/e2e/cli/split_test.go
Due: ./tools/cli/precommit.sh

poc: FOASCLI breaking change command with custom check
  tools/cli/internal/breakingchanges/customcheckers/check_x_xgen_operation_id_override_updated.go
  tools/cli/internal/breakingchanges/customcheckers/customcheckers.go
  tools/cli/internal/cli/breakingchanges/breakingchanges.go
  tools/cli/internal/cli/breakingchanges/breakingchanges_test.go
  tools/cli/internal/cli/breakingchanges/check/check.go
  tools/cli/internal/cli/breakingchanges/check/check_test.go
  tools/cli/internal/cli/usage/usage.go
Due: ./tools/cli/precommit.sh

fix(IPA-110): relax itemsPerPage validation to require default > 1
  tools/spectral/ipa/__tests__/IPA110CollectionsRequestHasItemsPerPageQueryParam.test.js
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasItemsPerPageQueryParam.js
  tools/spectral/ipa/rulesets/functions/utils/validations/checkPaginationQueryParameterAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

refactor: unify defaultConstraint to always be an object
  tools/spectral/ipa/rulesets/functions/IPA110CollectionsRequestHasPageNumQueryParam.js
  tools/spectral/ipa/rulesets/functions/utils/validations/checkPaginationQueryParameterAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

refactor: add max support and rename defaultConstraint to constraint
  tools/spectral/ipa/rulesets/functions/utils/validations/checkPaginationQueryParameterAndReturnErrors.js
Due: prettier --write, jest --findRelatedTests --passWithNoTests

fix: fix linting
  .husky/pre-commit
  package-lock.json
  tools/cli/internal/changelog/outputfilter/operationconfig_test.go
  tools/cli/internal/cli/filter/filter.go
  tools/cli/internal/cli/filter/filter_test.go
  tools/cli/internal/cli/merge/merge_test.go
  tools/cli/internal/cli/split/split.go
  tools/cli/internal/cli/split/split_test.go
  tools/cli/internal/openapi/filter/bump_test.go
  tools/cli/internal/openapi/filter/code_sample.go
  tools/cli/internal/openapi/filter/code_sample_test.go
  tools/cli/internal/openapi/filter/extension_test.go
  tools/cli/internal/openapi/filter/filter.go
  tools/cli/internal/openapi/filter/filter_test.go
  tools/cli/internal/openapi/filter/hidden_envs.go
  tools/cli/internal/openapi/filter/hidden_envs_test.go
  tools/cli/internal/openapi/filter/info.go
  tools/cli/internal/openapi/filter/info_test.go
  tools/cli/internal/openapi/filter/parameters_test.go
  tools/cli/internal/openapi/filter/response_test.go
  tools/cli/internal/openapi/filter/versioning.go
  tools/cli/internal/openapi/filter/versioning_extension.go
  tools/cli/internal/openapi/filter/versioning_extension_test.go
  tools/cli/internal/openapi/filter/versioning_test.go
  tools/cli/internal/openapi/slice/slice.go
  tools/cli/internal/openapi/versions.go
  tools/cli/test/e2e/cli/cli.go
Due: prettier --write, ./tools/cli/precommit.sh

fix: fix sunset ls to report all sunsetting versions of a resource
  tools/cli/internal/openapi/sunset/sunset.go
  tools/cli/internal/openapi/sunset/sunset_test.go
Due: ./tools/cli/precommit.sh

fix: improve sunset ls naming and sort by sunset date
  tools/cli/internal/cli/sunset/list.go
  tools/cli/internal/openapi/sunset/sunset.go
  tools/cli/internal/openapi/sunset/sunset_test.go
Due: ./tools/cli/precommit.sh

Revert "fix: improve sunset ls naming and sort by sunset date"
  tools/cli/internal/cli/sunset/list.go
  tools/cli/internal/openapi/sunset/sunset.go
  tools/cli/internal/openapi/sunset/sunset_test.go
Due: ./tools/cli/precommit.sh

fix: sort sunset list by sunset date then version
  tools/cli/internal/openapi/sunset/sunset.go
Due: ./tools/cli/precommit.sh

feat: add mcp server (load, unload, export tools + registry)
  tools/cli/pkg/openapi/openapi.go
  tools/mcp-server/Makefile
  tools/mcp-server/cmd/main.go
  tools/mcp-server/go.mod
  tools/mcp-server/go.sum
  tools/mcp-server/internal/registry/registry.go
  tools/mcp-server/internal/registry/registry_test.go
  tools/mcp-server/internal/tools/export.go
  tools/mcp-server/internal/tools/load.go
  tools/mcp-server/internal/tools/load_test.go
  tools/mcp-server/internal/tools/tools.go
  tools/mcp-server/internal/tools/unload.go
Due: ./tools/cli/precommit.sh

CI fix
  .github/workflows/code-health-mcp-server.yml
  tools/cli/pkg/openapi/openapi.go
  tools/go.work
  tools/mcp-server/.golangci.yml
  tools/mcp-server/go.mod
Due: ./tools/cli/precommit.sh

CI fix
  tools/mcp-server/internal/registry/registry.go
  tools/mcp-server/internal/registry/registry_test.go
  tools/mcp-server/internal/tools/load_test.go
  tools/mcp-server/internal/tools/tools.go
Due: ./tools/cli/precommit.sh

Update tools/cli/pkg/openapi/openapi.go
  tools/cli/pkg/openapi/openapi.go
Due: ./tools/cli/precommit.sh

feat(mcp): add search tool
  tools/mcp-server/internal/tools/search.go
  tools/mcp-server/internal/tools/search_test.go
  tools/mcp-server/internal/tools/tools.go
Due: ./tools/cli/precommit.sh

lining fixes
  tools/mcp-server/internal/tools/search.go
  tools/mcp-server/internal/tools/search_test.go
Due: ./tools/cli/precommit.sh

add more detailed tool description
  tools/mcp-server/internal/tools/tools.go
Due: ./tools/cli/precommit.sh

feat: add slice tool to mcp
  tools/cli/pkg/openapi/openapi.go
  tools/mcp-server/go.mod
  tools/mcp-server/go.sum
  tools/mcp-server/internal/tools/search_test.go
  tools/mcp-server/internal/tools/slice.go
  tools/mcp-server/internal/tools/slice_test.go
  tools/mcp-server/internal/tools/testhelper_test.go
  tools/mcp-server/internal/tools/tools.go
Due: ./tools/cli/precommit.sh

fix
  tools/mcp-server/internal/tools/slice.go
  tools/mcp-server/internal/tools/slice_test.go
Due: ./tools/cli/precommit.sh

feat: add resources for listing specs in the registry and get a summary for a specific one
  tools/cli/pkg/apiversion/apiversion.go
  tools/cli/pkg/openapi/openapi.go
  tools/mcp-server/cmd/main.go
  tools/mcp-server/internal/resources/resource_alias.go
  tools/mcp-server/internal/resources/resource_alias_test.go
  tools/mcp-server/internal/resources/resource_specs.go
  tools/mcp-server/internal/resources/resource_specs_test.go
  tools/mcp-server/internal/resources/resources.go
  tools/mcp-server/internal/resources/testhelper_test.go
  tools/mcp-server/internal/tools/tools.go
Due: ./tools/cli/precommit.sh

description fix
  tools/mcp-server/internal/resources/resources.go
Due: ./tools/cli/precommit.sh

CLOUDP-391734: create FOASCLI sunset diff command
  tools/cli/internal/cli/sunset/diff.go
  tools/cli/internal/cli/sunset/diff_test.go
  tools/cli/internal/cli/sunset/list.go
  tools/cli/internal/cli/sunset/sunset.go
  tools/cli/internal/cli/sunset/sunset_test.go
  tools/cli/test/data/base_spec_with_mismatching_sunset_dates.json
Due: prettier --write, ./tools/cli/precommit.sh

fix: lint
  tools/cli/internal/cli/sunset/diff_test.go
Due: ./tools/cli/precommit.sh

fixes
  tools/mcp-server/internal/resources/alias.go
  tools/mcp-server/internal/resources/alias_test.go
  tools/mcp-server/internal/resources/specs.go
  tools/mcp-server/internal/resources/specs_test.go
  tools/mcp-server/internal/resources/testhelper_test.go
  tools/mcp-server/internal/resources/uri.go
Due: ./tools/cli/precommit.sh

fix
  tools/mcp-server/internal/resources/alias.go
Due: ./tools/cli/precommit.sh

CLOUDP-397392: Fix documentation link in README.md
  README.md
Due: prettier --write

fix: address comments
  tools/cli/internal/cli/sunset/diff.go
  tools/cli/internal/cli/sunset/diff_test.go
  tools/cli/test/e2e/cli/sunset_test.go
Due: ./tools/cli/precommit.sh

fix: lint
  tools/cli/internal/cli/sunset/diff_test.go
  tools/cli/test/e2e/cli/sunset_test.go
Due: ./tools/cli/precommit.sh

feat: add tags resource to the mcp server
  tools/mcp-server/internal/resources/resources.go
  tools/mcp-server/internal/resources/tags.go
  tools/mcp-server/internal/resources/tags_test.go
  tools/mcp-server/internal/resources/uri.go
Due: ./tools/cli/precommit.sh

address the comments
  tools/mcp-server/go.mod
  tools/mcp-server/internal/resources/alias.go
  tools/mcp-server/internal/resources/alias_test.go
  tools/mcp-server/internal/resources/resources.go
  tools/mcp-server/internal/resources/specs_test.go
  tools/mcp-server/internal/resources/tags.go
  tools/mcp-server/internal/resources/tags_test.go
  tools/mcp-server/internal/resources/uri.go
  tools/mcp-server/internal/resources/uri_test.go
Due: ./tools/cli/precommit.sh
